@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: e;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

@font-face {
  font-family: "王漢宗特明體繁";
  src: url(../font/WT004.TTF); }

@font-face {
  font-family: "Adobe Heiti Std R";
  src: url(../font/ADOBEHEITISTD-REGULAR.OTF); }

p {
  line-height: 1.5; }

.textEmphasis {
  font-size: 3rem;
  color: #362e2b;
  font-family: 王漢宗特明體繁;
  letter-spacing: 10px; }

.textHiliR {
  color: #a34f49; }

.textHiliB {
  color: #006ca6; }

.titlePri {
  font-family: 王漢宗特明體繁;
  color: #006ca6;
  font-size: 3rem;
  text-align: center; }

.titleSec {
  position: relative;
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  margin: 80px 0; }

.titleThi {
  position: relative;
  color: #443c3a;
  font-size: 1.35rem;
  font-family: Adobe Heiti Std R;
  text-align: center; }

.titleFou {
  position: relative;
  color: #554e4d;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R; }

.titleSec img {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

.textL {
  font-family: Adobe Heiti Std R;
  font-size: 1.5rem; }

.textM {
  color: #362e2b;
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
  text-align: center; }

.textS {
  font-family: Adobe Heiti Std R;
  font-size: 1rem; }

body {
  background-image: url("../../image/background/BgPage.png");
  background-repeat: no-repeat;
  background-size: cover; }

.menu {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  border: 7px dashed #5f6f70;
  box-shadow: 0px 0px 0px 2px #000 inset, 0px 0px 0px 2px #000; }
  .menu #logo {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px; }
  .menu p {
    font-family: Adobe Heiti Std R;
    font-size: 1rem; }
    .menu p #manager {
      color: #006ca6; }

.menuUl li {
  margin: 30px 0;
  display: block; }
  .menuUl li a {
    color: #362e2b;
    font-family: Adobe Heiti Std R;
    font-size: 1.25rem; }
  .menuUl li a:hover {
    color: #006ca6; }

.contentWrap {
  padding-top: 20px; }
  .contentWrap .content {
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-left: 280px;
    max-width: 1800px;
    margin-right: 20px;
    border-radius: 30px;
    position: relative; }
    .contentWrap .content table {
      border-spacing: 0 1rem;
      text-align: center;
      color: #362e2b;
      font-family: Adobe Heiti Std R; }
      .contentWrap .content table tr th {
        width: 160px;
        padding: 1rem 0; }
      .contentWrap .content table tr td {
        vertical-align: middle;
        height: 50px; }
      .contentWrap .content table tr:nth-child(even) {
        background-color: #BBB09D; }
      .contentWrap .content table img {
        width: 30px; }

.dataTable {
  width: 100%; }
  .dataTable table {
    width: 100%;
    border-spacing: 0.5rem 0rem; }

.pagination ul {
  display: flex;
  justify-content: center; }

.pagination ul li {
  margin: 10px;
  font-size: 20px;
  background-color: #006ca6;
  padding: 10px; }
  .pagination ul li a {
    color: #fffcf2;
    margin: 0 5px;
    font-family: Adobe Heiti Std R; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiYmFja1N0YWdlLmNzcyIsInNvdXJjZXMiOlsiYmFja1N0YWdlLnNjc3MiLCIuLi9iYXNlL19yZXNldC5zY3NzIiwiLi4vYmFzZS9fZm9udC5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi8vIGNzcy1yZXNldFxuQGltcG9ydCdzYXNzL2Jhc2UvcmVzZXQnO1xuXG4vL+aWh+Wtl+Wkp+Wwj+Wtl+Wei+ioreWumlxuQGltcG9ydCdzYXNzL2Jhc2UvZm9udCc7XG5cbi8vICoge1xuLy8gICAgIG91dGxpbmU6IDFweCBzb2xpZCBibGFjaztcbi8vIH1cblxuYm9keSB7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vLi4vaW1hZ2UvYmFja2dyb3VuZC9CZ1BhZ2UucG5nXCIpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3Zlcjtcbn1cblxuLy8g5bem6YKK6YG45ZauXG4ubWVudSB7XG4gICAgd2lkdGg6IDI1MHB4O1xuICAgIGhlaWdodDogMTAwJTtcbiAgICBwb3NpdGlvbjogZml4ZWQ7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjkpO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICAvLyBvdmVyZmxvdy15OiBzY3JvbGw7XG4gICAgYm9yZGVyOiA3cHggZGFzaGVkICM1ZjZmNzA7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCAwcHggMnB4ICMwMDAgaW5zZXQsXG4gICAgICAgIDBweCAwcHggMHB4IDJweCAjMDAwO1xuXG4gICAgI2xvZ28ge1xuICAgICAgICB3aWR0aDogODAlO1xuICAgICAgICBtYXJnaW46IGF1dG87XG4gICAgICAgIG1hcmdpbi10b3A6IDIwcHg7XG4gICAgICAgIG1hcmdpbi1ib3R0b206IDI1cHg7XG4gICAgfVxuXG4gICAgcCB7XG4gICAgICAgIGZvbnQtZmFtaWx5OiAkZm9mYVRleHQ7XG4gICAgICAgIGZvbnQtc2l6ZTogMXJlbTtcblxuICAgICAgICAjbWFuYWdlciB7XG4gICAgICAgICAgICBjb2xvcjogJGJsdWU7XG4gICAgICAgIH1cbiAgICB9XG59XG5cbi5tZW51VWwge1xuICAgIGxpIHtcbiAgICAgICAgbWFyZ2luOiAzMHB4IDA7XG4gICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuXG4gICAgICAgIGEge1xuICAgICAgICAgICAgY29sb3I6ICRicm93bjtcbiAgICAgICAgICAgIGZvbnQtZmFtaWx5OiAkZm9mYVRleHQ7XG4gICAgICAgICAgICBmb250LXNpemU6IDEuMjVyZW07XG4gICAgICAgIH1cbiAgICAgICAgYTpob3ZlcntcbiAgICAgICAgICAgIGNvbG9yOiAkYmx1ZTtcbiAgICAgICAgfVxuICAgIH1cbn1cblxuXG4vLyDlj7Ppgop0YWJsZVxuLmNvbnRlbnRXcmFwIHtcbiAgICBwYWRkaW5nLXRvcDogMjBweDtcblxuICAgIC5jb250ZW50IHtcbiAgICAgICAgb3ZlcmZsb3cteDogYXV0bztcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjkpO1xuICAgICAgICBwYWRkaW5nOiAyMHB4O1xuICAgICAgICBtYXJnaW4tbGVmdDogMjgwcHg7XG4gICAgICAgIG1heC13aWR0aDogMTgwMHB4O1xuICAgICAgICBtYXJnaW4tcmlnaHQ6IDIwcHg7XG4gICAgICAgIGJvcmRlci1yYWRpdXM6IDMwcHg7XG4gICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcblxuICAgICAgICB0YWJsZSB7XG4gICAgICAgICAgICBib3JkZXItc3BhY2luZzogMCAxcmVtO1xuICAgICAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgICAgICAgY29sb3I6ICRicm93bjtcbiAgICAgICAgICAgIGZvbnQtZmFtaWx5OiAkZm9mYVRleHQ7XG5cbiAgICAgICAgICAgIHRyIHtcblxuICAgICAgICAgICAgICAgIHRoIHtcbiAgICAgICAgICAgICAgICAgICAgd2lkdGg6IDE2MHB4O1xuICAgICAgICAgICAgICAgICAgICBwYWRkaW5nOiAxcmVtIDA7XG5cbiAgICAgICAgICAgICAgICB9XG5cbiAgICAgICAgICAgICAgICB0ZCB7XG4gICAgICAgICAgICAgICAgICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XG4gICAgICAgICAgICAgICAgICAgIGhlaWdodDogNTBweDtcbiAgICAgICAgICAgICAgICB9XG5cbiAgICAgICAgICAgIH1cblxuICAgICAgICAgICAgdHI6bnRoLWNoaWxkKGV2ZW4pIHtcbiAgICAgICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjQkJCMDlEO1xuICAgICAgICAgICAgfVxuXG4gICAgICAgICAgICBpbWcge1xuICAgICAgICAgICAgICAgIHdpZHRoOiAzMHB4O1xuICAgICAgICAgICAgfVxuICAgICAgICB9XG5cbiAgICB9XG59XG5cbi5kYXRhVGFibGUge1xuICAgIHRhYmxlIHtcbiAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICAgIGJvcmRlci1zcGFjaW5nOiAwLjVyZW0gMHJlbTtcbiAgICB9XG5cbiAgICB3aWR0aDogMTAwJTtcbn1cblxuLnBhZ2luYXRpb24gdWwge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG59XG5cbi5wYWdpbmF0aW9uIHVsIGxpIHtcbiAgICBtYXJnaW46IDEwcHg7XG4gICAgZm9udC1zaXplOiAyMHB4O1xuICAgIGJhY2tncm91bmQtY29sb3I6ICRibHVlO1xuICAgIHBhZGRpbmc6IDEwcHg7XG5cbiAgICBhIHtcbiAgICAgICAgY29sb3I6ICRiZWlnZTtcbiAgICAgICAgbWFyZ2luOiAwIDVweDtcbiAgICAgICAgZm9udC1mYW1pbHk6ICRmb2ZhVGV4dDtcbiAgICB9XG59IiwiLyogaHR0cDovL21leWVyd2ViLmNvbS9lcmljL3Rvb2xzL2Nzcy9yZXNldC8gXG4gICB2Mi4wIHwgMjAxMTAxMjZcbiAgIExpY2Vuc2U6IG5vbmUgKHB1YmxpYyBkb21haW4pXG4qL1xuXG5odG1sLCBib2R5LCBkaXYsIHNwYW4sIGFwcGxldCwgb2JqZWN0LCBpZnJhbWUsXG5oMSwgaDIsIGgzLCBoNCwgaDUsIGg2LCBwLCBibG9ja3F1b3RlLCBwcmUsXG5hLCBhYmJyLCBhY3JvbnltLCBhZGRyZXNzLCBiaWcsIGNpdGUsIGNvZGUsXG5kZWwsIGRmbiwgZW0sIGltZywgaW5zLCBrYmQsIHEsIHMsIHNhbXAsXG5zbWFsbCwgc3RyaWtlLCBzdHJvbmcsIHN1Yiwgc3VwLCB0dCwgdmFyLFxuYiwgdSwgaSwgY2VudGVyLFxuZGwsIGR0LCBkZCwgb2wsIHVsLCBsaSxcbmZpZWxkc2V0LCBmb3JtLCBsYWJlbCwgbGVnZW5kLFxudGFibGUsIGNhcHRpb24sIHRib2R5LCB0Zm9vdCwgdGhlYWQsIHRyLCB0aCwgdGQsXG5hcnRpY2xlLCBhc2lkZSwgY2FudmFzLCBkZXRhaWxzLCBlbWJlZCwgXG5maWd1cmUsIGZpZ2NhcHRpb24sIGZvb3RlciwgaGVhZGVyLCBoZ3JvdXAsIFxubWVudSwgbmF2LCBvdXRwdXQsIHJ1YnksIHNlY3Rpb24sIHN1bW1hcnksXG50aW1lLCBtYXJrLCBhdWRpbywgdmlkZW8ge1xuXHRtYXJnaW46IDA7XG5cdHBhZGRpbmc6IDA7XG5cdGJvcmRlcjogMDtcblx0Zm9udC1zaXplOiAxMDAlO1xuXHRmb250OiBpbmhlcml0O1xuXHR2ZXJ0aWNhbC1hbGlnbjogYmFzZWxpbmU7XG59XG4vKiBIVE1MNSBkaXNwbGF5LXJvbGUgcmVzZXQgZm9yIG9sZGVyIGJyb3dzZXJzICovXG5hcnRpY2xlLCBhc2lkZSwgZGV0YWlscywgZmlnY2FwdGlvbiwgZmlndXJlLCBcbmZvb3RlciwgaGVhZGVyLCBoZ3JvdXAsIG1lbnUsIG5hdiwgc2VjdGlvbiB7XG5cdGRpc3BsYXk6IGJsb2NrO1xufVxuYm9keSB7XG5cdGxpbmUtaGVpZ2h0OiAxO1xufVxub2wsIHVsIHtcblx0bGlzdC1zdHlsZTogbm9uZTtcbn1cbmJsb2NrcXVvdGUsIHEge1xuXHRxdW90ZXM6IG5vbmU7XG59XG5ibG9ja3F1b3RlOmJlZm9yZSwgYmxvY2txdW90ZTphZnRlcixcbnE6YmVmb3JlLCBxOmFmdGVyIHtcblx0Y29udGVudDogJyc7XG5cdGNvbnRlbnQ6IG5vbmU7XG59XG50YWJsZSB7XG5cdGJvcmRlci1jb2xsYXBzZTogZTtcblx0Ym9yZGVyLXNwYWNpbmc6IDA7XG59XG5he1xuXHR0ZXh0LWRlY29yYXRpb246IG5vbmU7XG59XG5cbi5jbGVhcmZpeCB7XG5cdGNsZWFyOiBib3RoO1xufSIsIi8v5bWM5YWl5a2X5Z6LXG5AZm9udC1mYWNle1xuXHRmb250LWZhbWlseTogXCLnjovmvKLlrpfnibnmmI7pq5TnuYFcIjtcblx0c3JjOnVybCguLi9mb250L1dUMDA0LlRURik7XG59XG5AZm9udC1mYWNle1xuXHRmb250LWZhbWlseTogXCJBZG9iZSBIZWl0aSBTdGQgUlwiO1xuXHRzcmM6dXJsKC4uL2ZvbnQvQURPQkVIRUlUSVNURC1SRUdVTEFSLk9URik7XG59XG5cbi8vIOe2suermeS4u+imgeeUqOiJslxuJHJlZCA6ICNhMzRmNDk7XG4kYmx1ZSA6ICMwMDZjYTY7XG4kYnJvd24gOiAjMzYyZTJiO1xuJGJlaWdlOiAjZmZmY2YyO1xuXG4vL+e2suermeeUqOWtl1xuJGZvZmFUaXRsZSA6IOeOi+a8ouWul+eJueaYjumrlOe5gTtcbiRmb2ZhVGV4dCA6IEFkb2JlIEhlaXRpIFN0ZCBSO1xuXG4vL3DmqJnnsaTpg73mmK/ooYzpq5gxLjVcbnB7XG5cdGxpbmUtaGVpZ2h0OiAxLjU7XG59XG4vL+aomemhjOWtl+WkluingFxuLnRleHRFbXBoYXNpc3tcblx0Zm9udC1zaXplOiAzcmVtO1xuXHRjb2xvcjokYnJvd247XG5cdGZvbnQtZmFtaWx5OiAkZm9mYVRpdGxlO1xuXHRsZXR0ZXItc3BhY2luZzogMTBweDtcbn1cbi8vcOaomeexpOWFp+eahOW8t+iqv+Wtl+mhj+iJsihlZy7ku6VzdHJvbmfljIUpXG4udGV4dEhpbGlSe1xuXHRjb2xvcjokcmVkO1xufVxuLnRleHRIaWxpQntcblx0Y29sb3I6JGJsdWU7XG59XG5cbi8v5YWn6aCB56ys5LiA5bGP5qiZ6aGM77yMaDFcbi50aXRsZVByaXtcblx0Zm9udC1mYW1pbHk6ICRmb2ZhVGl0bGU7XG5cdGNvbG9yOiAkYmx1ZTtcblx0Zm9udC1zaXplOiAzcmVtO1xuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG5cbi8v5YWn6aCBaDLlia/mqJnpoYzlj4rlnJbmoYhzcmM9XCJpbWFnZS9oMmZyYW1lLnN2Z1wiXG4udGl0bGVTZWN7XG5cdHBvc2l0aW9uOiByZWxhdGl2ZTtcblx0Y29sb3I6ICRicm93bjtcblx0Zm9udC1zaXplOiAxLjVyZW07XG5cdGZvbnQtZmFtaWx5OiAkZm9mYVRleHQ7XG5cdHRleHQtYWxpZ246IGNlbnRlcjtcblx0bWFyZ2luOiA4MHB4IDA7XG59XG5cbi50aXRsZVRoaXtcblx0cG9zaXRpb246IHJlbGF0aXZlO1xuXHRjb2xvcjogIzQ0M2MzYTtcblx0Zm9udC1zaXplOiAxLjM1cmVtO1xuXHRmb250LWZhbWlseTogJGZvZmFUZXh0O1xuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG5cbi50aXRsZUZvdXtcblx0cG9zaXRpb246IHJlbGF0aXZlO1xuXHRjb2xvcjogIzU1NGU0ZDtcblx0Zm9udC1zaXplOiAxLjI1cmVtO1xuXHRmb250LWZhbWlseTogJGZvZmFUZXh0O1xufVxuXG4udGl0bGVTZWMgaW1ne1xuXHR3aWR0aDogMTEwcHg7XG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcblx0bGVmdDogNTAlO1xuXHR0b3A6IDEwMCU7XG5cdHRyYW5zZm9ybTogdHJhbnNsYXRlWCgtNTAlKSB0cmFuc2xhdGVZKC01MCUpO1xuXHR6LWluZGV4OiAtMTtcbn1cblxuLy/lhafmloflpKflrZdcbi50ZXh0THtcblx0Zm9udC1mYW1pbHk6ICRmb2ZhVGV4dDtcblx0Zm9udC1zaXplOiAxLjVyZW07XG59XG4vL+WFp+aWh+aZrumAmuWtl1xuLnRleHRNe1xuXHRjb2xvcjogJGJyb3duO1xuXHRmb250LWZhbWlseTogJGZvZmFUZXh0O1xuXHRmb250LXNpemU6IDEuMjVyZW07XG5cdHRleHQtYWxpZ246IGNlbnRlcjtcbn1cbi8v5YWn5paH5bCP5a2XXG4udGV4dFN7XG5cdGZvbnQtZmFtaWx5OiAkZm9mYVRleHQ7XG5cdGZvbnQtc2l6ZTogMXJlbTtcbn1cblxuIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiI7QUNBQTs7O0VBR0U7QUFFRixBQUFBLElBQUksRUFBRSxJQUFJLEVBQUUsR0FBRyxFQUFFLElBQUksRUFBRSxNQUFNLEVBQUUsTUFBTSxFQUFFLE1BQU07QUFDN0MsRUFBRSxFQUFFLEVBQUUsRUFBRSxFQUFFLEVBQUUsRUFBRSxFQUFFLEVBQUUsRUFBRSxFQUFFLEVBQUUsQ0FBQyxFQUFFLFVBQVUsRUFBRSxHQUFHO0FBQzFDLENBQUMsRUFBRSxJQUFJLEVBQUUsT0FBTyxFQUFFLE9BQU8sRUFBRSxHQUFHLEVBQUUsSUFBSSxFQUFFLElBQUk7QUFDMUMsR0FBRyxFQUFFLEdBQUcsRUFBRSxFQUFFLEVBQUUsR0FBRyxFQUFFLEdBQUcsRUFBRSxHQUFHLEVBQUUsQ0FBQyxFQUFFLENBQUMsRUFBRSxJQUFJO0FBQ3ZDLEtBQUssRUFBRSxNQUFNLEVBQUUsTUFBTSxFQUFFLEdBQUcsRUFBRSxHQUFHLEVBQUUsRUFBRSxFQUFFLEdBQUc7QUFDeEMsQ0FBQyxFQUFFLENBQUMsRUFBRSxDQUFDLEVBQUUsTUFBTTtBQUNmLEVBQUUsRUFBRSxFQUFFLEVBQUUsRUFBRSxFQUFFLEVBQUUsRUFBRSxFQUFFLEVBQUUsRUFBRTtBQUN0QixRQUFRLEVBQUUsSUFBSSxFQUFFLEtBQUssRUFBRSxNQUFNO0FBQzdCLEtBQUssRUFBRSxPQUFPLEVBQUUsS0FBSyxFQUFFLEtBQUssRUFBRSxLQUFLLEVBQUUsRUFBRSxFQUFFLEVBQUUsRUFBRSxFQUFFO0FBQy9DLE9BQU8sRUFBRSxLQUFLLEVBQUUsTUFBTSxFQUFFLE9BQU8sRUFBRSxLQUFLO0FBQ3RDLE1BQU0sRUFBRSxVQUFVLEVBQUUsTUFBTSxFQUFFLE1BQU0sRUFBRSxNQUFNO0FBQzFDLElBQUksRUFBRSxHQUFHLEVBQUUsTUFBTSxFQUFFLElBQUksRUFBRSxPQUFPLEVBQUUsT0FBTztBQUN6QyxJQUFJLEVBQUUsSUFBSSxFQUFFLEtBQUssRUFBRSxLQUFLLENBQUM7RUFDeEIsTUFBTSxFQUFFLENBQUM7RUFDVCxPQUFPLEVBQUUsQ0FBQztFQUNWLE1BQU0sRUFBRSxDQUFDO0VBQ1QsU0FBUyxFQUFFLElBQUk7RUFDZixJQUFJLEVBQUUsT0FBTztFQUNiLGNBQWMsRUFBRSxRQUFRLEdBQ3hCOztBQUNELGlEQUFpRDtBQUNqRCxBQUFBLE9BQU8sRUFBRSxLQUFLLEVBQUUsT0FBTyxFQUFFLFVBQVUsRUFBRSxNQUFNO0FBQzNDLE1BQU0sRUFBRSxNQUFNLEVBQUUsTUFBTSxFQUFFLElBQUksRUFBRSxHQUFHLEVBQUUsT0FBTyxDQUFDO0VBQzFDLE9BQU8sRUFBRSxLQUFLLEdBQ2Q7O0FBQ0QsQUFBQSxJQUFJLENBQUM7RUFDSixXQUFXLEVBQUUsQ0FBQyxHQUNkOztBQUNELEFBQUEsRUFBRSxFQUFFLEVBQUUsQ0FBQztFQUNOLFVBQVUsRUFBRSxJQUFJLEdBQ2hCOztBQUNELEFBQUEsVUFBVSxFQUFFLENBQUMsQ0FBQztFQUNiLE1BQU0sRUFBRSxJQUFJLEdBQ1o7O0FBQ0QsQUFBQSxVQUFVLEFBQUEsT0FBTyxFQUFFLFVBQVUsQUFBQSxNQUFNO0FBQ25DLENBQUMsQUFBQSxPQUFPLEVBQUUsQ0FBQyxBQUFBLE1BQU0sQ0FBQztFQUNqQixPQUFPLEVBQUUsRUFBRTtFQUNYLE9BQU8sRUFBRSxJQUFJLEdBQ2I7O0FBQ0QsQUFBQSxLQUFLLENBQUM7RUFDTCxlQUFlLEVBQUUsQ0FBQztFQUNsQixjQUFjLEVBQUUsQ0FBQyxHQUNqQjs7QUFDRCxBQUFBLENBQUMsQ0FBQTtFQUNBLGVBQWUsRUFBRSxJQUFJLEdBQ3JCOztBQUVELEFBQUEsU0FBUyxDQUFDO0VBQ1QsS0FBSyxFQUFFLElBQUksR0FDWDs7QUNyREQsVUFBVTtFQUNULFdBQVcsRUFBRSxnQkFBZ0I7RUFDN0IsR0FBRyxFQUFDLHNCQUFzQjs7QUFFM0IsVUFBVTtFQUNULFdBQVcsRUFBRSxtQkFBbUI7RUFDaEMsR0FBRyxFQUFDLHNDQUFzQzs7QUFjM0MsQUFBQSxDQUFDLENBQUE7RUFDQSxXQUFXLEVBQUUsR0FBRyxHQUNoQjs7QUFFRCxBQUFBLGFBQWEsQ0FBQTtFQUNaLFNBQVMsRUFBRSxJQUFJO0VBQ2YsS0FBSyxFQWRHLE9BQU87RUFlZixXQUFXLEVBWEMsY0FBYztFQVkxQixjQUFjLEVBQUUsSUFBSSxHQUNwQjs7QUFFRCxBQUFBLFVBQVUsQ0FBQTtFQUNULEtBQUssRUF0QkMsT0FBTyxHQXVCYjs7QUFDRCxBQUFBLFVBQVUsQ0FBQTtFQUNULEtBQUssRUF4QkUsT0FBTyxHQXlCZDs7QUFHRCxBQUFBLFNBQVMsQ0FBQTtFQUNSLFdBQVcsRUF4QkMsY0FBYztFQXlCMUIsS0FBSyxFQTlCRSxPQUFPO0VBK0JkLFNBQVMsRUFBRSxJQUFJO0VBQ2YsVUFBVSxFQUFFLE1BQU0sR0FDbEI7O0FBR0QsQUFBQSxTQUFTLENBQUE7RUFDUixRQUFRLEVBQUUsUUFBUTtFQUNsQixLQUFLLEVBckNHLE9BQU87RUFzQ2YsU0FBUyxFQUFFLE1BQU07RUFDakIsV0FBVyxFQWxDQSxLQUFLLENBQUMsS0FBSyxDQUFDLEdBQUcsQ0FBQyxDQUFDO0VBbUM1QixVQUFVLEVBQUUsTUFBTTtFQUNsQixNQUFNLEVBQUUsTUFBTSxHQUNkOztBQUVELEFBQUEsU0FBUyxDQUFBO0VBQ1IsUUFBUSxFQUFFLFFBQVE7RUFDbEIsS0FBSyxFQUFFLE9BQU87RUFDZCxTQUFTLEVBQUUsT0FBTztFQUNsQixXQUFXLEVBM0NBLEtBQUssQ0FBQyxLQUFLLENBQUMsR0FBRyxDQUFDLENBQUM7RUE0QzVCLFVBQVUsRUFBRSxNQUFNLEdBQ2xCOztBQUVELEFBQUEsU0FBUyxDQUFBO0VBQ1IsUUFBUSxFQUFFLFFBQVE7RUFDbEIsS0FBSyxFQUFFLE9BQU87RUFDZCxTQUFTLEVBQUUsT0FBTztFQUNsQixXQUFXLEVBbkRBLEtBQUssQ0FBQyxLQUFLLENBQUMsR0FBRyxDQUFDLENBQUMsR0FvRDVCOztBQUVELEFBQUEsU0FBUyxDQUFDLEdBQUcsQ0FBQTtFQUNaLEtBQUssRUFBRSxLQUFLO0VBQ1osUUFBUSxFQUFFLFFBQVE7RUFDbEIsSUFBSSxFQUFFLEdBQUc7RUFDVCxHQUFHLEVBQUUsSUFBSTtFQUNULFNBQVMsRUFBRSxnQkFBZ0IsQ0FBQyxnQkFBZ0I7RUFDNUMsT0FBTyxFQUFFLEVBQUUsR0FDWDs7QUFHRCxBQUFBLE1BQU0sQ0FBQTtFQUNMLFdBQVcsRUFqRUEsS0FBSyxDQUFDLEtBQUssQ0FBQyxHQUFHLENBQUMsQ0FBQztFQWtFNUIsU0FBUyxFQUFFLE1BQU0sR0FDakI7O0FBRUQsQUFBQSxNQUFNLENBQUE7RUFDTCxLQUFLLEVBM0VHLE9BQU87RUE0RWYsV0FBVyxFQXZFQSxLQUFLLENBQUMsS0FBSyxDQUFDLEdBQUcsQ0FBQyxDQUFDO0VBd0U1QixTQUFTLEVBQUUsT0FBTztFQUNsQixVQUFVLEVBQUUsTUFBTSxHQUNsQjs7QUFFRCxBQUFBLE1BQU0sQ0FBQTtFQUNMLFdBQVcsRUE3RUEsS0FBSyxDQUFDLEtBQUssQ0FBQyxHQUFHLENBQUMsQ0FBQztFQThFNUIsU0FBUyxFQUFFLElBQUksR0FDZjs7QUZ2RkQsQUFBQSxJQUFJLENBQUM7RUFDRCxnQkFBZ0IsRUFBRSx3Q0FBd0M7RUFDMUQsaUJBQWlCLEVBQUUsU0FBUztFQUM1QixlQUFlLEVBQUUsS0FBSyxHQUN6Qjs7QUFHRCxBQUFBLEtBQUssQ0FBQztFQUNGLEtBQUssRUFBRSxLQUFLO0VBQ1osTUFBTSxFQUFFLElBQUk7RUFDWixRQUFRLEVBQUUsS0FBSztFQUNmLGdCQUFnQixFQUFFLHdCQUF3QjtFQUMxQyxVQUFVLEVBQUUsTUFBTTtFQUVsQixNQUFNLEVBQUUsa0JBQWtCO0VBQzFCLFVBQVUsRUFBRSxnREFDWSxHQWlCM0I7RUExQkQsQUFXSSxLQVhDLENBV0QsS0FBSyxDQUFDO0lBQ0YsS0FBSyxFQUFFLEdBQUc7SUFDVixNQUFNLEVBQUUsSUFBSTtJQUNaLFVBQVUsRUFBRSxJQUFJO0lBQ2hCLGFBQWEsRUFBRSxJQUFJLEdBQ3RCO0VBaEJMLEFBa0JJLEtBbEJDLENBa0JELENBQUMsQ0FBQztJQUNFLFdBQVcsRUVsQlAsS0FBSyxDQUFDLEtBQUssQ0FBQyxHQUFHLENBQUMsQ0FBQztJRm1CckIsU0FBUyxFQUFFLElBQUksR0FLbEI7SUF6QkwsQUFzQlEsS0F0QkgsQ0FrQkQsQ0FBQyxDQUlHLFFBQVEsQ0FBQztNQUNMLEtBQUssRUU1QlQsT0FBTyxHRjZCTjs7QUFJVCxBQUNJLE9BREcsQ0FDSCxFQUFFLENBQUM7RUFDQyxNQUFNLEVBQUUsTUFBTTtFQUNkLE9BQU8sRUFBRSxLQUFLLEdBVWpCO0VBYkwsQUFLUSxPQUxELENBQ0gsRUFBRSxDQUlFLENBQUMsQ0FBQztJQUNFLEtBQUssRUV0Q1IsT0FBTztJRnVDSixXQUFXLEVFbENYLEtBQUssQ0FBQyxLQUFLLENBQUMsR0FBRyxDQUFDLENBQUM7SUZtQ2pCLFNBQVMsRUFBRSxPQUFPLEdBQ3JCO0VBVFQsQUFVUSxPQVZELENBQ0gsRUFBRSxDQVNFLENBQUMsQUFBQSxNQUFNLENBQUE7SUFDSCxLQUFLLEVFNUNULE9BQU8sR0Y2Q047O0FBTVQsQUFBQSxZQUFZLENBQUM7RUFDVCxXQUFXLEVBQUUsSUFBSSxHQTJDcEI7RUE1Q0QsQUFHSSxZQUhRLENBR1IsUUFBUSxDQUFDO0lBQ0wsVUFBVSxFQUFFLElBQUk7SUFDaEIsZ0JBQWdCLEVBQUUsd0JBQXdCO0lBQzFDLE9BQU8sRUFBRSxJQUFJO0lBQ2IsV0FBVyxFQUFFLEtBQUs7SUFDbEIsU0FBUyxFQUFFLE1BQU07SUFDakIsWUFBWSxFQUFFLElBQUk7SUFDbEIsYUFBYSxFQUFFLElBQUk7SUFDbkIsUUFBUSxFQUFFLFFBQVEsR0FnQ3JCO0lBM0NMLEFBYVEsWUFiSSxDQUdSLFFBQVEsQ0FVSixLQUFLLENBQUM7TUFDRixjQUFjLEVBQUUsTUFBTTtNQUN0QixVQUFVLEVBQUUsTUFBTTtNQUNsQixLQUFLLEVFbEVSLE9BQU87TUZtRUosV0FBVyxFRTlEWCxLQUFLLENBQUMsS0FBSyxDQUFDLEdBQUcsQ0FBQyxDQUFDLEdGc0ZwQjtNQXpDVCxBQXFCZ0IsWUFyQkosQ0FHUixRQUFRLENBVUosS0FBSyxDQU1ELEVBQUUsQ0FFRSxFQUFFLENBQUM7UUFDQyxLQUFLLEVBQUUsS0FBSztRQUNaLE9BQU8sRUFBRSxNQUFNLEdBRWxCO01BekJqQixBQTJCZ0IsWUEzQkosQ0FHUixRQUFRLENBVUosS0FBSyxDQU1ELEVBQUUsQ0FRRSxFQUFFLENBQUM7UUFDQyxjQUFjLEVBQUUsTUFBTTtRQUN0QixNQUFNLEVBQUUsSUFBSSxHQUNmO01BOUJqQixBQWtDWSxZQWxDQSxDQUdSLFFBQVEsQ0FVSixLQUFLLENBcUJELEVBQUUsQUFBQSxVQUFXLENBQUEsSUFBSSxFQUFFO1FBQ2YsZ0JBQWdCLEVBQUUsT0FBTyxHQUM1QjtNQXBDYixBQXNDWSxZQXRDQSxDQUdSLFFBQVEsQ0FVSixLQUFLLENBeUJELEdBQUcsQ0FBQztRQUNBLEtBQUssRUFBRSxJQUFJLEdBQ2Q7O0FBTWIsQUFBQSxVQUFVLENBQUM7RUFNUCxLQUFLLEVBQUUsSUFBSSxHQUNkO0VBUEQsQUFDSSxVQURNLENBQ04sS0FBSyxDQUFDO0lBQ0YsS0FBSyxFQUFFLElBQUk7SUFDWCxjQUFjLEVBQUUsV0FBVyxHQUM5Qjs7QUFLTCxBQUFBLFdBQVcsQ0FBQyxFQUFFLENBQUM7RUFDWCxPQUFPLEVBQUUsSUFBSTtFQUNiLGVBQWUsRUFBRSxNQUFNLEdBQzFCOztBQUVELEFBQUEsV0FBVyxDQUFDLEVBQUUsQ0FBQyxFQUFFLENBQUM7RUFDZCxNQUFNLEVBQUUsSUFBSTtFQUNaLFNBQVMsRUFBRSxJQUFJO0VBQ2YsZ0JBQWdCLEVFbEhaLE9BQU87RUZtSFgsT0FBTyxFQUFFLElBQUksR0FPaEI7RUFYRCxBQU1JLFdBTk8sQ0FBQyxFQUFFLENBQUMsRUFBRSxDQU1iLENBQUMsQ0FBQztJQUNFLEtBQUssRUVwSEwsT0FBTztJRnFIUCxNQUFNLEVBQUUsS0FBSztJQUNiLFdBQVcsRUVsSFAsS0FBSyxDQUFDLEtBQUssQ0FBQyxHQUFHLENBQUMsQ0FBQyxHRm1IeEIifQ== */
