@charset "UTF-8";
@font-face {
  font-family: "王漢宗特明體繁";
  src: url(../font/WT004.TTF); }
@font-face {
  font-family: "Adobe Heiti Std R";
  src: url(../font/ADOBEHEITISTD-REGULAR.OTF); }
p {
  line-height: 1.5; }

.textEmphasis {
  font-size: 3rem;
  color: #362e2b;
  font-family: 王漢宗特明體繁;
  letter-spacing: 10px; }

.textHiliR {
  color: #a34f49; }

.textHiliB {
  color: #006ca6; }

.titlePri {
  font-family: 王漢宗特明體繁;
  color: #006ca6;
  font-size: 3rem;
  text-align: center; }

.titleSec {
  position: relative;
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  margin: 80px 0; }

.titleThi {
  position: relative;
  color: #443c3a;
  font-size: 1.35rem;
  font-family: Adobe Heiti Std R;
  text-align: center; }

.titleFou {
  position: relative;
  color: #554e4d;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R; }

.titleSec img {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

.textL {
  font-family: Adobe Heiti Std R;
  font-size: 1.5rem; }

.textM {
  color: #362e2b;
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
  text-align: center; }

.textS {
  font-family: Adobe Heiti Std R;
  font-size: 1rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: e;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

#gpsGameWrap {
  position: relative; }

#gameGps {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../../image/background/bgtexture.png);
  background-repeat: no-repeat;
  background-size: cover; }
  #gameGps .textM {
    text-align: center;
    margin-bottom: 2rem; }
  #gameGps::before {
    display: block;
    content: '';
    background: url(../image/gpsGame/cloudLeft.png) no-repeat top left;
    background-size: 100%;
    width: 120%;
    height: 100%;
    position: absolute;
    top: 260px;
    left: -30px;
    z-index: 2;
    animation-name: cloudLeftMove; }
    @media screen and (min-width: 768px) {
      #gameGps::before {
        top: 240px;
        background-size: 80%; } }
    @media screen and (min-width: 1200px) {
      #gameGps::before {
        background-size: 60%;
        top: 200px;
        left: -80px; } }
  #gameGps::after {
    display: block;
    content: '';
    background: url(../image/gpsGame/cloudRight.png) no-repeat bottom right;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: -130px;
    z-index: 2;
    animation-name: cloudRightMove;
    animation-delay: 3s; }
    @media screen and (min-width: 768px) {
      #gameGps::after {
        background-size: 80%;
        bottom: 10%; } }
    @media screen and (min-width: 1200px) {
      #gameGps::after {
        bottom: 0;
        right: -80px;
        background-size: 60%; } }
  #gameGps::before, #gameGps::after {
    animation-duration: 40s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out; }
@keyframes cloudLeftMove {
  0% {
    transform: translateX(0%); }
  25% {
    transform: translateX(3%); }
  50% {
    transform: translateX(5%); }
  75% {
    transform: translateX(3%); }
  100% {
    transform: translateX(0%); } }
@keyframes cloudRightMove {
  0% {
    transform: translateX(0%); }
  25% {
    transform: translateX(-10%); }
  50% {
    transform: translateX(3%); }
  75% {
    transform: translateX(-1%); }
  100% {
    transform: translateX(0%); } }
#gameGpsMap {
  position: relative;
  width: calc(100% - 16px);
  height: calc(100% - 150px);
  margin: 7px auto auto;
  box-sizing: border-box;
  border: #362e2b 7px dashed;
  background-color: #d5d5d5;
  outline: 7px #362e2b double; }
  #gameGpsMap::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(206, 211, 208, 0.6);
    box-sizing: border-box;
    border: 7px #362e2b double; }

#gameGpsLotto {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 290px;
  height: 330px;
  box-sizing: border-box;
  background-color: #fffcf2;
  border: #a34f49 7px dashed;
  box-shadow: 0px 0px 0px 2px #000 inset;
  outline: 2px #000 solid;
  z-index: 3; }
  @media screen and (min-width: 768px) {
    #gameGpsLotto {
      width: 440px;
      height: 480px; } }
  #gameGpsLotto > table {
    border-spacing: 5px; }
  #gameGpsLotto .gameGpsLottoUnit {
    box-sizing: border-box;
    background-color: #d5d5d5;
    border: 2px #5f6f70 soild;
    width: 70px;
    height: 70px; }
    @media screen and (min-width: 768px) {
      #gameGpsLotto .gameGpsLottoUnit {
        width: 110px;
        height: 110px; } }
  #gameGpsLotto .gameGpsLottoActive {
    background-color: #fffcf2;
    border: #5f6f70 7px dashed;
    box-shadow: 0px 0px 0px 2px #000 inset;
    outline: 2px #000 solid;
    background-image: url(../image/logo.svg);
    background-repeat: no-repeat;
    background-position: center; }

@keyframes gameGpsLottoActiveScale {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.15); }
  40% {
    transform: scale(1); }
  60% {
    transform: scale(1.15); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }
#gameGpsLottoShow {
  width: 140px;
  height: 140px;
  background-color: #fffcf2;
  border: #a34f49 7px dashed;
  box-shadow: 0px 0px 0px 2px #362e2b inset, 0px 0px 0px 2px #362e2b;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    #gameGpsLottoShow {
      width: 200px;
      height: 200px; } }
  #gameGpsLottoShow .btnsec {
    border-radius: 0.1rem;
    padding: 0.1rem 0.5rem; }

#gameGpsLottoShow img {
  height: 80px; }

#headerLogo {
  padding-top: 3px;
  position: relative;
  text-align: center;
  margin: -25px auto 0px auto;
  width: 250px;
  background: url(../image/headerLogoBg.svg) no-repeat;
  background-size: 100% 100%;
  transition-duration: 1s; }

#headerLogo a {
  width: 200px;
  height: 160px;
  display: inline-block;
  margin-top: 15px; }

#headerLogo img {
  width: 195px;
  vertical-align: middle; }

header::before {
  content: '';
  background-image: url(../image/navrog.svg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 15px;
  width: 100%;
  max-width: 1880px;
  margin: auto; }

header::after {
  content: '';
  background-image: url(../image/navrog.svg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 15px;
  width: 100%;
  max-width: 1880px;
  margin: auto; }

header {
  background: #fffcf2;
  margin-top: 10px;
  position: fixed;
  transition-duration: 0.5s;
  width: 100%;
  top: 0;
  z-index: 10; }

#headerMenu {
  text-align: center;
  transition-duration: 0.5s;
  height: 216px;
  overflow: hidden;
  background: #fffcf2; }

#headerMenu a {
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  display: inline-block;
  padding: 15px; }

#headerMe {
  color: #fff;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  height: 300px;
  position: absolute;
  display: grid;
  grid-template: repeat(6, 1fr)/repeat(4, 1fr);
  margin: auto;
  top: 399px;
  left: 0;
  right: 0;
  width: 350px;
  transition-duration: 0.8s; }

#headerMe::after {
  content: '';
  display: block;
  margin: auto;
  width: 0px;
  border-top: #385478 20px solid;
  border-left: transparent 175px solid;
  border-right: transparent 175px solid;
  border-bottom: transparent 20px solid;
  grid-area: 7/1/span 1/ span 4;
  background: rgba(0, 0, 0, 0); }

#headerMe li {
  padding: 10px;
  background: #385478; }

#headerMe a {
  color: #fff; }

#headerMeShip {
  grid-area: 1/1/ span 4/ span 2; }

#headerMeShip img {
  height: 100%; }

#headerMeID {
  grid-area: 5/1/span 1/ span 4; }

#headerMeLv {
  grid-area: 6/1/span 1/ span 3;
  text-align: left; }

#headerMeMoney {
  grid-area: 6/4/span 1/ span 1; }

#headerMeTalentS {
  grid-area: 1/3/span 1/ span 2; }

#headerMeTalentL {
  grid-area: 2/3/span 1/ span 2; }

#headerMeTalentA {
  grid-area: 3/3/span 1/ span 2; }

#headerMeTalentI {
  grid-area: 4/3/span 1/ span 2; }

#headerExpBar {
  width: 150px;
  border: #fff solid 2px;
  border-radius: 50px;
  height: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top; }

#headerExpLine {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 0;
  top: 0;
  background: cadetblue; }

#headerExp {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }

header.hide {
  top: -200px; }

#headerMenu.hide {
  height: 0px; }

#headerMe.hide {
  top: -70px; }

@media screen and (min-width: 768px) {
  #headerMe.hide {
    top: 10px; }

  #headerLogo {
    position: absolute;
    left: 0;
    right: 0; }

  #headerMenu {
    height: auto; }

  #headerMenu a {
    padding: 20px 0;
    width: 130px; }

  #headerMenu li {
    float: left;
    width: calc((100% - 250px) /4); }

  #headerMenu ul::after {
    content: '';
    display: block;
    clear: both; }

  #headerMenu li:nth-child(2) {
    margin-right: 123px; }

  #headerMenu li:nth-child(3) {
    margin-left: 123px; }

  #headerMe {
    top: 93px;
    width: 600px;
    height: 200px;
    grid-template: repeat(3, 1fr)/repeat(5, 1fr);
    z-index: -1; }

  #headerMe::after {
    border-top: #385478 20px solid;
    border-left: transparent 300px solid;
    border-right: transparent 300px solid;
    border-bottom: transparent 20px solid;
    grid-area: 5/1/span 1/ span 4;
    background: rgba(0, 0, 0, 0); }

  #headerMeShip {
    grid-area: 1/2/ span 4/ span 1;
    width: 270px; }

  #headerMeShip img {
    height: 100%; }

  #headerMeID {
    grid-area: 1/1/span 1/ span 1; }

  #headerMeLv {
    grid-area: 2/1/span 2/ span 1;
    text-align: center; }

  #headerMeMoney {
    grid-area: 4/1/span 1/ span 1; }

  #headerMeTalentS {
    grid-area: 1/3/span 1/ span 1; }

  #headerMeTalentL {
    grid-area: 2/3/span 1/ span 1; }

  #headerMeTalentA {
    grid-area: 3/3/span 1/ span 1; }

  #headerMeTalentI {
    grid-area: 4/3/span 1/ span 1; } }
@media screen and (min-width: 1024px) {
  #headerLogo {
    top: 15px; }

  header {
    background: transparent;
    width: 100%; }

  #headerMenu {
    max-width: 1800px;
    margin: auto; }

  #headerMe {
    font-size: 1rem;
    width: 1100px;
    grid-template: 1fr 40px/repeat(9, 1fr);
    z-index: -1;
    height: 70px; }

  #headerMe::after {
    border-top: #385478 20px solid;
    border-left: transparent 550px solid;
    border-right: transparent 550px solid;
    border-bottom: transparent 20px solid;
    grid-area: 2/1/span 1/ span 9;
    background: rgba(0, 0, 0, 0); }

  #headerMeShip {
    grid-area: 1/5/ span 1/ span 1;
    height: 40px;
    text-align: left; }

  #headerMeShip img {
    height: 100%;
    position: absolute;
    z-index: 1; }

  #headerMeID {
    grid-area: 1/1/span 1/ span 1; }

  #headerMeLv {
    grid-area: 1/2/span 1/ span 2;
    text-align: center; }

  #headerMeMoney {
    grid-area: 1/4/span 1/ span 1; }

  #headerMeTalentS {
    grid-area: 1/6/span 1/ span 1; }

  #headerMeTalentL {
    grid-area: 1/7/span 1/ span 1; }

  #headerMeTalentA {
    grid-area: 1/8/span 1/ span 1; }

  #headerMeTalentI {
    grid-area: 1/9/span 1/ span 1; } }
body {
  background-image: url("../image/game/gamebg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.compass {
  position: fixed;
  opacity: 1;
  width: 160px;
  height: 160px;
  left: 5%;
  bottom: 5%;
  cursor: pointer; }

.compass:hover .in {
  animation: spin 10s linear reverse; }

.compass:hover .out {
  animation: spin 10s linear; }

.levelShow {
  /* display: none; */
  font-family: Adobe Heiti Std R;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  z-index: 5;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1.5px solid black;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.compassLevel {
  color: #006ca6;
  font-size: 36px; }

.out {
  position: absolute;
  width: 100%;
  z-index: 3; }

.in {
  position: absolute;
  width: 100%;
  z-index: 4; }

@keyframes spin {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-360deg); } }
.row {
  widows: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.introP {
  letter-spacing: 2px;
  line-height: 1.5; }

#choose {
  height: 100vh; }

.col-4 {
  width: 280px; }

.col-4 .chooseImg {
  width: 100%; }

.chooseBox {
  position: relative;
  text-align: center;
  height: 400px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.45); }

.chooseBox:hover {
  animation: gametop .5s linear; }

.chooseBox:hover .block {
  height: 486px; }

.chooseBox:hover .game-appear {
  display: block;
  top: 400px; }

@keyframes gametop {
  0% {
    top: 0px; }
  50% {
    top: -50px; }
  100% {
    top: 0px; } }
.boat {
  position: absolute;
  left: 80px;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 62%; }

.game-p {
  line-height: 1.8;
  padding-bottom: 10px; }

.game-str {
  letter-spacing: 2px;
  padding-right: 5px;
  font-weight: 500;
  color: #fff;
  font-size: 24px;
  line-height: 1.5; }

.game-appear {
  display: none;
  letter-spacing: 1.5px;
  position: absolute;
  top: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #495057;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.4;
  color: #fff; }

.gameInfo {
  font-family: 王漢宗特明體繁;
  z-index: 2;
  color: #fff;
  position: relative;
  background-color: #495057;
  top: -30.5px;
  padding-top: 20px;
  z-index: -1; }

.block {
  opacity: .5;
  position: absolute;
  background-color: #fff;
  width: 280px;
  height: 400px;
  top: 0;
  left: 0; }

.lock {
  position: absolute;
  top: 0;
  left: 0; }

.gameDetail {
  /* display: none; */ }

.introGame {
  text-align: center;
  margin: 200px auto 30px; }

#rankArea {
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-image: url("../image/game/rankBg.png"); }

.rankPoster {
  float: left;
  position: relative;
  padding: 10px; }

.wantedBoat {
  position: absolute;
  left: 70px;
  top: 50px; }

.playerData {
  font-size: 22px;
  line-height: 0.5;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 50px;
  line-height: 1.5;
  letter-spacing: 2px;
  font-weight: 700; }

.playerName {
  font-size: 28px;
  font-weight: 900; }

.top1 {
  margin-left: 180px;
  margin-top: 100px; }

.top2 {
  margin-top: 50px; }

.top3 {
  margin-top: 80px; }

/* rank4-10 */
/* 4to10 */
.rank4to10 {
  position: relative; }

.rankSmall {
  float: left;
  padding: 10px;
  position: relative; }

.wantedBoatSmall {
  position: absolute;
  left: 45px;
  top: 30px; }

.first {
  margin-left: 80px; }

.playerDataSmall {
  font-size: 8px;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  letter-spacing: 1px;
  top: 120px;
  left: 25px; }

.playerNameSmall {
  font-size: 14px;
  font-weight: 700; }

#gameElec {
  position: relative;
  margin: 100px auto;
  width: 1200px;
  height: 100vh; }

#die {
  z-index: 1;
  left: 0;
  top: 50px;
  position: absolute; }

#sea {
  z-index: 0;
  left: 0;
  top: 150px;
  position: absolute; }

#treasure {
  position: absolute;
  top: 400px;
  left: 50px; }

#startBoat {
  z-index: 2;
  position: absolute;
  top: 150px;
  left: 20px; }

.gameTime {
  letter-spacing: 1px;
  position: relative;
  top: -100px; }

.gameTime p {
  font-size: 22px;
  text-align: center; }

/* btn */
.button_border {
  transition: all .5s ease 1s;
  opacity: 1;
  width: 88px;
  height: 88px;
  position: relative;
  top: 200px;
  left: 50px;
  z-index: 3;
  cursor: pointer; }

.icon_movie {
  background-image: url("../image/game/iconMovie.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 24px;
  display: block;
  transition: all .4s; }

.button_border:hover .border_in .icon_movie {
  transform: scale(0.8); }

.button_border:hover .border_in {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.button_border:hover .border_out {
  animation: borderCircle 1s linear infinite; }

.border_in {
  transition: 0.4s;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  display: block; }

.border_in:hover {
  background-color: #fff; }

.border_out {
  position: absolute;
  left: 0;
  top: 0;
  width: 88px;
  height: 88px;
  -webkit-animation: borderCircle 3s linear infinite;
  animation: borderCircle 3s linear infinite; }

.border {
  fill: none;
  stroke: #fff; }

@keyframes borderCircle {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.boat {
  animation: updown 5s linear infinite; }

@keyframes updown {
  0% {
    top: 50px; }
  50% {
    top: 80px; }
  100% {
    top: 50px; } }
.gpsbtn {
  position: absolute;
  top: calc(50% + 150px);
  left: 50%;
  z-index: 10; }

/*# sourceMappingURL=game.css.map */
