@charset "UTF-8";
@font-face {
  font-family: "王漢宗特明體繁";
  src: url(../font/WT004.TTF); }
@font-face {
  font-family: "Adobe Heiti Std R";
  src: url(../font/ADOBEHEITISTD-REGULAR.OTF); }
p {
  line-height: 1.5; }

.textEmphasis {
  font-size: 3rem;
  color: #362e2b;
  font-family: 王漢宗特明體繁;
  letter-spacing: 10px; }

.textHiliR {
  color: #a34f49; }

.textHiliB {
  color: #006ca6; }

.titlePri {
  font-family: 王漢宗特明體繁;
  color: #006ca6;
  font-size: 3rem;
  text-align: center; }

.titleSec {
  position: relative;
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  margin: 80px 0; }

.titleThi {
  position: relative;
  color: #443c3a;
  font-size: 1.35rem;
  font-family: Adobe Heiti Std R;
  text-align: center; }

.titleFou {
  position: relative;
  color: #554e4d;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R; }

.titleSec img {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

.textL {
  font-family: Adobe Heiti Std R;
  font-size: 1.5rem; }

.textM {
  color: #362e2b;
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
  text-align: center; }

.textS {
  font-family: Adobe Heiti Std R;
  font-size: 1rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: e;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

#headerLogo {
  padding-top: 3px;
  position: relative;
  text-align: center;
  margin: -25px auto 0px auto;
  width: 250px;
  background: url(../image/headerLogoBg.svg) no-repeat;
  background-size: 100% 100%;
  transition-duration: 1s; }

#headerLogo a {
  width: 200px;
  height: 160px;
  display: inline-block;
  margin-top: 15px; }

#headerLogo img {
  width: 195px;
  vertical-align: middle; }

header::before {
  content: '';
  background-image: url(../image/navrog.svg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 15px;
  width: 100%;
  max-width: 1880px;
  margin: auto; }

header::after {
  content: '';
  background-image: url(../image/navrog.svg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 15px;
  width: 100%;
  max-width: 1880px;
  margin: auto; }

header {
  background: #fffcf2;
  margin-top: 10px;
  position: fixed;
  transition-duration: 0.5s;
  width: 100%;
  top: 0;
  z-index: 10; }

#headerMenu {
  text-align: center;
  transition-duration: 0.5s;
  height: 216px;
  overflow: hidden;
  background: #fffcf2; }

#headerMenu a {
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  display: inline-block;
  padding: 15px; }

#headerMe {
  color: #fff;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  height: 300px;
  position: absolute;
  display: grid;
  grid-template: repeat(6, 1fr)/repeat(4, 1fr);
  margin: auto;
  top: 399px;
  left: 0;
  right: 0;
  width: 350px;
  transition-duration: 0.8s; }

#headerMe::after {
  content: '';
  display: block;
  margin: auto;
  width: 0px;
  border-top: #385478 20px solid;
  border-left: transparent 175px solid;
  border-right: transparent 175px solid;
  border-bottom: transparent 20px solid;
  grid-area: 7/1/span 1/ span 4;
  background: rgba(0, 0, 0, 0); }

#headerMe li {
  padding: 10px;
  background: #385478; }

#headerMe a {
  color: #fff; }

#headerMeShip {
  grid-area: 1/1/ span 4/ span 2; }

#headerMeShip img {
  height: 100%; }

#headerMeID {
  grid-area: 5/1/span 1/ span 4; }

#headerMeLv {
  grid-area: 6/1/span 1/ span 3;
  text-align: left; }

#headerMeMoney {
  grid-area: 6/4/span 1/ span 1; }

#headerMeTalentS {
  grid-area: 1/3/span 1/ span 2; }

#headerMeTalentL {
  grid-area: 2/3/span 1/ span 2; }

#headerMeTalentA {
  grid-area: 3/3/span 1/ span 2; }

#headerMeTalentI {
  grid-area: 4/3/span 1/ span 2; }

#headerExpBar {
  width: 150px;
  border: #fff solid 2px;
  border-radius: 50px;
  height: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top; }

#headerExpLine {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 0;
  top: 0;
  background: cadetblue; }

#headerExp {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }

header.hide {
  top: -200px; }

#headerMenu.hide {
  height: 0px; }

#headerMe.hide {
  top: -70px; }

@media screen and (min-width: 768px) {
  #headerMe.hide {
    top: 10px; }

  #headerLogo {
    position: absolute;
    left: 0;
    right: 0; }

  #headerMenu {
    height: auto; }

  #headerMenu a {
    padding: 20px 0;
    width: 130px; }

  #headerMenu li {
    float: left;
    width: calc((100% - 250px) /4); }

  #headerMenu ul::after {
    content: '';
    display: block;
    clear: both; }

  #headerMenu li:nth-child(2) {
    margin-right: 123px; }

  #headerMenu li:nth-child(3) {
    margin-left: 123px; }

  #headerMe {
    top: 93px;
    width: 600px;
    height: 200px;
    grid-template: repeat(3, 1fr)/repeat(5, 1fr);
    z-index: -1; }

  #headerMe::after {
    border-top: #385478 20px solid;
    border-left: transparent 300px solid;
    border-right: transparent 300px solid;
    border-bottom: transparent 20px solid;
    grid-area: 5/1/span 1/ span 4;
    background: rgba(0, 0, 0, 0); }

  #headerMeShip {
    grid-area: 1/2/ span 4/ span 1;
    width: 270px; }

  #headerMeShip img {
    height: 100%; }

  #headerMeID {
    grid-area: 1/1/span 1/ span 1; }

  #headerMeLv {
    grid-area: 2/1/span 2/ span 1;
    text-align: center; }

  #headerMeMoney {
    grid-area: 4/1/span 1/ span 1; }

  #headerMeTalentS {
    grid-area: 1/3/span 1/ span 1; }

  #headerMeTalentL {
    grid-area: 2/3/span 1/ span 1; }

  #headerMeTalentA {
    grid-area: 3/3/span 1/ span 1; }

  #headerMeTalentI {
    grid-area: 4/3/span 1/ span 1; } }
@media screen and (min-width: 1024px) {
  #headerLogo {
    top: 15px; }

  header {
    background: transparent;
    width: 100%; }

  #headerMenu {
    max-width: 1800px;
    margin: auto; }

  #headerMe {
    font-size: 1rem;
    width: 1100px;
    grid-template: 1fr 40px/repeat(9, 1fr);
    z-index: -1;
    height: 70px; }

  #headerMe::after {
    border-top: #385478 20px solid;
    border-left: transparent 550px solid;
    border-right: transparent 550px solid;
    border-bottom: transparent 20px solid;
    grid-area: 2/1/span 1/ span 9;
    background: rgba(0, 0, 0, 0); }

  #headerMeShip {
    grid-area: 1/5/ span 1/ span 1;
    height: 40px;
    text-align: left; }

  #headerMeShip img {
    height: 100%;
    position: absolute;
    z-index: 1; }

  #headerMeID {
    grid-area: 1/1/span 1/ span 1; }

  #headerMeLv {
    grid-area: 1/2/span 1/ span 2;
    text-align: center; }

  #headerMeMoney {
    grid-area: 1/4/span 1/ span 1; }

  #headerMeTalentS {
    grid-area: 1/6/span 1/ span 1; }

  #headerMeTalentL {
    grid-area: 1/7/span 1/ span 1; }

  #headerMeTalentA {
    grid-area: 1/8/span 1/ span 1; }

  #headerMeTalentI {
    grid-area: 1/9/span 1/ span 1; } }
#homeGame, #homeMarket, #homeBar, #homeEnd {
  margin-top: 250px; }

.clearfix {
  clear: both; }

.justHide {
  display: none; }

a {
  color: #006ca6; }

.btnpri {
  cursor: pointer; }

body {
  background: url(../image/background/BgPage.png); }

p {
  line-height: 1.5; }

.textEmphasis {
  font-size: 2rem;
  text-align: center; }

#homeBanner {
  height: 100vh; }

#homeBanner .textEmphasis {
  margin: 50px auto 20px auto; }

#homeBannerLogo {
  width: 250px;
  margin: 10px auto -80px auto;
  display: block; }

#WrapMap {
  width: 100%;
  overflow: hidden;
  z-index: -1; }

.homeMap {
  width: 1200px;
  position: relative; }

#homeMapImg {
  width: 100%;
  opacity: 0.4; }

#wrapShipArea {
  position: absolute;
  width: 15%;
  top: 40%;
  left: 9%;
  text-align: center; }

#wrapShipArea img {
  width: 100%;
  position: absolute; }

#btnBePirate {
  margin: 150px 0 0 40px; }

.homeMapPlace {
  position: absolute;
  opacity: 0.1; }

#homeMapGame {
  top: 38%;
  left: 25%;
  width: 14%; }

#homeMapMarket {
  top: 32%;
  left: 40%;
  width: 15%; }

#homeMapBar {
  top: 42%;
  left: 56%;
  width: 12%; }

#homeMapMe {
  top: 52%;
  left: 70%;
  width: 8%; }

#mapGameImg, #mapMarketImg, #mapBarImg, #mapMeImg {
  width: 100%; }

.mapLink {
  width: 120px;
  position: absolute;
  left: 10px;
  top: -20px;
  z-index: 1; }

.homeMapMsg {
  background: #fffcf2;
  width: 300px;
  padding: 10px;
  box-shadow: #a67c52 0 0 5px;
  border-radius: 10px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  z-index: 2; }

.homeMapPlace:hover .homeMapMsg {
  display: initial; }

@media screen and (min-width: 768px) {
  #homeBanner .textEmphasis .textHiliR {
    letter-spacing: 50px; }

  #homeBannerLogo {
    margin: 10px auto -20px auto; }

  .homeMap {
    width: 166%;
    transform: scale(1) translateX(-22%) translateY(0px); }

  #wrapShipArea {
    width: 10%;
    top: 70%;
    left: 0;
    right: 0;
    margin: auto; }

  #shipArea {
    height: 150px; }

  #homeMapImg {
    opacity: 1; }

  .homeMapPlace {
    opacity: 1; } }
@media screen and (min-width: 1200px) {
  .textEmphasis {
    font-size: 3rem; }

  .mapLink {
    width: 200px; }

  #homeBannerLogo {
    width: 250px;
    margin: 10px auto -80px auto;
    display: block; }

  .homeMap {
    width: 100%;
    transform: scale(1) translateX(0%) translateY(0px); }

  #wrapShipArea {
    top: 40%;
    left: 14%;
    right: auto; }

  #shipArea {
    height: 200px; } }
@media screen and (min-width: 1024px) {
  header.homeHeadHide {
    top: -200px; } }
#homeDIY {
  text-align: center; }

#DIYPanel {
  border: #a67c52 5px double;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.5s; }

#DIYStatus svg {
  width: 15px; }

.st0 {
  fill: none;
  stroke: #736357;
  stroke-miterlimit: 10; }

.st1 {
  fill: #736357;
  stroke: #736357;
  stroke-miterlimit: 10; }

#DIYStatus li:nth-child(n+2)::before {
  content: '';
  background: url(../image/home/arrow.svg) no-repeat;
  display: inline-block;
  width: 40px;
  height: 10px;
  position: absolute;
  top: 30px;
  left: -40px; }

#DIYStatus li {
  position: relative;
  text-align: center;
  float: left;
  width: 40px; }

#DIYStatus li:nth-child(n+2) {
  margin: 0 10px 20px 45px; }

#DIYPanel img {
  width: 90px;
  background: #fffcf2;
  display: inline-block;
  padding: 5px;
  border-radius: 10px; }

#shipArea {
  position: relative;
  height: 280px;
  width: 300px;
  margin: auto; }

#partSail, #partBody, #drawFrame {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }

#drawFlag, #combineShip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: 0 0;
  transform: scale(0.4); }

#pen {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: scale(0.4); }

#wrapShipArea::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../image/ship/wave1.svg) no-repeat;
  background-size: 100% 100%;
  bottom: 10px;
  left: -20px;
  z-index: -1; }

#wrapShipArea::after {
  content: '';
  display: block;
  position: absolute;
  width: 150px;
  height: 50px;
  background: url(../image/ship/wave2.svg) no-repeat;
  background-size: 100% 100%;
  bottom: -12px;
  right: 0px;
  z-index: -1; }

#penColor {
  border: none;
  width: 40px;
  height: 40px;
  border: #a67c52 2px solid;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background: #006ca6;
  border: #fffcf2 3px solid; }

.penWidth {
  background: #362e2b;
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  cursor: pointer; }

.penWidth:nth-child(3) {
  height: 5px;
  outline: #fffcf2 3px solid; }

.penWidth:nth-child(4) {
  height: 10px; }

.penWidth:nth-child(5) {
  height: 15px; }

.penWidth:nth-child(6) {
  height: 20px; }

.fas {
  color: #362e2b;
  font-size: 24px;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  border-radius: 100px; }

#eraser {
  border: 2px solid #362e2b; }

#cleanDraw {
  border: 2px solid #362e2b; }

#color-picker-container {
  width: 250px;
  margin: auto; }

.btnsec, .btnpri {
  border: none;
  margin: 5px; }

.btnsec:focus, .btnpri:focus {
  outline: none; }

@media screen and (min-width: 768px) {
  #DIYStatus {
    width: 453px;
    margin: auto; }

  #DIYStatus li:nth-child(n+2)::before {
    top: 0;
    bottom: 0;
    margin: auto; }

  #DIYStatus li {
    width: auto; }

  #DIYStatus li:nth-child(n+2) {
    margin: 0 10px 20px 45px; }

  #drawFlag, #combineShip {
    transform: scale(0.4); } }
@media screen and (min-width: 1200px) {
  #homeDIY .textEmphasis {
    margin-top: 150px; }

  #DIYStatus li:first-child {
    margin-left: auto; }

  #homeDIY {
    width: 1200px;
    margin: auto; }

  #shipArea {
    float: left; }

  #DIYPanel {
    float: right;
    margin-top: 100px; }

  #shipArea {
    position: relative;
    height: 700px; }

  #partSail, #partBody, #drawFrame {
    width: 750px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }

  #drawFlag, #combineShip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: unset; }

  #homeDIY::after {
    content: '';
    display: block;
    clear: both; }

  #pen {
    transform: scale(1); } }
h2 {
  text-align: center;
  line-height: 1.5;
  font-size: 2rem;
  letter-spacing: 5px; }

h2 a {
  font-family: 王漢宗特明體繁; }

#homeGame .smaller {
  font-size: 1.25rem; }

#homeGamePlay {
  width: calc(100% - 30px);
  background: rgba(173, 207, 193, 0.5);
  border: #a67c52 5px double;
  margin: 10px; }

#homeGameMsg {
  width: 250px;
  margin: auto;
  padding: 10px;
  background: #fffcf2; }

.homeWanteds {
  position: relative;
  height: 400px; }

.wrapWanted {
  width: 170px;
  position: absolute; }

.wrapWanted:nth-child(1) {
  left: 0;
  right: 0;
  margin: auto; }

.wrapWanted:nth-child(2) {
  left: 10px;
  top: 160px;
  z-index: -1; }

.wrapWanted:nth-child(3) {
  right: 10px;
  top: 180px;
  z-index: -1; }

#homeGameRank > p {
  margin-left: 20px; }

#homeGameRank .textEmphasis {
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 2px; }

#homeGameRank .textS a {
  color: #006ca6;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R; }

.wanted {
  width: 170px;
  position: relative;
  border: #fff14e 3px solid;
  box-shadow: rgba(166, 124, 82, 0.5) 0 0 5px; }

.wantedPaper {
  width: 100%;
  vertical-align: middle; }

.wanted p {
  position: absolute;
  font-family: 王漢宗特明體繁;
  text-align: center;
  line-height: 0.5; }

.wantedShip {
  width: 75%;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto; }

.wantName {
  top: 77%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1.5rem; }

.wantScore {
  top: 90%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1rem; }

@media screen and (min-width: 768px) {
  .wrapWanted:nth-child(2) {
    left: 25%; }

  .wrapWanted:nth-child(3) {
    left: 55%;
    right: auto; } }
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 3rem;
    letter-spacing: 10px; }

  #homeGameRank::after {
    content: '';
    display: block;
    clear: both; }

  #homeGameRank > p {
    text-align: right;
    width: 70%;
    float: left; }

  .homeWanteds {
    position: relative;
    height: 400px;
    width: calc(30% - 20px);
    float: left;
    margin-top: -100px; }

  .wrapWanted:nth-child(2) {
    top: 100px;
    left: 9%; }

  .wrapWanted:nth-child(3) {
    top: 130px;
    left: 55%;
    right: auto; } }
#homeGameGPS .smaller {
  letter-spacing: 1px; }

#homeGameTrea {
  position: relative;
  text-align: right;
  margin: 10px;
  width: 355px; }

#homeGameTrea > img {
  width: 250px; }

.homeTreaImg {
  position: absolute;
  width: 150px;
  top: 0;
  left: 140px;
  transform: scale(0.3); }

.homeTreaImg:nth-child(2) {
  animation: popTrea 9s 0s infinite both; }

.homeTreaImg:nth-child(3) {
  animation: popTrea 9s 3s infinite both; }

.homeTreaImg:nth-child(4) {
  animation: popTrea 9s 6s infinite both; }

@keyframes popTrea {
  0%,25%,100% {
    opacity: 0;
    transform: scale(0.3);
    left: 140px; }
  3%,22% {
    opacity: 1;
    transform: scale(1);
    left: 20px; } }
@media screen and (min-width: 768px) {
  #homeGameTrea {
    position: relative;
    text-align: right;
    margin: -50px 10px 10px 10px;
    width: 355px;
    float: right; } }
@media screen and (min-width: 1200px) {
  #homeGameGPS .smaller {
    font-size: 2rem;
    letter-spacing: 3px; }

  #homeGameTrea {
    margin: -80px 80px 10px 10px;
    width: 400px;
    float: right; }

  #homeGameTrea > img {
    width: 300px; } }
#homeMarket > .textS {
  text-align: right;
  margin: 10px 20px; }

#homeMarketProds {
  position: relative;
  margin-top: 120px; }

#homeMarketBlack, #homeMarketShip {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: calc(100% - 40px);
  color: #fffcf2;
  height: 200px;
  position: absolute; }
  #homeMarketBlack .textM, #homeMarketShip .textM {
    color: #fffcf2; }

#homeMarketBlack {
  background: #005982;
  z-index: -1;
  top: -120px;
  box-shadow: 0 0 5px rgba(166, 124, 82, 0.5); }

#homeMarketShip {
  background: #006ca6;
  z-index: -2;
  box-shadow: 0 0 5px rgba(166, 124, 82, 0.5);
  top: -120px; }

.homeTreaBtn {
  background: #f5ecdd;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(166, 124, 82, 0.5); }
  .homeTreaBtn img {
    width: 100px; }

#homeMarketProdInfo {
  background: #f5ecdd;
  border-radius: 10px;
  margin: 10px 30px;
  padding: 10px;
  height: 530px;
  text-align: center;
  box-shadow: 0 0 5px rgba(166, 124, 82, 0.5);
  position: relative; }
  #homeMarketProdInfo .homeProdTalent img {
    width: 200px;
    margin-top: 10px; }
  #homeMarketProdInfo i {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    width: auto;
    height: auto;
    color: #736357; }
  #homeMarketProdInfo .fa-arrow-circle-right {
    right: -25px; }
  #homeMarketProdInfo .fa-arrow-circle-left {
    left: -25px; }

.homeWrapProd {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; }

.homeProdImg {
  width: 150px;
  margin-top: -50px;
  opacity: 0;
  transform: translateX(-50px) scale(0.8);
  transition-duration: 0.5s; }

.homeProdInfoCard p {
  opacity: 0;
  transform: translateY(24px) scale(0.8);
  transition-duration: 0.5s; }

.homeProdInfoCard p:nth-child(1) {
  transition-delay: 0s; }

.homeProdInfoCard p:nth-child(2) {
  transition-delay: 0.1s; }

.homeProdInfoCard p:nth-child(3) {
  transition-delay: 0.2s; }

.homeProdInfoCard p:nth-child(4) {
  transition-delay: 0.3s; }

.homeProdInfoCard p:nth-child(5) {
  transition-delay: 0.4s; }

.homeProdInfoCard p:nth-child(6) {
  transition-delay: 0.5s; }

.homeProdInfoCard p.homeProdAct {
  opacity: 1;
  transform: translateY(0px) scale(1); }

.homeProdImg.homeProdAct {
  opacity: 1;
  transform: translateX(0px) scale(1); }

@media screen and (min-width: 768px) {
  #homeMarketBlack, #homeMarketShip {
    width: calc(100% - 350px);
    height: 300px; }

  #homeMarketBlack {
    top: -120px;
    left: 0;
    right: 0;
    margin: auto; }

  #homeMarketShip {
    left: 0px;
    right: 0;
    margin: auto;
    top: -100px;
    transform: rotateZ(-10deg) translateX(-40px); }

  #homeMarketProds ul {
    float: left; }
  #homeMarketProds li {
    margin: 10px 20px; }

  #homeMarketProdInfo {
    float: left;
    width: calc(100% - 400px);
    height: 530px; }

  #homeMarketProds::after {
    content: '';
    display: block;
    clear: both; } }
@media screen and (min-width: 1024px) {
  #homeMarket > .textS {
    text-align: right;
    margin: 10px 30% 10px 10px; }

  #homeMarketBlack {
    top: -90px;
    left: -15%;
    width: 300px;
    height: 500px; }

  #homeMarketShip {
    left: -15%;
    width: 300px;
    height: 500px; }

  #homeMarketProds ul {
    float: left;
    width: calc(50% - 300px); }
  #homeMarketProds li {
    float: left;
    margin: 10px 20px; }
  #homeMarketProds li:nth-child(2n) {
    margin: 80px -40px -80px -40px; }

  #homeMarketProdInfo {
    width: 400px;
    margin-left: 100px;
    height: 370px; }
    #homeMarketProdInfo .homeProdImg {
      float: left;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0; }
    #homeMarketProdInfo .fa-arrow-circle-left {
      left: -85px; }

  .homeProdInfoCard {
    text-align: left;
    padding-left: 150px; }
    .homeProdInfoCard .btnpri {
      position: absolute;
      right: 20px; } }
#homeBar .textEmphasis {
  text-align: left;
  letter-spacing: 5px;
  margin: 10px; }

#homeBar i {
  font-size: 1rem;
  height: auto; }

.homeHotCard {
  background: #f5ecdd;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: #362e2b; }
  .homeHotCard img {
    width: 100px;
    float: left;
    margin-right: 10px; }
  .homeHotCard .textL {
    width: 235px;
    font-size: 1.25rem;
    font-weight: bold; }
  .homeHotCard .textS {
    text-align: right; }

.homeNewsCard {
  background: #f5ecdd;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: #362e2b; }
  .homeNewsCard .textL {
    font-size: 1.25rem;
    font-weight: bold; }
  .homeNewsCard p {
    float: left; }
  .homeNewsCard .cardCat {
    width: 50px; }
  .homeNewsCard .cardTitle {
    width: 275px; }
    .homeNewsCard .cardTitle span {
      font-size: 1rem;
      background: #7ccbbd;
      border-radius: 5px;
      display: inline-block;
      padding: 3px 10px;
      font-weight: normal; }
  .homeNewsCard .cardTime {
    margin-left: 20px; }

.homeMore {
  margin: 0 20px; }

@media screen and (min-width: 768px) {
  .homeHotCard img {
    width: 150px; }
  .homeHotCard .textL {
    width: 555px;
    font-size: 1.5rem;
    font-weight: normal; }

  .homeNewsCard .textL {
    font-size: 1.5rem;
    font-weight: normal; }
  .homeNewsCard .cardTitle {
    width: 400px; }
  .homeNewsCard .cardIcon {
    line-height: 60px; }
  .homeNewsCard .cardTime {
    text-align: center;
    width: 100px; } }
@media screen and (min-width: 1024px) {
  #homeBar {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }

  .homeHotCard {
    width: calc(50% - 40px);
    max-width: 560px;
    height: 200px;
    float: left; }
    .homeHotCard img {
      width: 200px; }
    .homeHotCard .textL {
      width: 555px;
      font-size: 1.5rem;
      font-weight: normal; }

  #homeBarHot::after {
    content: '';
    display: block;
    clear: both; }

  .homeNewsCard p {
    float: left; }
  .homeNewsCard .cardCat {
    width: 100px;
    line-height: 60px; }
  .homeNewsCard .cardTitle {
    width: calc(100% - 370px);
    margin: 12px 0; } }
#homeEnd {
  margin-top: 250px; }
  #homeEnd .textEmphasis {
    padding: 10px;
    font-size: 1.5rem;
    letter-spacing: 1px; }
  #homeEnd .textHiliR {
    font-size: 2rem;
    letter-spacing: 5px; }
  #homeEnd .textM {
    width: 250px;
    margin: auto; }

@media screen and (min-width: 768px) {
  #homeEnd .textEmphasis {
    font-size: 2rem;
    letter-spacing: 5px; }

  #homeEnd .textHiliR {
    letter-spacing: 10px; } }
@media screen and (min-width: 1200px) {
  #homeEnd .textEmphasis {
    font-size: 3rem;
    letter-spacing: 10px; }

  #homeEnd .textHiliR {
    font-size: 3rem;
    letter-spacing: 50px; } }
footer {
  text-align: center;
  margin-top: 100px; }

footer img {
  width: 250px; }

/*# sourceMappingURL=home.css.map */
