@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: e;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

@font-face {
  font-family: "王漢宗特明體繁";
  src: url(../font/WT004.TTF); }
@font-face {
  font-family: "Adobe Heiti Std R";
  src: url(../font/ADOBEHEITISTD-REGULAR.OTF); }
p {
  line-height: 1.5; }

.textEmphasis {
  font-size: 3rem;
  color: #362e2b;
  font-family: 王漢宗特明體繁;
  letter-spacing: 10px; }

.textHiliR {
  color: #a34f49; }

.textHiliB {
  color: #006ca6; }

.titlePri {
  font-family: 王漢宗特明體繁;
  color: #006ca6;
  font-size: 3rem;
  text-align: center; }

.titleSec {
  position: relative;
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  margin: 80px 0; }

.titleThi {
  position: relative;
  color: #443c3a;
  font-size: 1.35rem;
  font-family: Adobe Heiti Std R;
  text-align: center; }

.titleFou {
  position: relative;
  color: #554e4d;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R; }

.titleSec img {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

.textL {
  font-family: Adobe Heiti Std R;
  font-size: 1.5rem; }

.textM {
  color: #362e2b;
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
  text-align: center; }

.textS {
  font-family: Adobe Heiti Std R;
  font-size: 1rem; }

body {
  background-image: url("../image/iqtest/qabg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.resultSlogan {
  background-image: url("../image/iqtest/qaq.png");
  width: 1132px;
  height: 142px;
  line-height: 142px;
  margin: 50px auto;
  text-align: center; }

.titlePri {
  color: #362e2b;
  font-family: 王漢宗特明體繁;
  letter-spacing: 5px; }

.y {
  color: #362e2b; }

.row {
  margin: 0 auto;
  max-width: 1200px; }

.col-6 {
  float: left;
  position: relative;
  height: 600px;
  width: 48%;
  padding: 0px 12px;
  margin-bottom: 10px; }

.radar {
  position: relative; }

.brain {
  width: 86.8055%;
  height: 400px;
  padding: 0 50px; }

#abc {
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 150px;
  animation: spark 1s infinite; }

.grade {
  text-align: center;
  font-family: 王漢宗特明體繁;
  font-size: 36px;
  padding-bottom: 25px; }

.correctop {
  text-align: center;
  font-family: 王漢宗特明體繁;
  font-size: 36px;
  padding-bottom: 25px; }

.titleSec {
  font-family: 王漢宗特明體繁;
  margin: 40px auto;
  font-size: 30px;
  letter-spacing: 2.5px; }

.textM {
  font-family: Adobe Heiti Std R;
  letter-spacing: 1.5px;
  padding: 0 20px;
  text-align: left; }

.btnpri {
  left: 50%;
  transform: translateX(-50%); }

.exBtn1 {
  top: 50px; }

.exBtn2 {
  top: -10px;
  left: 350px; }

.exBtn3 {
  top: 150px;
  left: 450px; }

.exBtn4 {
  top: 200px;
  left: 150px; }

.button_border {
  transition: all .5s ease 1s;
  opacity: 1;
  transform: scale(1);
  width: 88px;
  height: 88px;
  position: absolute;
  cursor: pointer; }

.exBtn1 span {
  background-image: url(../image/iqtest/str.png); }

.exBtn2 span {
  background-image: url(../image/iqtest/int.png); }

.exBtn3 span {
  background-image: url(../image/iqtest/lcu.png); }

.exBtn4 span {
  background-image: url(../image/iqtest/agi.png); }

span {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 24px;
  display: block;
  transition: all .4s; }

.border_in {
  overflow: hidden;
  transition: 0.4s;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  display: block; }

.border_out {
  position: absolute;
  left: 0;
  top: 0;
  width: 88px;
  height: 88px;
  animation: borderCircle 3s linear infinite; }

.border {
  fill: none;
  stroke: #fff; }

.bg_focus {
  background-image: url("../image/iqtest/leaderHead.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.button_border .border_out svg, .button_border .border_in, .button_border .border_in span, .border_in .bg_focus {
  transition: all 0.3s; }

.button_border:hover .border_out svg {
  transform: scale(1.95); }

.button_border:hover .border_in {
  transform: scale(2.6); }

.button_border:hover .border_in span {
  transform: scale(0.5);
  opacity: 0; }

.button_border:hover .border_in .bg_focus {
  opacity: 1; }

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

@keyframes spark {
  0% {
    display: block;
    opacity: 1; }
  100% {
    display: none;
    opacity: 0; } }
@keyframes borderCircle {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=iqtest-result.css.map */
