@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: e;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

@font-face {
  font-family: "王漢宗特明體繁";
  src: url(../font/WT004.TTF); }
@font-face {
  font-family: "Adobe Heiti Std R";
  src: url(../font/ADOBEHEITISTD-REGULAR.OTF); }
p {
  line-height: 1.5; }

.textEmphasis {
  font-size: 3rem;
  color: #362e2b;
  font-family: 王漢宗特明體繁;
  letter-spacing: 10px; }

.textHiliR {
  color: #a34f49; }

.textHiliB {
  color: #006ca6; }

.titlePri {
  font-family: 王漢宗特明體繁;
  color: #006ca6;
  font-size: 3rem;
  text-align: center; }

.titleSec {
  position: relative;
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  margin: 80px 0; }

.titleThi {
  position: relative;
  color: #443c3a;
  font-size: 1.35rem;
  font-family: Adobe Heiti Std R;
  text-align: center; }

.titleFou {
  position: relative;
  color: #554e4d;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R; }

.titleSec img {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

.textL {
  font-family: Adobe Heiti Std R;
  font-size: 1.5rem; }

.textM {
  color: #362e2b;
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
  text-align: center; }

.textS {
  font-family: Adobe Heiti Std R;
  font-size: 1rem; }

body {
  background-image: url("../image/iqtest/qabg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.timeline {
  position: relative;
  margin: 50px auto 0;
  width: 1600px;
  height: 15px;
  background-color: #456789;
  -webkit-animation: timeline 32s linear; }

.changeT {
  font-family: 王漢宗特明體繁; }

@-webkit-keyframes timeline {
  0% {
    transform: translateX(0);
    width: 1400px; }
  50% {
    transform: translateX(-700px);
    width: 0px; }
  100% {
    transform: translateX(-700px);
    width: 0px; } }
.time {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 100px;
  top: 100px; }

.ques {
  background-image: url("../image/iqtest/qaq.png");
  width: 1132px;
  height: 140px;
  margin: 30px auto 10px;
  text-align: center;
  line-height: 140px; }

.quesText {
  font-family: 王漢宗特明體繁;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 3px; }

.option {
  margin: 0 auto;
  width: 1200px;
  height: 700px; }

.opop {
  position: relative;
  background-image: url("../image/iqtest/qabtn.png");
  float: left;
  margin: 20px 75px 20px;
  width: 450px;
  height: 300px;
  text-align: center;
  cursor: pointer; }

.ans {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.textHi {
  position: relative;
  left: -100px;
  top: -100px;
  font-weight: 700;
  font-size: 30px; }

.describe {
  font-family: 王漢宗特明體繁;
  line-height: 300px;
  font-weight: 500;
  font-size: 42px;
  letter-spacing: 5px; }

#chat {
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 400px;
  height: 450px; }

.head {
  position: absolute;
  left: 0;
  bottom: 0; }

.cloud {
  width: 250px;
  height: 200px;
  z-index: 2;
  position: relative;
  left: 100px; }

.chatting {
  text-align: center;
  font-size: 22px;
  font-family: 王漢宗特明體繁;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
  letter-spacing: 0.7px; }

/*# sourceMappingURL=iqtest.css.map */
