@charset "UTF-8";
@font-face {
  font-family: "王漢宗特明體繁";
  src: url(../font/WT004.TTF);
}

@font-face {
  font-family: "Adobe Heiti Std R";
  src: url(../font/ADOBEHEITISTD-REGULAR.OTF);
}

p {
  line-height: 1.5;
}

.textEmphasis {
  font-size: 3rem;
  color: #362e2b;
  font-family: 王漢宗特明體繁;
  letter-spacing: 10px;
}

.textHiliR {
  color: #a34f49;
}

.textHiliB {
  color: #006ca6;
}

.titlePri {
  font-family: 王漢宗特明體繁;
  color: #006ca6;
  font-size: 3rem;
  text-align: center;
}

.titleSec {
  position: relative;
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  margin: 80px 0;
}

.titleThi {
  position: relative;
  color: #b6b6b6;
  font-size: 1.35rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
}

.titleFou {
  position: relative;
  color: #554e4d;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R;
}

.titleSec img {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.textL {
  font-family: Adobe Heiti Std R;
  font-size: 1.5rem;
}

.textM {
  color: #362e2b;
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
}

.textS {
  font-family: Adobe Heiti Std R;
  font-size: 1rem;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: e;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

#headerLogo {
  padding-top: 3px;
  position: relative;
  text-align: center;
  margin: -25px auto 0px auto;
  width: 250px;
  background: url(../../image/headerLogoBg.svg) no-repeat;
  background-size: 100% 100%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#headerLogo a {
  width: 200px;
  height: 160px;
  display: inline-block;
  margin-top: 15px;
}

#headerLogo img {
  width: 195px;
  vertical-align: middle;
}

header::before {
  content: '';
  background-image: url(../../image/navrog.svg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 15px;
  width: 100%;
  max-width: 1880px;
  margin: auto;
}

header::after {
  content: '';
  background-image: url(../../image/navrog.svg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 15px;
  width: 100%;
  max-width: 1880px;
  margin: auto;
}

header {
  background: #fffcf2;
  margin-top: 10px;
  position: fixed;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 100%;
  top: 0;
  z-index: 10;
}

#headerMenu {
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  height: 216px;
  overflow: hidden;
  background: #fffcf2;
}

#headerMenu a {
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  display: inline-block;
  padding: 15px;
}

#headerMe {
  color: #fff;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  height: 300px;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(6, 1fr)/repeat(4, 1fr);
  margin: auto;
  top: 399px;
  left: 0;
  right: 0;
  width: 350px;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

#headerMe::after {
  content: '';
  display: block;
  margin: auto;
  width: 0px;
  border-top: #385478 20px solid;
  border-left: transparent 175px solid;
  border-right: transparent 175px solid;
  border-bottom: transparent 20px solid;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 7/1/span 1/ span 4;
  background: rgba(0, 0, 0, 0);
}

#headerMe li {
  padding: 10px;
  background: #385478;
}

#headerMe a {
  color: #fff;
}

#headerMeShip {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/ span 4/ span 2;
}

#headerMeShip img {
  height: 100%;
}

#headerMeID {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 5/1/span 1/ span 4;
}

#headerMeLv {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 6/1/span 1/ span 3;
  text-align: left;
}

#headerMeMoney {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 6/4/span 1/ span 1;
}

#headerMeTalentS {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1/3/span 1/ span 2;
}

#headerMeTalentL {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2/3/span 1/ span 2;
}

#headerMeTalentA {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3/3/span 1/ span 2;
}

#headerMeTalentI {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 4/3/span 1/ span 2;
}

#headerExpBar {
  width: 150px;
  border: #fff solid 2px;
  border-radius: 50px;
  height: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
}

#headerExpLine {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 0;
  top: 0;
  background: cadetblue;
}

#headerExp {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

header.hide {
  top: -200px;
}

#headerMenu.hide {
  height: 0px;
}

#headerMe.hide {
  top: -70px;
}

@media screen and (min-width: 768px) {
  #headerMe.hide {
    top: 10px;
  }
  #headerLogo {
    position: absolute;
    left: 0;
    right: 0;
  }
  #headerMenu {
    height: auto;
  }
  #headerMenu a {
    padding: 20px 0;
    width: 130px;
  }
  #headerMenu li {
    float: left;
    width: calc((100% - 250px) /4);
  }
  #headerMenu ul::after {
    content: '';
    display: block;
    clear: both;
  }
  #headerMenu li:nth-child(2) {
    margin-right: 123px;
  }
  #headerMenu li:nth-child(3) {
    margin-left: 123px;
  }
  #headerMe {
    top: 93px;
    width: 600px;
    height: 200px;
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[5];
        grid-template: repeat(3, 1fr)/repeat(5, 1fr);
    z-index: -1;
  }
  #headerMe::after {
    border-top: #385478 20px solid;
    border-left: transparent 300px solid;
    border-right: transparent 300px solid;
    border-bottom: transparent 20px solid;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 5/1/span 1/ span 4;
    background: rgba(0, 0, 0, 0);
  }
  #headerMeShip {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/ span 4/ span 1;
    width: 270px;
  }
  #headerMeShip img {
    height: 100%;
  }
  #headerMeID {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/span 1/ span 1;
  }
  #headerMeLv {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/span 2/ span 1;
    text-align: center;
  }
  #headerMeMoney {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/span 1/ span 1;
  }
  #headerMeTalentS {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/span 1/ span 1;
  }
  #headerMeTalentL {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2/3/span 1/ span 1;
  }
  #headerMeTalentA {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 3/3/span 1/ span 1;
  }
  #headerMeTalentI {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 4/3/span 1/ span 1;
  }
}

@media screen and (min-width: 1200px) {
  header {
    background: transparent;
    position: relative;
    width: auto;
  }
  #headerMenu {
    max-width: 1800px;
    margin: auto;
  }
  #headerMe {
    font-size: 1rem;
    width: 1100px;
    -ms-grid-rows: 1fr 40px;
    -ms-grid-columns: (1fr)[9];
        grid-template: 1fr 40px/repeat(9, 1fr);
    z-index: -1;
    height: 70px;
  }
  #headerMe::after {
    border-top: #385478 20px solid;
    border-left: transparent 550px solid;
    border-right: transparent 550px solid;
    border-bottom: transparent 20px solid;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-area: 2/1/span 1/ span 9;
    background: rgba(0, 0, 0, 0);
  }
  #headerMeShip {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-area: 1/5/ span 1/ span 1;
    height: 40px;
    text-align: left;
  }
  #headerMeShip img {
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  #headerMeID {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/span 1/ span 1;
  }
  #headerMeLv {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1/2/span 1/ span 2;
    text-align: center;
  }
  #headerMeMoney {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1/4/span 1/ span 1;
  }
  #headerMeTalentS {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-area: 1/6/span 1/ span 1;
  }
  #headerMeTalentL {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-area: 1/7/span 1/ span 1;
  }
  #headerMeTalentA {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-area: 1/8/span 1/ span 1;
  }
  #headerMeTalentI {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 9;
    -ms-grid-column-span: 1;
    grid-area: 1/9/span 1/ span 1;
  }
}

.marWrap {
  background-image: url("../image/background/BgPage.png");
  background-repeat: repeat-y;
  font-family: Adobe Heiti Std R;
}

h1, h2, h3, h4 {
  text-shadow: .1px .1px 1px #000;
}

span {
  color: #534c4c;
}

.marBanner {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 50px;
}

.marBanner .mlslBox {
  width: 50%;
  overflow: hidden;
  position: absolute;
  margin-left: -10%;
}

.marBanner .marBoard {
  position: absolute;
  opacity: .65;
  -webkit-transition: .6s;
  transition: .6s;
  left: 7%;
  top: 420px;
  -webkit-transform: perspective(1000px) rotateY(42deg) skewY(-12deg);
          transform: perspective(1000px) rotateY(42deg) skewY(-12deg);
}

.marBanner .marBoard + .marBoard {
  left: 30%;
  top: 250px;
  -webkit-transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(0.5);
          transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(0.5);
}

.marBanner .marBoard + .marBoard + .marBoard {
  left: 50%;
  top: 150px;
  -webkit-transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(0.3);
          transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(0.3);
  opacity: 0;
}

.marBanner .mlsl {
  width: 120%;
  -webkit-transition: .6s;
  transition: .6s;
}

.marBanner h1 {
  padding-top: 50px;
}

.marBanner .marTitBox {
  width: 200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.marBanner .marTitBox .titFrame {
  position: absolute;
  margin: 33px 0 0 -46px;
  display: block;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1s;
  transition: 1s;
}

.marBanner .marTitBox + span {
  display: block;
  margin-top: 80px;
}

.marBanner .marTitInBox {
  position: relative;
  margin: 50px 0 0 10%;
}

.marBanner h2 {
  padding: 10px;
  margin: 0;
  color: #1a1a1a;
}

.marBanner .currentMar h2 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.marMain {
  width: 80%;
  margin: auto;
  position: relative;
}

.marMain .marBorDec {
  position: absolute;
  bottom: -8px;
  width: 100%;
}

.shipYard {
  position: relative;
}

.shipYard .marTagBox {
  position: relative;
}

.shipYard .marTagBox a h3 {
  display: inline-block;
  padding: 10px 20px;
}

.shipYard .marCont {
  position: relative;
  padding-bottom: 1vw;
  margin-top: 1vw;
  top: 0;
  -webkit-box-shadow: 0px 0px 4px .1px #362e2b;
          box-shadow: 0px 0px 4px .1px #362e2b;
  border: 2px solid #523a31;
  border-radius: 4px;
}

.shipYard .marCont h2 {
  margin: 30px 0 30px 3%;
}

.shipYard .marCont .marBorDec {
  position: absolute;
  margin-bottom: -1vw;
  width: 100%;
}

.shipYard .sYProList {
  margin: 30px 0 0 1%;
  position: relative;
  width: 25%;
  float: left;
}

.shipYard .sYProList .sYPro {
  width: 100%;
  display: block;
  position: relative;
  margin: 0 0 30px 0;
}

.shipYard .sYProList .sYPro img {
  position: absolute;
  z-index: 2;
  width: 30%;
}

.shipYard .sYProList .sYPro .sYProInfo {
  width: 65%;
  margin: 0px 0 0 35%;
}

.shipYard .sYProList .sYPro .sYProInfo h4 {
  padding: 10px 0;
}

.shipYard .sYProList .sYPro .sYProInfo span {
  padding: 2em;
}

.shipYard .sYProList .sYPro .purchaseBox {
  width: 100%;
  background-color: #2a3439;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 4px;
  z-index: 1;
  margin-top: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 4px 0.1px #362e2b;
          box-shadow: 0px 0px 4px 0.1px #362e2b;
}

.shipYard .sYProList .sYPro .purchaseBox .priceT {
  line-height: 36px;
  margin-right: 1em;
  -webkit-transform: translateX(6.7rem);
          transform: translateX(6.7rem);
  -webkit-transition: .6s;
  transition: .6s;
}

.shipYard .sYProList .sYPro .purchaseBox .proPrice {
  line-height: 36px;
  margin-right: 1em;
  -webkit-transform: translateX(6.5rem);
          transform: translateX(6.5rem);
  -webkit-transition: .6s;
  transition: .6s;
}

.shipYard .sYProList .sYPro .purchaseBox .checkPro {
  position: absolute;
  right: 2em;
  line-height: 36px;
  -webkit-transition: .6s;
  transition: .6s;
  color: #fff;
}

.shipYard .sYProList .sYPro .purchaseBox span {
  color: #ffffff;
}

.shipYard .sYProList .sYPro .purchaseBox .addCart {
  -webkit-transform: translateY(38px);
          transform: translateY(38px);
  -webkit-transition: .6s;
  transition: .6s;
}

.shipYard .sYProList .sYPro .purchaseBox .addCart img {
  position: relative;
  width: 2rem;
  top: .2em;
  margin-right: .2em;
}

.shipYard .sYProList .sYPro .purchaseBox .addCart span {
  position: relative;
  bottom: .5em;
  margin-right: 1em;
}

.shipYard .sYProList .sYPro .purchaseBox .buy {
  margin-right: 1em;
  -webkit-transform: translateY(38px);
          transform: translateY(38px);
  -webkit-transition: .6s;
  transition: .6s;
}

.shipYard .sYProList .purchaseBox:hover .addCart, .shipYard .sYProList .purchaseBox:hover .buy {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.shipYard .sYProList .purchaseBox:hover .proPrice {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.shipYard .sYProList .purchaseBox:hover .priceT {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 0;
}

.shipYard .sYProList .purchaseBox:hover .checkPro {
  opacity: 0;
}

.shipYard .sRShipDisplay {
  width: 70%;
  margin: 0 2%;
  float: left;
  position: relative;
}

.shipYard .sRShipDisplay .triRingBgi {
  width: 70%;
  position: absolute;
  margin: 15vw 0 0 14%;
}

.shipYard .sRShipDisplay h3 {
  margin: 45px 0 0 0%;
}

.shipYard .sRShipDisplay .sRshipParts {
  display: block;
  position: absolute;
  width: 16%;
}

.shipYard .sRShipDisplay .sRshipParts img {
  width: 50%;
  -webkit-transition: .6s;
  transition: .6s;
}

.shipYard .sRShipDisplay .sRshipParts h4 {
  display: inline-block;
  margin: 0;
}

.shipYard .sRShipDisplay .sRshipParts:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shipYard .sRShipDisplay .sRSH {
  margin: 15.8vw 0 0 15.5%;
}

.shipYard .sRShipDisplay .sRSB {
  margin: 33vw 0 0 45%;
}

.shipYard .sRShipDisplay .sRSS {
  margin: 21.7vw 0 0 75%;
}

.shipYard .sRShipDisplay .CusShip {
  width: 40%;
  margin: 4vw 0 0 30%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1800px) {
  .purchaseBox .addCart, .purchaseBox .buy {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .purchaseBox .proPrice {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .purchaseBox:hover .priceT {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  .purchaseBox:hover .checkPro {
    opacity: 0;
  }
  .purchaseBox:hover .proPrice {
    opacity: 0;
  }
  .shipYard .sYProList .sYPro .purchaseBox .priceT, .shipYard .sYProList .sYPro .purchaseBox .proPrice {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: absolute;
  }
  .shipYard .sYProList .sYPro .purchaseBox .priceT {
    left: 35%;
  }
  .shipYard .sYProList .sYPro .purchaseBox .proPrice {
    left: 50%;
  }
}

@media screen and (max-width: 1500px) {
  .shipYard .sYProList {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 30px 0 0 0;
  }
  .shipYard .sYProList .sYPro {
    width: 30%;
    margin: 15px 1.65% 0 1.65%;
  }
  .shipYard .sRShipDisplay {
    width: 100%;
  }
  .shipYard .sRShipDisplay .triRingBgi {
    margin: 19vw 0 0 14%;
  }
  .shipYard .sRShipDisplay .sRSH {
    margin: 20vw 0 0 15.5%;
  }
  .shipYard .sRShipDisplay .sRSB {
    margin: 45vw 0 0 45%;
  }
  .shipYard .sRShipDisplay .sRSS {
    margin: 28.7vw 0 0 75%;
  }
  .shipYard .marCont {
    padding-bottom: 10vw;
  }
}

@media screen and (max-width: 1200px) {
  .shipYard .sYProList .sYPro .purchaseBox .priceT {
    left: 2rem;
  }
  .shipYard .sYProList .sYPro .purchaseBox .proPrice {
    left: 5rem;
  }
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    margin-top: 2.5rem;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    margin-top: 2.5rem;
  }
  .shipYard .sYProList .sYPro .purchaseBox:hover .priceT {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .shipYard .sYProList .sYPro .purchaseBox:hover .checkPro {
    opacity: 1;
  }
  .shipYard .sYProList .sYPro .purchaseBox:hover .proPrice {
    opacity: 1;
  }
}

@media screen and (max-width: 1072px) {
  .shipYard .sYProList .sYPro .purchaseBox .checkPro {
    display: none;
  }
  .shipYard .sYProList .sYPro .purchaseBox .priceT {
    left: 32%;
  }
  .shipYard .sYProList .sYPro .purchaseBox .proPrice {
    left: 50%;
  }
}

@media screen and (max-width: 1062px) {
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    margin: auto;
    padding-top: 2.5rem;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 768px) {
  .marMain {
    width: 100%;
  }
  .shipYard .sRShipDisplay {
    display: none;
  }
  .shipYard .sYProList .sYPro {
    width: 45%;
  }
  .shipYard .sYProList .sYPro .purchaseBox {
    display: block;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin: 2rem 0 0 0;
  }
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    padding: 1.5rem 0 0 1rem;
  }
  .shipYard .sYProList .sYPro .purchaseBox .checkPro {
    display: none;
  }
  .shipYard .sYProList .sYPro .purchaseBox .priceT {
    left: 1rem;
  }
  .shipYard .sYProList .sYPro .purchaseBox .proPrice {
    left: 4rem;
  }
}

@media screen and (max-width: 750px) {
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    margin-left: 4vw;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin-left: 2vw;
  }
}

@media screen and (max-width: 750px) {
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    margin-left: 2vw;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin-left: 1vw;
  }
}

@media screen and (max-width: 670px) {
  .shipYard .sYProList .sYPro .purchaseBox .addCart span {
    display: none;
  }
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin-left: 15vw;
  }
}

@media screen and (max-width: 530px) {
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    margin-left: 1vw;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin-left: 12vw;
  }
}

@media screen and (max-width: 510px) {
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    margin-left: .5vw;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin-left: 12vw;
  }
}

@media screen and (max-width: 490px) {
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    margin-left: 0;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin-left: 0;
  }
}

@media screen and (max-width: 470px) {
  .shipYard .sYProList .sYPro .purchaseBox .addCart {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0;
  }
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin-left: 10vw;
  }
}

@media screen and (max-width: 375px) {
  .shipYard .sYProList .sYPro .purchaseBox .buy {
    margin-left: 8.5vw;
  }
}

li {
  display: inline;
  margin: 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: calc(50% - 20px);
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: calc(25% - 20px);
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: calc(16.66666% - 20px);
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* 黑市  */
.sidebar {
  line-height: 2;
}

.box {
  border: 2px solid #ca841a;
  background-color: #f8d8a7;
  border-radius: 5px;
  position: relative;
  height: 250px;
}

.box p {
  position: absolute;
}

.box .title {
  top: 10px;
  left: 5px;
}

.box .name {
  font-size: 12px;
  top: 12px;
  right: 5px;
}

.box .price {
  bottom: 50px;
  line-height: 1.2;
}

.box .ability {
  font-size: 12px;
  top: 30px;
  left: 5px;
}

.imgtre {
  position: absolute;
  opacity: 1;
  top: 25%;
  left: 20%;
  width: 84px;
  height: 84px;
  opacity: 1;
}

.box .buy {
  position: absolute;
  bottom: 10px;
  left: 28%;
}

.radar {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 84px;
  height: 84px;
  opacity: 0;
}

.box:hover .imgtre {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.box:hover .radar {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.imgtre {
  width: 50%;
}

.wrap1 {
  padding: 10px;
  text-align: center;
  margin: 10px;
  height: 250px;
  border: 2px solid #7a4e0c;
  border-radius: 2px;
  background-color: #fdd7a9;
}

.time {
  bottom: 50px;
}

.box .intputPrice {
  position: absolute;
  bottom: 70px;
}
/*# sourceMappingURL=market.css.map */