@charset "UTF-8";
@font-face {
  font-family: "王漢宗特明體繁";
  src: url(../font/WT004.TTF); }
@font-face {
  font-family: "Adobe Heiti Std R";
  src: url(../font/ADOBEHEITISTD-REGULAR.OTF); }
p {
  line-height: 1.5; }

.textEmphasis {
  font-size: 3rem;
  color: #362e2b;
  font-family: 王漢宗特明體繁;
  letter-spacing: 10px; }

.textHiliR {
  color: #a34f49; }

.textHiliB {
  color: #006ca6; }

.titlePri {
  font-family: 王漢宗特明體繁;
  color: #006ca6;
  font-size: 3rem;
  text-align: center; }

.titleSec {
  position: relative;
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  margin: 80px 0; }

.titleThi {
  position: relative;
  color: #443c3a;
  font-size: 1.35rem;
  font-family: Adobe Heiti Std R;
  text-align: center; }

.titleFou {
  position: relative;
  color: #554e4d;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R; }

.titleSec img {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

.textL {
  font-family: Adobe Heiti Std R;
  font-size: 1.5rem; }

.textM {
  color: #362e2b;
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
  text-align: center; }

.textS {
  font-family: Adobe Heiti Std R;
  font-size: 1rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: e;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

body {
  background-image: url(../image/background/BgPage.png);
  background-repeat: no-repeat;
  background-size: cover; }

* {
  outline: 1px solid red;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#playTitle {
  margin: 100px auto;
  position: relative; }

#playTitleSec {
  width: 1200px;
  margin: 0 auto 50px; }

.titleSec {
  margin: 0 10px 50px; }

.titFrame {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0; }

#playTitleSec h2 {
  top: 25px; }

.s1 {
  position: relative;
  text-align: center;
  margin: 0 10px;
  display: inline-block;
  width: 750px; }

.s2 {
  position: relative;
  text-align: center;
  margin: 0 10px;
  display: inline-block;
  width: 400px; }

#gameOrGps {
  margin: 0 auto;
  width: 1200px;
  height: 500px; }

#gameArea {
  display: inline-block;
  position: relative;
  width: 750px;
  height: 500px;
  margin: 0 10px; }

#gpsArea {
  display: inline-block;
  width: 400px;
  height: 500px;
  margin: 0 10px; }

.ele {
  cursor: pointer;
  position: absolute;
  background-color: #16a085;
  width: 450px;
  height: 500px;
  transition: all 1s ease; }

#element1 {
  -webkit-clip-path: polygon(50px 0, 0 250px, 50px 500px, 400px 500px, 450px 250px, 400px 0);
  left: 50px; }

#element2 {
  -webkit-clip-path: polygon(300px 0, 350px 250px, 300px 500px, 400px 500px, 450px 250px, 400px 0);
  left: 155px; }

#element3 {
  -webkit-clip-path: polygon(300px 0, 350px 250px, 300px 500px, 400px 500px, 450px 250px, 400px 0);
  left: 260px; }

#blueArea {
  background-color: #114d7c;
  position: absolute;
  top: 350px;
  height: 150px;
  width: 450px;
  text-align: center;
  color: white; }

.ele img {
  position: absolute;
  margin: 0 auto;
  left: 60px;
  top: 310px;
  z-index: 5; }

#element2 img {
  display: none; }

#element3 img {
  display: none; }

.ele p {
  text-align: left;
  display: inline-block;
  width: 120px;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: Adobe Heiti Std R; }

.ele p:first-child {
  letter-spacing: 1.5px;
  font-size: 22px;
  width: 450px;
  text-align: center;
  margin-top: 25px; }

#game {
  position: relative;
  height: 100vh; }

#gameTitle {
  position: relative;
  height: 75px;
  width: 1200px;
  margin: 100px auto 100px; }

#gameTitle h2 {
  top: 25px; }

/*now*/
#playArea {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 600px; }

/*rankTitle*/
#rankTitle {
  position: relative;
  width: 1200px;
  margin: 100px auto 50px; }

#rankTitle h2 {
  top: 25px;
  margin-bottom: 80px; }

#rankTitle p {
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
  text-align: center; }

/*rankArea*/
#rank {
  height: 100vh; }

#rankArea {
  margin: 0 auto;
  width: 1200px;
  height: 700px; }

#rankList {
  font-family: Adobe Heiti Std R;
  display: inline-block;
  float: left;
  width: 486px;
  height: 650px;
  margin: 0px 3px 7px 7px;
  background-color: #a6937c;
  outline: 7px #a6937c double; }

#rankPaper {
  position: relative;
  display: inline-block;
  width: 700px;
  height: 650px;
  margin-right: -4px; }

/*paperArea*/
/*rankListBox1*/
#rankListBox1 {
  position: relative;
  width: 486px;
  height: 120px; }

#gobefore {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 13px;
  font-size: 1.25rem;
  letter-spacing: 1.25px; }

#gonext {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 13px;
  font-size: 1.25rem;
  letter-spacing: 1.25px; }

#rankListBox1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 13px;
  height: 3px;
  width: 460px;
  background-color: #fff; }

#rankListTitle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 1.5em; }

#rankListColName {
  position: absolute;
  bottom: 10px;
  width: 460px;
  left: 13px;
  font-size: 1.25rem;
  letter-spacing: 1.25px; }

#rankListColName span:nth-child(1) {
  margin-left: 20px; }

#rankListColName span:nth-child(2) {
  margin-left: 20px; }

#rankListColName span:nth-child(3) {
  margin-left: 240px; }

/*rankListBox2*/
#rankListBox2 {
  height: 460px;
  color: #fff; }

.playerList {
  cursor: pointer;
  height: 50px;
  width: 460px;
  margin: 0 auto;
  font-size: 1.25em;
  position: relative; }

.playerList:nth-child(1) {
  margin-top: 10px; }

.playerList span {
  line-height: 50px;
  position: absolute; }

.playerList span:nth-child(1) {
  left: 40px; }

.playerList span:nth-child(2) {
  left: 77px; }

.playerList span:nth-child(3) {
  left: 370px; }

.playerList:after {
  content: "";
  position: absolute;
  width: 460px;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff; }

.spark {
  background-color: #000;
  border-radius: 10px; }

#paperFrame {
  position: relative;
  width: 240px;
  height: 320px;
  margin-top: 200px;
  margin-left: 100px;
  font-family: 王漢宗特明體繁; }

.myBoat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -68%); }

.myName {
  text-align: center;
  width: 200px;
  font-size: 2em;
  position: absolute;
  top: 75%;
  left: 50%;
  letter-spacing: 1.75px;
  transform: translateX(-50%); }

.myGrade {
  width: 197px;
  font-size: 1.5em;
  position: absolute;
  top: 87%;
  left: 50%;
  letter-spacing: 1.5px;
  transform: translateX(-50%); }

.rankFrame {
  transition: all 2s;
  border: 1px solid black;
  position: absolute;
  height: 320px; }

.rank0 {
  transform: scale(1.05);
  box-shadow: 5px 5px #fff14e, -5px 5px #fff14e, 5px -5px #fff14e, -5px -5px #fff14e; }

.rank1 {
  transform: scale(1.02);
  z-index: -1;
  top: -15px;
  left: 20px;
  box-shadow: 5px 5px #c1c1c1, -5px 5px #c1c1c1, 5px -5px #c1c1c1, -5px -5px #c1c1c1; }

.rank2 {
  transform: scale(1);
  z-index: -2;
  top: -30px;
  left: 40px;
  box-shadow: 5px 5px #a86c48, -5px 5px #a86c48, 5px -5px #a86c48, -5px -5px #a86c48; }

.rank3 {
  z-index: -3;
  top: -45px;
  left: 60px; }

.rank4 {
  z-index: -4;
  top: -60px;
  left: 80px; }

.rank5 {
  z-index: -5;
  top: -75px;
  left: 100px; }

.rank6 {
  z-index: -6;
  top: -90px;
  left: 120px; }

.rank7 {
  z-index: -7;
  top: -105px;
  left: 140px; }

.rank8 {
  z-index: -8;
  top: -120px;
  left: 160px; }

.rank9 {
  z-index: -9;
  top: -135px;
  left: 180px; }

.button_border {
  display: inline-block;
  position: absolute;
  transition: all .5s ease 1s;
  opacity: 1;
  width: 88px;
  height: 88px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer; }

.icon_movie {
  background-image: url("../image/play/iconMovie.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 24px;
  display: block;
  transition: all .4s; }

.button_border:hover .border_in .icon_movie {
  transform: scale(0.8); }

.button_border:hover .border_in {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.button_border:hover .border_out {
  animation: borderCircle 1s linear infinite; }

.border_in {
  transition: 0.4s;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  display: block; }

.border_in:hover {
  background-color: #fff; }

.border_out {
  width: 88px;
  height: 88px;
  -webkit-animation: borderCircle 3s linear infinite;
  animation: borderCircle 3s linear infinite; }

.border {
  fill: none;
  stroke: #fff; }

@keyframes borderCircle {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
#playSpark {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #33A6B8;
  width: 100vw;
  height: 100vh;
  margin: auto;
  transition: all 1s ease;
  -webkit-clip-path: circle(5px); }

.myVideo {
  position: absolute;
  width: 1200px;
  height: 600px;
  top: -10px;
  left: -100px; }

/*# sourceMappingURL=play.css.map */
