.btnpri, .btnsec{
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    text-align: center;
    line-height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(89, 73, 63,0.5);
    font-family: Adobe Heiti Std R;
    color: #fffcf2;
    letter-spacing: 3px;
    cursor: pointer;
}
.wave {
    display: inline-block;
    height: 100%;
    width: 5px;
    bottom: 0;
    position: absolute;

}
.btnpri{background-color: #c98366;}
.wave{background-color: rgba(175, 96, 82,0.4)}
.btnsec{background-color: #45a0c7;}
.wave{background-color: rgba(56, 84, 120,0.4);}


.btnpri:hover .wave,  .btnsec:hover .wave{
    animation-name: dowave;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
}

.btnpri span, .btnsec span{
    position: relative;
    z-index: 1;
}

@keyframes dowave {
    0% {
        height: 100%;
    }

    50% {
        height: 30%;
    }

    100% {
        height: 100%;
    }
}