$padV: 768px;
$pc: 1200px;
//@media screen and (min-width: ){}
//@media screen and (min-width: $padV){}
//@media screen and (min-width: $pc){}
//最外面那包
#gameGps{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../../image/background/bgtexture.png);
    background-repeat: no-repeat;
    background-size: cover;
    //兩朵雲
    .textM{
        text-align: center;
        margin-bottom: 2rem;
    }
    &::before{
        display: block;
        content:'';
        background:url(../image/gpsGame/cloudLeft.png) no-repeat top left;
        background-size: 100%;
        //content:url(../image/gpsGame/cloud_left.png);
        width: 120%;
        height: 100%;
        position: absolute;
        top: 260px;
        left: -30px;
        z-index:2;
        animation-name: cloudLeftMove;
        @media screen and (min-width: $padV){
            top: 240px;
            background-size: 80%;
        }
        @media screen and (min-width: $pc){
            background-size: 60%;
            top: 200px;
            left: -80px;
        }
    }
    &::after{
        display: block;
        content:'';
        background:url(../image/gpsGame/cloudRight.png) no-repeat bottom right;
        background-size: 100%;
        //content:url(../image/gpsGame/cloud_left.png);
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        right: -130px;
        z-index:2;
        animation-name: cloudRightMove;
        animation-delay: 3s;
        @media screen and (min-width: $padV){
            background-size: 80%;
            bottom: 10%;
        }
        @media screen and (min-width: $pc){
            bottom: 0;
            right: -80px;
            background-size: 60%;
        }
    }
    &::before, &::after{
        animation-duration: 40s;
        animation-iteration-count: infinite;
        transition-timing-function: ease-in-out;
    }
    @keyframes cloudLeftMove {
        // 0%   {transform: translateX(0%);}
        // 20%  {transform: translateX(5%);}
        // 40%  {transform: translateX(10%);}
        // 60%  {transform: translateX(0%);}
        // 80%  {transform: translateX(-5%);}
        // 100% {transform: translateX(0%);}
        0%   {transform: translateX(0%);}
        25%   {transform: translateX(3%);}
        50%  {transform: translateX(5%);}
        75%  {transform: translateX(3%);}
        100% {transform: translateX(0%);}
    }
    @keyframes cloudRightMove {
        0%   {transform: translateX(0%);}
        25%   {transform: translateX(-10%);}
        50%  {transform: translateX(3%);}
        75%  {transform: translateX(-1%);}
        100% {transform: translateX(0%);}
    }
}
//地圖
#gameGpsMap{
    position: relative;
    width: calc(100% - 16px);
    height: 70vh;
    margin: 7px auto auto;
    box-sizing: border-box;
    border: $brown 7px dashed; //$brown
    background-color: #d5d5d5;
    outline: 7px $brown double;
    &::after{
        content:'';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index:1;
        background-color: rgba(206, 211, 208, 0.6);
        box-sizing: border-box;
        border: 7px $brown double;
    }
}
//搖獎的燈箱
#gameGpsLotto{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 290px;
    height: 330px;
    box-sizing: border-box;
    background-color: #fffcf2;
    border: $red 7px dashed;
    //border: #fffcf2 7px dashed;
    box-shadow:0px 0px 0px 2px #000 inset;
    outline: 2px #000 solid;
    z-index: 3;
    @media screen and (min-width: $padV){
        width: 440px;
        height: 480px;
    }
    >table{
        border-spacing:5px;
    }
    .gameGpsLottoUnit{
        //outline: 2px #0f0 solid;
        box-sizing: border-box;
        background-color: #d5d5d5;
        border: 2px #5f6f70 soild;
        width: 70px;
        height: 70px;
        // background-image: url(/image/gpsGame/treaBoxS.svg);
        // background-repeat: no-repeat;
        // background-position: center;
        @media screen and (min-width: $padV){
            width: 110px;
            height: 110px;
        }
    }
    .gameGpsLottoActive{
        //box-sizing: border-box;
        //border: #c7b299 5px outset;
        background-color: #fffcf2;
        border: #5f6f70 7px dashed;
        box-shadow:0px 0px 0px 2px #000 inset;
        outline: 2px #000 solid;
        background-image: url(/image/gpsGame/logo.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}
@keyframes gameGpsLottoActiveScale {
    0%   {transform: scale(1);}
    20%  {transform: scale(1.15);}
    40%  {transform: scale(1);}
    60%  {transform: scale(1.15);}
    80%  {transform: scale(1);}
    100% {transform: scale(1.5);}
  }
#gameGpsLottoShow{
    width: 140px;
    height: 140px;
    background-color: #fffcf2;
    border: $red 7px dashed;
    box-shadow:0px 0px 0px 2px $brown inset,
               0px 0px 0px 2px $brown;
    // outline: 2px #000 solid;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    @media screen and (min-width: $padV){
        width: 200px;
        height: 200px;
    }
}
#gameGpsLottoShow img{
    height: 80px;
}