
//LOGO旗
#headerLogo{
    padding-top: 3px;
    position: relative;
    text-align: center;
    margin: -25px auto 0px auto;
    width: 250px;
    background: url(../../image/headerLogoBg.svg) no-repeat;
    background-size: 100% 100%;
    transition-duration: 1s;
}
#headerLogo a{
    width: 200px;
    height: 160px;
    display: inline-block;
    margin-top: 15px;
}
#headerLogo img{
    width: 195px;
    vertical-align: middle;
}
// #headerLogo::before{ //logo旗上面的桿子
//     content: '';
//     background-image: url(../../image/navrogC.svg);
//     display: block;
//     height: 15px;
//     width: 250px;
// }
// #headerLogo::after{ //logo旗下的三角形
//     content: '';
//     display: block;
//     margin: auto;
//     width: 0px;
//     border-top: $beige 20px solid;
//     border-left: transparent 100px solid;
//     border-right: transparent 100px solid;
//     border-bottom: transparent 20px solid;
// }

//選單列
header::before{  //上下旗桿
    content: '';
    background-image: url(../../image/navrog.svg);
    background-size: cover;
    background-position: center;
    display: block;
    height: 15px;
    width: 100%;
    
}
header::after{
    content: '';
    background-image: url(../../image/navrog.svg);
    background-size: cover;
    background-position: center;
    display: block;
    height: 15px;
    width: 100%;
    
    
}
header{
    background: $beige;
    padding-top: 10px;
    position: relative;
    transition-duration: 0.5s;
    // transition-delay: 0.5s;
    top: 0;
}

#headerMenu{
    text-align: center;
    transition-duration: 0.5s;
    // transition-delay: 0.2s;
    height: 256px;
    overflow: hidden;
}
// #headerMenu ul{
//     transition-delay: 1s;
//     transition-duration: 1s;
// }
#headerMenu a{
    color:$brown;
    font-size: 1.5rem;
    font-family: $fofaText;
    display: inline-block;
    padding: 20px;

}

//選單下方角色資訊，使用grid
#headerMe{
    color: #fff;
    font-size: 1.25rem;
    font-family: $fofaText;
    text-align: center;
    height: 300px;
    position: absolute;
    display: grid;
    grid-template:repeat(6,1fr)/repeat(4,1fr);
    margin: auto;
    top: 449px;
    left: 0;right: 0;
    width: 350px;
    transition-duration: 0.8s;
}
#headerMe::after{ //角色資訊下方的三角形
    content: '';
    display: block;
    margin: auto;
    width: 0px;
    border-top: #385478 20px solid;
    border-left: transparent 175px solid;
    border-right: transparent 175px solid;
    border-bottom: transparent 20px solid;
    grid-area: 7/1/span 1/ span 4;
    background: rgba(0, 0, 0, 0);
}
#headerMe li{
    padding:10px;
    background:#385478; 
}
#headerMe a{
    color: #fff;
}

//設定角色各個資訊的grid位置
#headerMeShip{
    grid-area: 1/1/ span 4/ span 2;
}
#headerMeShip img{
    height: 100%;
}
#headerMeID{
    grid-area: 5/1/span 1/ span 4;
}
#headerMeLv{
    grid-area: 6/1/span 1/ span 3;
    text-align: left;
    // position: relative;
}
#headerMeMoney{
    grid-area: 6/4/span 1/ span 1;
}
#headerMeTalentS{
    grid-area: 1/3/span 1/ span 2;
}
#headerMeTalentL{
    grid-area: 2/3/span 1/ span 2;
}
#headerMeTalentA{
    grid-area: 3/3/span 1/ span 2;
}
#headerMeTalentI{
    grid-area: 4/3/span 1/ span 2;
}

//角色經驗條
#headerExpBar{
    width: 150px;
    border: #fff solid 2px;
    border-radius: 50px;
    height: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align:top;
}
#headerExpLine{
    position: absolute;
    width: 50px;
    height: 20px;
    left: 0;
    top: 0;
    background: cadetblue;
    // z-index: 0;

}
#headerExp{
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}


header.hide{
    // height: 200px;
    // overflow: hidden;
    top: -200px;
}

#headerMenu.hide{ //原高256
    height: 0px; 
    transition-duration: 0.5s;
}

#headerMe.hide{
    top: -60px;
    // z-index: -1;
    
}
@media screen and (min-width:768px){
    //平板

    //調整選單為橫排
    #headerLogo{
        position: absolute;
        left: 0;
        right: 0;
    }
    #headerMenu{
        height: auto;
    }
    #headerMenu a{
        padding: 30px 0;
        width: 130px;
    }
    #headerMenu li{
        float: left;
        width: calc((100% - 250px) /4);
    }
    #headerMenu ul::after{
        content: '';
        display: block;
        clear: both;
    }
    #headerMenu li:nth-child(2){
        margin-right: 123px;
    }
    #headerMenu li:nth-child(3){
        margin-left: 123px;
    }

    //調整選單下方角色資訊排版
    #headerMe{
        top: 123px;
        width: 600px;
        grid-template: repeat(3,1fr) / repeat(5,1fr);
        z-index: -1;
    }
    #headerMe::after{ //角色資訊下方的三角形
        border-top: #385478 20px solid;
        border-left: transparent 300px solid;
        border-right: transparent 300px solid;
        border-bottom: transparent 20px solid;
        grid-area: 5/1/span 1/ span 4;
        
        background: rgba(0, 0, 0, 0);
    }
    #headerMeShip{
        grid-area: 1/2/ span 4/ span 1;
        width: 270px;
    }
    #headerMeShip img{
        height: 100%;
    }
    #headerMeID{
        grid-area: 1/1/span 1/ span 1;
    }
    #headerMeLv{
        grid-area: 2/1/span 2/ span 1;
        text-align: center;
        // position: relative;
    }
    #headerMeMoney{
        grid-area: 4/1/span 1/ span 1;
    }
    #headerMeTalentS{
        grid-area: 1/3/span 1/ span 1;
    }
    #headerMeTalentL{
        grid-area: 2/3/span 1/ span 1;
    }
    #headerMeTalentA{
        grid-area: 3/3/span 1/ span 1;
    }
    #headerMeTalentI{
        grid-area: 4/3/span 1/ span 1;
    }
}

@media screen and (min-width:1200px){
    //PC

    //調整選單下方角色資訊排版
    #headerMe{
        font-size: 1rem;
        top: 123px;
        width: 1100px;
        grid-template:1fr 40px /  repeat(9,1fr);
        z-index: -1;
        height: 70px;
    }
    #headerMe::after{ //角色資訊下方的三角形
        border-top: #385478 20px solid;
        border-left: transparent 550px solid;
        border-right: transparent 550px solid;
        border-bottom: transparent 20px solid;
        grid-area: 2/1/span 1/ span 9;
        
        background: rgba(0, 0, 0, 0);
    }
    #headerMeShip{
        grid-area: 1/5/ span 1/ span 1;
        // width: 270px;
        height: 40px;
        text-align: left;
    }
    #headerMeShip img{
        height:100%;
        position: absolute;
        z-index: 1;
    }
    #headerMeID{
        grid-area: 1/1/span 1/ span 1;
    }
    #headerMeLv{
        grid-area: 1/2/span 1/ span 2;
        text-align: center;
        // position: relative;
    }
    #headerMeMoney{
        grid-area: 1/4/span 1/ span 1;
    }
    #headerMeTalentS{
        grid-area: 1/6/span 1/ span 1;
    }
    #headerMeTalentL{
        grid-area: 1/7/span 1/ span 1;
    }
    #headerMeTalentA{
        grid-area: 1/8/span 1/ span 1;
    }
    #headerMeTalentI{
        grid-area: 1/9/span 1/ span 1;
    }


}