// css-reset
@import'sass/base/reset';

//文字大小字型設定
@import'sass/base/font';

//登箱
//@import'sass/base/lightbox';

// * {
//     outline: 1px solid black;
// }

body {
    background-image: url('../image/background/BgPage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.lightbox {
    top: 160px;
    left: calc(50% - 150px);
}

.paper {
    img {
        width: 50%;
        display: block;
        margin: 40px auto;
    }

    h2 {
        margin: 10px 0;
    }
}

.labelBox {
    display: flex;
    justify-content: center;
    padding: 10px;

    span {
        margin-right: 10px;
        color: $brown;
        font-family: Adobe Heiti Std R;
    }

    input {
        border-radius: 10px;
        border: 1px solid transparent;
    }
}



.loginform a {
    margin: 0 181px;
}

.paper::after,
.paper::before {
    display: none;
}