// css-reset
@import'sass/base/reset';

//文字大小字型設定
@import'sass/base/font';

// * {
//     outline: 1px solid black;
// }

body {
    background-image: url("../image/background/BgPage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

// 左邊選單
.menu {
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    // overflow-y: scroll;
    border: 7px dashed #5f6f70;
    box-shadow: 0px 0px 0px 2px #000 inset,
        0px 0px 0px 2px #000;

    #logo {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    p {
        font-family: $fofaText;
        font-size: 1rem;

        #manager {
            color: $blue;
        }
    }
}

.menuUl {
    li {
        margin: 30px 0;
        display: block;

        a {
            color: $brown;
            font-family: $fofaText;
            font-size: 1.25rem;
        }
        a:hover{
            color: $blue;
        }
    }
}


// 右邊table
.contentWrap {
    padding-top: 20px;

    .content {
        overflow-x: auto;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        margin-left: 280px;
        max-width: 1800px;
        margin-right: 20px;
        border-radius: 30px;
        position: relative;

        table {
            border-spacing: 0 1rem;
            text-align: center;
            color: $brown;
            font-family: $fofaText;

            tr {

                th {
                    width: 160px;
                    padding: 1rem 0;

                }

                td {
                    vertical-align: middle;
                    height: 50px;
                }

            }

            tr:nth-child(even) {
                background-color: #BBB09D;
            }

            img {
                width: 30px;
            }
        }

    }
}

.dataTable {
    table {
        width: 100%;
        border-spacing: 0.5rem 0rem;
    }

    width: 100%;
}

.pagination ul {
    display: flex;
    justify-content: center;
}

.pagination ul li {
    margin: 10px;
    font-size: 20px;
    background-color: $blue;
    padding: 10px;

    a {
        color: $beige;
        margin: 0 5px;
        font-family: $fofaText;
    }
}