@import '../base/reset';
@import '../base/font';

$padV: 768px;
$padH: 960px;
$pc: 1200px;
$pcMax: 2500px;
//@media screen and (min-width: ){}
//@media screen and (min-width: $padV){}
//@media screen and (min-width: $pc){}
$brownO40: rgba(54,46,43,0.4);
$lightBrown: #b6a79a;
$boxColor: #f5ecdd;

body {
    background-image: url(../image/background/BgPage.png);
    background-size: cover;
    background-repeat: no-repeat;
}
//熱門話題
#hotIssue{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    @media screen and (min-width: $padV){}
    @media screen and (min-width: $pc){
        width: 1200px;
    }
    .hotIssueBox{
        //margin: 1rem 1rem 0;
        margin: 0.5rem 0.5rem;
    }
    .hotIssueBoxLink{
        display: flex;
        background: $boxColor;
        color: $brown;
        font-family: $fofaText;
        font-size: 1rem;
        line-height: 1.5;
        padding: 1rem;
        @media screen and (min-width: $padV){}
        @media screen and (min-width: $pc){
            width: calc(20rem + 120px);
        }
    }
    .hotIssueBoxInfo{
        width: 120px;
        height: 120px;
        -webkit-clip-path: circle(47.0% at 50% 50%);
        clip-path: circle(47.0% at 50% 50%);
        img{
            height: 120px;
        }
    }
    .hotIssueBoxCont{
        width: 20rem;
        .textM{
            text-align: left;
        }
        .hotIssueBoxContText{
            padding-left: 0.5rem;
            color: $brown;
        }
        .hotIssueBoxView{
            position: relative;
            top: 0.5rem;
            //left: 1rem;
            color: $brown;
            font-family: $fofaText;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-left: 1.5rem;
            &::before{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                display: block;
                width: 2rem;
                height: 1rem;
                background-repeat: no-repeat;
                background-image: url(../image/bar/viewed.png);
                background-size: contain;
            }
        }
        .hotIssueBoxCommend{
            position: relative;
            top: 0.5rem;
            left: 1rem;
            color: $brown;
            font-family: $fofaText;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-left: 1.2rem;
            &::before{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                display: block;
                width: 2rem;
                height: 1rem;
                background-repeat: no-repeat;
                background-image: url(../image/bar/commend.png);
                background-size: contain;
            }
        }
    }
}

//最新情報
#newsWrapCont{
    @media screen and (min-width: $padV){}
    @media screen and (min-width: $pc){
        width: 1200px;
        margin: auto;
    }
}
//內容標題列 
#newsWrapContListTit{
    display: flex;
    background-color: $brown;
    font-family: $fofaText;
    font-size: 1.25rem;
    color: $beige;
    align-items: center;
    @media screen and (min-width: $padV){}
    @media screen and (min-width: $pc){
        width: 1200px;
        height: 4rem;
        border-radius: 10px;
    }
    #newsWrapFilter{
        @media screen and (min-width: $padV){}
        @media screen and (min-width: $pc){
            width: calc(100% - 150px - 220px);
            padding-left: 1rem;
        }
        .newsWrapListBtn{
            display: inline-block;
            padding: 0.3rem 0.5rem;
            margin: 0px 0.2rem;
            line-height: 1;
            font-family: $fofaText;
            color: $brown;
            text-align: center;
            vertical-align: center;
            border-radius: 4px;
            background-color: $beige;
            @media screen and (min-width: $padV){
                
            }
            @media screen and (min-width: $pc){
            }
        }
        #newsWrapListGps{
            background-color: #7ccbbd;
        }
        #newsWrapListTtraining{
            background-color: #ffe3ac;
        }
        #newsWrapListOther{
            background-color: #fbc9bc;
        }
    }
}
//內容
.newsBox{
    margin-top: 10px;
    // position: relative;
    // transform: rotateX(180deg);
    // &::after{
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;
    //     border-radius: 10px;
    //     background: $brown;
    //     transform: rotateX(180deg);
    // }
}
.newsBoxInfo{
    display: flex;
    align-items: center;
    background: $boxColor;
    color: $brown;
    font-family: $fofaText;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 10px;
    border-radius: 10px;
     a{
        color: $brown;
    }
    .newsBoxInfoCont{
        @media screen and (min-width: $padV){}
        @media screen and (min-width: $pc){
            width: 830px;
            padding-left: 0.5rem;
        }
        .newsBoxName{
            display: none;
            @media screen and (min-width: $padV){
                
            }
            @media screen and (min-width: $pc){
                display: inline-block;
                padding: 0.3rem 0.5rem;
                margin: 0px 0.2rem;
                line-height: 1;
                font-family: $fofaText;
                color: $brown;
                text-align: center;
                vertical-align: center;
                border-radius: 4px;
                background-color: #7ccbbd;
            }
        }
        .newsBoxTit{
            display: inline-block;
            padding-left: 0.5rem;
        }
    }
    .newsBoxCommend::before,.newsBoxTime::before{
            content:' / ';
        }
}
.newsBoxArti{
    //background: $boxColor;
    //background: $blue;
    //background: $beige;
    background: #FAD6A5;
    position: absolute;
    top: 100%;
    left: 0;
    //opacity: 0;
    z-index: 1;
    width: 1200px;
    color: $brown;
    font-family: $fofaText;
    font-size: 1.25rem;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 10px 1.5rem;
    border-radius: 10px;
    transform: rotateX(90deg);
    transform-origin: top;
}
.newsInfo{
    width: 150px;
    text-align: center;
}
.newsOwner{
    width: 220px;
    text-align: center;
}
#getMoreNews{
    //outline: 2px #f00 solid;
    display: block;
    position: relative;
    margin: 10px auto 30px;
    background-color: transparent;
    text-align: center;
    border: 0px;
    font-size: 1.2rem;
    color:$brown;
    font-family: $fofaTitle;
    &::after{
        content: " ";
        display: block;
        position: absolute;
        bottom: -2rem;
        left: calc(50% - 1rem);
        width: 2rem;
        height: 2rem;
        background-image: url(../../image/bar/expand-button.svg);
        background-size: contain;
        }
}   
