@import '../base/reset';
@import '../base/font';

$padV: 768px;
$padH: 960px;
$pc: 1200px;
$pcMax: 2500px;
//@media screen and (min-width: ){}
//@media screen and (min-width: $padV){}
//@media screen and (min-width: $pc){}
$brownO40: rgba(54,46,43,0.4);
$lightBrown: #b6a79a;
$boxColor: #f5ecdd;
$titleHight: 300px;
$paddingBetweenHeader: 150px;

body {
    background-image: url(../image/background/BgPage.png);
    background-size: cover;
    background-repeat: no-repeat;
}
//頁面標題
#bartitle {
    width: 100%;
    height: $titleHight;
    background-image: url(../image/bar/barBackground.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 80px -50px;
    line-height: $titleHight / 1.5;
    //line-height: $titleHight;
    text-align: center;
    @media screen and (min-width: $padV){
        background-size: 80%;
        background-position: bottom right;
    }
    @media screen and (min-width: $pc){
        padding-top: $paddingBetweenHeader;
        background-size: 55%;
    }
    .titlePri {
        margin: auto;
        vertical-align: bottom;
    }
    .btnpri{
        font-family: $fofaText;
        color: $beige;
        //background-color: $darkred;
        vertical-align: top;
        .wave {
            background: $red;
        }
    }
}
//熱門話題
#hotIssue{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    outline: 2px #000 solid;
    @media screen and (min-width: $padV){}
    @media screen and (min-width: $pc){
        width: 1200px;
        height: 550px;
    }
    .hotIssueBox{
        //margin: 1rem 1rem 0;
        margin: 0.5rem 0.5rem;
    }
    .hotIssueBoxLink{
        display: flex;
        background: $boxColor;
        color: $brown;
        font-family: $fofaText;
        font-size: 1rem;
        line-height: 1.5;
        padding: 1rem;
        @media screen and (min-width: $padV){}
        @media screen and (min-width: $pc){
            width: calc(20rem + 120px);
        }
    }
    .hotIssueBoxInfo{
        width: 120px;
        height: 120px;
        -webkit-clip-path: circle(47.0% at 50% 50%);
        clip-path: circle(47.0% at 50% 50%);
        img{
            height: 120px;
        }
    }
    .hotIssueBoxCont{
        width: 20rem;
        .textM{
            text-align: left;
        }
        .hotIssueBoxContText{
            padding-left: 0.5rem;
            color: $brown;
        }
        .hotIssueBoxView{
            position: relative;
            top: 0.5rem;
            //left: 1rem;
            color: $brown;
            font-family: $fofaText;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-left: 1.5rem;
            &::before{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                display: block;
                width: 2rem;
                height: 1rem;
                background-repeat: no-repeat;
                background-image: url(../image/bar/viewed.png);
                background-size: contain;
            }
        }
        .hotIssueBoxCommend{
            position: relative;
            top: 0.5rem;
            left: 1rem;
            color: $brown;
            font-family: $fofaText;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-left: 1.2rem;
            &::before{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                display: block;
                width: 2rem;
                height: 1rem;
                background-repeat: no-repeat;
                background-image: url(../image/bar/commend.png);
                background-size: contain;
            }
        }
    }
}
//放火燒
#hotIssue{
    //-webkit-clip-path: url(../../image/bar/take_4.svg);
    animation: firePath 10s;
    //background-color: #f00;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom right;
    -webkit-mask-size: contain;
    // position: relative;
    // &::after{
    //     content: url(../../image/bar/fire.gif);
    //     display: block;
    //     width: 20%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }
}
@keyframes firePath{
     0%{ -webkit-mask-image: url(../../image/bar/take_11.svg); }
    10%{ -webkit-mask-image: url(../../image/bar/take_10.svg);}
    20%{ -webkit-mask-image: url(../../image/bar/take_9.svg);}
    30%{ -webkit-mask-image: url(../../image/bar/take_8.svg);}
    40%{ -webkit-mask-image: url(../../image/bar/take_7.svg);}
    50%{ -webkit-mask-image: url(../../image/bar/take_6.svg);}
    60%{ -webkit-mask-image: url(../../image/bar/take_5.svg);}
    70%{ -webkit-mask-image: url(../../image/bar/take_4.svg);}
    80%{ -webkit-mask-image: url(../../image/bar/take_3.svg);}
    90%{ -webkit-mask-image: url(../../image/bar/take_2.svg);}
    100%{ -webkit-mask-image: url(../../image/bar/take_1.svg);}
    0%{ -webkit-mask-image: url(../../image/bar/take_11.svg); }
    10%{ -webkit-mask-image: url(../../image/bar/take_10.svg);}
    20%{ -webkit-mask-image: url(../../image/bar/take_9.svg);}
    30%{ -webkit-mask-image: url(../../image/bar/take_8.svg);}
    40%{ -webkit-mask-image: url(../../image/bar/take_7.svg);}
    50%{ -webkit-mask-image: url(../../image/bar/take_6.svg);}
    60%{ -webkit-mask-image: url(../../image/bar/take_5.svg);}
    70%{ -webkit-mask-image: url(../../image/bar/take_4.svg);}
    80%{ -webkit-mask-image: url(../../image/bar/take_3.svg);}
    90%{ -webkit-mask-image: url(../../image/bar/take_2.svg);}
    100%{ -webkit-mask-image: url(../../image/bar/take_1.svg);}
}


//最新情報
#newsWrapCont{
    @media screen and (min-width: $padV){}
    @media screen and (min-width: $pc){
        width: 1200px;
        margin: auto;
    }
}
//內容標題列 
#newsWrapContListTit{
    display: flex;
    background-color: $brown;
    font-family: $fofaText;
    font-size: 1.25rem;
    color: $beige;
    align-items: center;
    @media screen and (min-width: $padV){}
    @media screen and (min-width: $pc){
        width: 1200px;
        height: 4rem;
        border-radius: 10px;
    }
    #newsWrapFilter{
        @media screen and (min-width: $padV){}
        @media screen and (min-width: $pc){
            width: calc(100% - 150px - 220px);
            padding-left: 1rem;
        }
        .newsWrapListBtn{
            display: inline-block;
            padding: 0.3rem 0.5rem;
            margin: 0px 0.2rem;
            line-height: 1;
            font-family: $fofaText;
            color: $brown;
            text-align: center;
            vertical-align: center;
            border-radius: 4px;
            background-color: $beige;
            @media screen and (min-width: $padV){
                
            }
            @media screen and (min-width: $pc){
            }
        }
        #newsWrapListGps{
            background-color: #7ccbbd;
        }
        #newsWrapListTraining{
            background-color: #ffe3ac;
        }
        #newsWrapListOther{
            background-color: #fbc9bc;
        }
        #newsWrapListNavy{
            background-color: #45a0c7;
        }
    }
}
//內容
.newsBox{
    margin-top: 10px;
    // position: relative;
    // transform: rotateX(180deg);
    // &::after{
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;
    //     border-radius: 10px;
    //     background: $brown;
    //     transform: rotateX(180deg);
    // }
}
.newsBoxInfo{
    display: flex;
    align-items: center;
    background: $boxColor;
    color: $brown;
    font-family: $fofaText;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 10px;
    border-radius: 10px;
     a{
        color: $brown;
    }
    .newsBoxInfoCont{
        @media screen and (min-width: $padV){}
        @media screen and (min-width: $pc){
            width: 830px;
            padding-left: 0.5rem;
        }
        .newsBoxName{
            display: none;
            @media screen and (min-width: $padV){
                
            }
            @media screen and (min-width: $pc){
                display: inline-block;
                padding: 0.3rem 0.5rem;
                margin: 0px 0.2rem;
                line-height: 1;
                font-family: $fofaText;
                color: $brown;
                text-align: center;
                vertical-align: center;
                border-radius: 4px;
                background-color: #7ccbbd;
            }
        }
        .newsBoxTit{
            display: inline-block;
            padding-left: 0.5rem;
        }
    }
    .newsBoxCommend::before,.newsBoxTime::before{
            content:' / ';
        }
}
.newsBoxArti{
    //background: $boxColor;
    //background: $blue;
    //background: $beige;
    background: #FAD6A5;
    position: absolute;
    top: 100%;
    left: 0;
    //opacity: 0;
    z-index: 1;
    width: 1200px;
    color: $brown;
    font-family: $fofaText;
    font-size: 1.25rem;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 10px 1.5rem;
    border-radius: 10px;
    transform: rotateX(90deg);
    transform-origin: top;
}
.newsInfo{
    width: 150px;
    text-align: center;
}
.newsOwner{
    width: 220px;
    text-align: center;
}
#getMoreNews{
    //outline: 2px #f00 solid;
    display: block;
    position: relative;
    margin: 10px auto 30px;
    background-color: transparent;
    text-align: center;
    border: 0px;
    font-size: 1.2rem;
    color:$brown;
    font-family: $fofaTitle;
    &::after{
        content: " ";
        display: block;
        position: absolute;
        bottom: -2rem;
        left: calc(50% - 1rem);
        width: 2rem;
        height: 2rem;
        background-image: url(../../image/bar/expand-button.svg);
        background-size: contain;
        }
}
// 新增討論燈箱
#addFormWrap{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 0px 0px;
    background-color: $brownO40;
    >h1{
        text-align: center;
    }
    .textM{
        text-align: center;
        padding-bottom: 1rem;
    }
    @media screen and (min-width: $padH){        
        background-image: url(../image/bar/backToBar.svg);
        background-size: 40%;
        background-position: 0px -20%;
        background-repeat: no-repeat;
    }
    @media screen and (min-width: $pc){
        padding: 0px 0px 0px;
        background-size: 30%;
    }
    #backToBarBtn{
        display: none;
        @media screen and (min-width: $padH){
            display: inline;
            position: relative;
            top: -120px;
            left: 5%;
            font-family: $fofaText;
            font-size: 0.9rem;
            color: $brown;
            background: $beige;
            opacity: 0.8;
            padding: 0.5rem 0.5rem;
            border: $beige  2px solid;
            letter-spacing: 2px;
            box-shadow: 0px 0px 0px 2px $brown inset,
                        0px 0px 0px 2px $brown;
            &::before{
                content: "⏎";
            }
        }
        @media screen and (min-width: $pc){
            display: inline;
            top: -200px;
            left: 7%;
            font-size: 1.1rem;
            padding: 1rem 1rem;
        }
        @media screen and (min-width: $pcMax){
            top: -100%;
        }
    }
    #addForm{
        width: 80%;
        margin: auto;
        padding: 2rem;
        font-family: $fofaTitle;
        background-image: url(../image/market/mBGPapper.jpg);
        background-size: cover;
        box-shadow: 0px 0px 50px 10px $brown;
        //background-color: $beige;
        // border: #ccc  7px dashed;
        // box-shadow: 0px 0px 0px 2px $brown inset,
        //             0px 0px 0px 2px $brown;
        @media screen and (min-width: $pc){
            width: 1000px;
        }
        @media screen and (min-width: $pcMax){
            width: 1200px;
        }
        .textHiliR{
            text-align: center;
            font-size: 2rem;
            font-family: $fofaTitle;
            letter-spacing: 10px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        //表格
        #addFormCont{
            width: 100%;
            padding-top: 1.5rem;
            color: $brown;
            font-size: 1.25rem;
            #articleTypeTit{
                position: relative;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0px;
                    left: -5px;
                    background-color: $brown;
                    opacity: 0.7;
                }
                .articleTypeBtn{
                    position: relative;
                    padding-left: 1rem;
                    display: inline-block;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    &::before{
                        content: "";
                        width: 1rem;
                        height: 1rem;
                        position: absolute;
                        top: -0.8rem;
                        left: -5px;
                        border-radius: 50%;
                        border: 2px $brown solid;
                    }
                    &:checked::before{
                        border-color: $blue;
                        background: $blue;
                        box-shadow: 0px 0px 0px 2px #fff inset; 
                    }
                }
            }
            #articleTit{
                font-size: 1.25rem;
                font-family: $fofaTitle;
                color: $blue;
                background: transparent;
                border-width: 0px;
                padding-top: 0.5rem;
                outline: 0px;
                //border-bottom: 2px $brown dashed;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
            #articleCont{
                position: relative;
                padding: 1rem 0rem 0.5rem;
                margin: 0.5rem 0;
                background: transparent;
                border-width: 0px;
                outline: 0px;
                &::before, &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0px;
                    left: -5px;
                    background-color: $brown;
                    opacity: 0.7;
                }
                &::after{
                    top: 0rem;
                    left: -5px;
                }
                span{
                    display: block;
                }
                #articleCont{
                    width: 100%;
                    font-size: 1.2rem;
                    font-family: $fofaTitle;
                    color: $blue;
                    padding-left: 1rem;
                }
            }
        }
        .btnpri{
            left: calc(100% - 8rem);
        }
    }
}
#submitArticle{
    opacity: 0;
}
