@import '../base/font';
@import '../base/reset';
@import '../layout/header';


#homeGame,#homeMarket,#homeBar,#homeEnd{
    margin-top: 250px;
}

.clearfix{
    clear: both;
}
.justHide{
    display: none;
}
a{color: $blue;}
.btnpri{cursor: pointer;}

body{
    background: url(../image/background/BgPage.png);
    // background-size: 100% auto;
}
p{ //這裡其實不懂為何_font設定的在瀏覽器不執行
    line-height: 1.5;
}
.textEmphasis{
    font-size: 2rem;
    text-align: center;
}
#homeBanner{
    height: 100vh;
}
#homeBanner .textEmphasis{
    margin: 50px auto 20px auto;
}
#homeBannerLogo{
    width: 250px;
    margin: 10px auto -80px auto;
    display: block;
    
}
#WrapMap{
    width: 100%;
    overflow: hidden;
    // position: fixed;
    z-index: -1;
}
.homeMap{
    width: 1200px; //之後隨著視角，調整為固定寬度及scale translate之類的
    position: relative;
}
#homeMapImg{
    width: 100%;
    opacity: 0.4;
}

//調整成為海賊的船
#wrapShipArea{
    position: absolute;
    width: 15%;
    top: 40%;
    left: 9%;
    text-align: center;
}
#wrapShipArea img{
    width: 100%;
    position: absolute;
}

#btnBePirate{
    // position: absolute;
    margin: 150px 0 0 40px;
}




//調整地圖上圖片的定位
.homeMapPlace{
    position: absolute;
    opacity: 0.1;
}
#homeMapGame{
    top: 38%;
    left: 25%;
    width: 14%;
}
#homeMapMarket{
    top: 32%;
    left: 40%;
    width: 15%;
}
#homeMapBar{
    top: 42%;
    left: 56%;
    width: 12%;
}
#homeMapMe{
    top: 52%;
    left: 70%;
    width: 8%;
}
#mapGameImg,#mapMarketImg,#mapBarImg,#mapMeImg{
    width: 100%;
}

//調整地圖超連結緞帶的定位
.mapLink{
    width: 120px;
    position: absolute;
    left: 10px;
    top: -20px;
    z-index: 1;
}

.homeMapMsg{
    background: $beige;
    width: 300px;
    padding: 10px;
    box-shadow: #a67c52 0 0 5px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    z-index: 2;
}
.homeMapPlace:hover .homeMapMsg{
    display: initial;
}

@media screen and (min-width:768px){
//調整slogan的字距
#homeBanner .textEmphasis .textHiliR{
    letter-spacing: 50px;
}
//調整logo與MAP的重疊
    #homeBannerLogo{
    margin: 10px auto -20px auto;
}
//調整地圖大小及位置
.homeMap{
    width: 166%; //之後隨著視角，調整為固定寬度及scale translate之類的
    transform: scale(1) translateX(-22%) translateY(0px);
}
//調整成為海賊的位置到中間
#wrapShipArea{
    // position: absolute;
    width: 10%;
    top: 70%;
    left: 0;
    right: 0;
    margin: auto;
}
#shipArea{
    height: 150px;
}

//調整城市圖片可見度
#homeMapImg{
    // width: 100%;
    opacity: 1;
}
.homeMapPlace{
    opacity: 1;
}

}
@media screen and (min-width:1200px){
    //.textEmphasis設回3rem，letter-spacing: 50px;
    .textEmphasis{
        font-size: 3rem;
    }
    .mapLink{width: 200px;}

    #homeBannerLogo{
        width: 250px;
        margin: 10px auto -80px auto;
        display: block;
        
    }
    //調整地圖大小及位置
    .homeMap{
        width: 100%; //之後隨著視角，調整為固定寬度及scale translate之類的
        transform: scale(1) translateX(0%) translateY(0px);
    }
    //調整成為海賊的位置到中間
    #wrapShipArea{
        // width: 15%;
        top: 40%;
        left: 14%;
        right: auto;
    }
    #shipArea{
        height: 200px;
    }

}

//==================首頁header出現的調整
@media screen and (min-width:1024px){
header.homeHeadHide{
    top: -200px;
}

}

//===================接下來為第二屏客製

#homeDIY{
    // height: 100vh;
    text-align: center;
}
#DIYPanel{
    border: #a67c52 5px double;
    padding: 10px;
    margin:10px;
    transition-duration: 0.5s;
}
//客製狀態列的點點
#DIYStatus svg{
    width: 15px;
}
.st0{fill:none;stroke:#736357;stroke-miterlimit:10;}
.st1{fill:#736357;stroke:#736357;stroke-miterlimit:10;}
//客製狀態列的箭頭，及位置調整
#DIYStatus li:nth-child(n+2)::before{
    content:'';
    background: url(../image/home/arrow.svg) no-repeat;
    display: inline-block;
    width: 40px;
    height: 10px;
    position: absolute;
    top: 30px;
    left: -40px;
}
#DIYStatus li{
    position: relative;
    text-align: center;
    float: left;
    width: 40px;
}
#DIYStatus li:nth-child(n+2){
    margin: 0 10px 20px 45px;
}

//船的部位圖片
#DIYPanel img{
    width: 90px;
    background: $beige;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}
//船
#shipArea{
    position: relative;
    height: 280px;
    width: 300px;
    margin: auto;
}
#partSail,#partBody,#drawFrame{
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#drawFlag,#combineShip{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform-origin: 0 0;
    transform: scale(0.4);
}
#pen{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: scale(0.4);
}

    //海浪，海浪的位置跟上面shipArea的height有關
#wrapShipArea::before{
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background:url(../image/ship/wave1.svg) no-repeat;
    background-size: 100% 100%;
    bottom: 10px;
    left: -20px;
    z-index: -1;
}
#wrapShipArea::after{
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    background:url(../image/ship/wave2.svg) no-repeat;
    background-size: 100% 100%;
    bottom: -12px;
    right: 0px;
    z-index: -1;
}


//畫畫區的按鈕
#penColor{
    border: none;
    width: 40px;
    height: 40px;
    border: #a67c52 2px solid;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background: $blue;
    border: $beige 3px solid;
}
.penWidth{
    background: $brown;
    border: none;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    cursor: pointer;
}
.penWidth:nth-child(3){
    height: 5px;
    outline: $beige 3px solid;
}
.penWidth:nth-child(4){
    height: 10px;
}
.penWidth:nth-child(5){
    height: 15px;
}
.penWidth:nth-child(6){
    height: 20px;
}
.fas{
    color: $brown;
    font-size: 24px;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    border-radius: 100px;
}
#eraser{
    border: 2px solid $brown;
}
#cleanDraw{
    border: 2px solid $brown;
}
#color-picker-container{
    width: 250px;
    margin: auto;
}
.btnsec,.btnpri{
    border: none;
    margin: 5px;
}
.btnsec:focus,.btnpri:focus{
    outline: none;
}
@media screen and (min-width:768px){

//客製狀態列的箭頭，及位置調整
#DIYStatus{
    width: 453px;
    margin: auto;
}
#DIYStatus li:nth-child(n+2)::before{
    top: 0;
    bottom: 0;
    margin: auto;
}
#DIYStatus li{
    width: auto;
}
#DIYStatus li:nth-child(n+2){
    margin: 0 10px 20px 45px;
}
#drawFlag,#combineShip{
    transform: scale(0.4);
}
}

@media screen and (min-width:1200px){
    #homeDIY .textEmphasis{
        margin-top: 150px;
    }
    #DIYStatus li:first-child{
        margin-left: auto;
    }
    #homeDIY{
        width: 1200px;
        margin: auto;
    }
    #shipArea{
        float: left;
    }
    #DIYPanel{
        float: right;
        margin-top: 100px;
    }
    #shipArea{
        position: relative;
        height: 700px;
    }
    #partSail,#partBody,#drawFrame{
        width: 750px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    #drawFlag,#combineShip{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    transform: unset;
    }
    #homeDIY::after{
        content: '';
        display: block;
        clear: both;
    }
    #pen{
        transform: scale(1);
    }

}


//電流急急棒
h2{
    text-align: center;
    line-height: 1.5;
    font-size: 2rem;
    letter-spacing: 5px;
}
h2 a{
    font-family: 王漢宗特明體繁;
}

#homeGame .smaller{
    font-size: 1.25rem;
}

#homeGamePlay{
    // height: 200px;
    width: calc(100% - 30px);
    background: rgba(173, 207, 193,0.5);
    border: #a67c52 5px double;
    margin: 10px;

}
#homeGameMsg{
    width: 250px;
    margin: auto;
    padding: 10px;
    background: $beige;
}

//懸賞排行
.homeWanteds{
    position: relative;
    height: 400px;
}
.wrapWanted{
    width: 170px;
    position: absolute;
}
.wrapWanted:nth-child(1){
    left: 0;
    right: 0;
    margin: auto;
}
.wrapWanted:nth-child(2){
    left: 10px;
    top: 160px;
    z-index: -1;
}
.wrapWanted:nth-child(3){
    right: 10px;
    top: 180px;
    z-index: -1;
}
#homeGameRank>p{
    margin-left: 20px;
}
#homeGameRank .textEmphasis{
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
#homeGameRank .textS a{
    color:$blue;
    font-size: 1.25rem;
    font-family: Adobe Heiti Std R;
}
.wanted{
    width: 170px;
    position: relative;
    border: #fff14e 3px solid;
    box-shadow: rgba(166, 124, 82,0.5) 0 0 5px;
}
.wantedPaper{
    width: 100%;
    vertical-align: middle;
}
.wanted p{
    position: absolute;
    font-family: 王漢宗特明體繁;
    text-align: center;
    line-height: 0.5;
}
.wantedShip{
    width: 75%;
    position: absolute;
    top: 10%;
    left: 0;right: 0;margin: auto;
}
.wantName{
    top: 77%;
    left: 0;right: 0;margin: auto;
    font-size: 1.5rem;
}
.wantScore{
    top: 90%;
    left: 0;right: 0;margin: auto;
    font-size: 1rem;
}

@media screen and (min-width:768px){

    .wrapWanted:nth-child(2){
        left: 25%;
    }
    .wrapWanted:nth-child(3){
        left: 55%;
        right: auto;
    }

}
@media screen and (min-width:1200px){
    h2{
        font-size: 3rem;
        letter-spacing: 10px;
    }
    #homeGameRank::after{
        content: '';
        display: block;
        clear: both;
    }
    #homeGameRank>p{
        text-align: right;
        width: 70%;
        float: left;
    }
    .homeWanteds{
        position: relative;
        height: 400px;
        width:calc(30% - 20px);
        float: left;
        margin-top: -100px;
    }
    .wrapWanted:nth-child(2){
        top: 100px;
        left: 9%;
    }
    .wrapWanted:nth-child(3){
        top: 130px;
        left: 55%;
        right: auto;
    }
}

//啟航尋寶
#homeGameGPS{
    .smaller{
        letter-spacing: 1px;
    }
}
#homeGameTrea{
    position: relative;
    text-align: right;
    margin: 10px;
    width: 355px;
}
#homeGameTrea>img{
    width: 250px;
}
.homeTreaImg{
    position: absolute;
    width: 150px;
    top: 0;
    left: 140px;
    transform: scale(0.3);
    
}
.homeTreaImg:nth-child(2){animation: popTrea 9s 0s infinite both;}
.homeTreaImg:nth-child(3){animation: popTrea 9s 3s infinite both;}
.homeTreaImg:nth-child(4){animation: popTrea 9s 6s infinite both;}
@keyframes popTrea{
    0%,25%,100%{opacity: 0;transform: scale(0.3);left: 140px;}
    3%,22%{opacity: 1;transform: scale(1);left: 20px;}
}

@media screen and (min-width:768px){
    
#homeGameTrea{
    position: relative;
    text-align: right;
    margin: -50px 10px 10px 10px;
    width: 355px;
    float: right;

}
}
@media screen and (min-width:1200px){
    #homeGameGPS .smaller{
        font-size: 2rem;
        letter-spacing: 3px;
    }   
    #homeGameTrea{
        margin: -80px 80px 10px 10px;
        width: 400px;
        float: right;
    
    }
    #homeGameTrea>img{
        width: 300px;
    }
}

//海上市集
#homeMarket>.textS{
    text-align: right;
    margin: 10px 20px;
}
#homeMarketProds{
    position: relative;
    margin-top: 120px;
}
#homeMarketBlack,#homeMarketShip{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 40px);
    color: $beige;
    height: 200px;
    position: absolute;
    .textM{
        color: $beige;
    }
}
#homeMarketBlack{
    background: #005982;
    z-index: -1;
    top: -120px;
    box-shadow: 0 0 5px rgba(166, 124, 82,0.5);
}
#homeMarketShip{
    background: #006ca6;
    z-index: -2;
    box-shadow: 0 0 5px rgba(166, 124, 82,0.5);
    top: -120px;

}
.homeTreaBtn{
    background: #f5ecdd;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(166, 124, 82,0.5);
    img{
        width: 100px;
    }
}
#homeMarketProdInfo{
    background: #f5ecdd;
    border-radius: 10px;
    margin:10px 30px;
    padding: 10px;
    height: 530px;
    text-align: center;
    box-shadow: 0 0 5px rgba(166, 124, 82,0.5);
    position: relative;
    .homeProdTalent{
        img{
            width: 200px;
            margin-top: 10px;
        }
    }
    i{
        position: absolute;
        top: 50%;
        font-size: 3rem;
        width: auto;
        height: auto;
        color: #736357;
    }
    .fa-arrow-circle-right{
        right: -25px;
    }
    .fa-arrow-circle-left{
        left: -25px;
    }

}
.homeWrapProd{
    position: absolute;
    left: 0;right: 0;margin: auto;
}
.homeProdImg{
    width: 150px;
    margin-top: -50px;
    opacity: 0;
    transform: translateX(-50px)  scale(0.8);
    transition-duration: 0.5s
}
.homeProdInfoCard p{
    opacity: 0;
    transform: translateY(24px) scale(0.8);
    transition-duration: 0.5s;
}
@for $i from 1 through 6{
    .homeProdInfoCard p:nth-child(#{$i}){
        transition-delay:$i*0.1 - 0.1s;
    }
}
.homeProdInfoCard p.homeProdAct{
    opacity: 1;
    transform: translateY(0px)  scale(1);
}

.homeProdImg.homeProdAct{
    opacity: 1;
    transform: translateX(0px)  scale(1);
}

@media screen and (min-width:768px){
    #homeMarketBlack,#homeMarketShip{
        width: calc(100% - 350px);
        height: 300px;
    }
    #homeMarketBlack{
        top: -120px;
        left: 0;
        right: 0;
        margin: auto;
        
    }
    #homeMarketShip{
        left: 0px;
        right: 0;
        margin: auto;
        top: -100px;
        transform: rotateZ(-10deg) translateX(-40px);
    
    }
    #homeMarketProds{ 
        ul{
            float: left;
        }
        li{
            margin: 10px 20px;
        }
    }
    #homeMarketProdInfo{
        float: left;
        width: calc(100% - 400px);
        height: 530px;
    }
    #homeMarketProds::after{
        content: '';
        display: block;
        clear: both;
    }
}
@media screen and (min-width:1024px){
    #homeMarket>.textS{
        text-align: right;
        margin: 10px 30% 10px 10px;
    }
    #homeMarketBlack{
        top: -90px;
        left: -15%;
        width: 300px;
        height: 500px;
    }
    #homeMarketShip{
        left: -15%;
        width: 300px;
        height: 500px;
    }
    #homeMarketProds{ 
        ul{
            float: left;
            width: calc(50% - 300px);
        }
        li{
            float: left;
            margin: 10px 20px;
        }
        li:nth-child(2n){
            margin: 80px -40px -80px -40px;
        }
    }
    #homeMarketProdInfo{
        width:400px;
        margin-left: 100px;
        height: 370px;
        .homeProdImg{
            float: left;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
        }
        .fa-arrow-circle-left{
            left: -85px;
        }
    }
    .homeProdInfoCard{
        text-align: left;
        padding-left: 150px;
        .btnpri{
            position: absolute;    
            right: 20px;
        }
    }

    
}

//情報酒館
#homeBar .textEmphasis{
    text-align: left;
    letter-spacing: 5px;
    margin: 10px;
}
#homeBar i{
    font-size: 1rem;
    height: auto;
}
.homeHotCard{
    background: #f5ecdd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: $brown;
    img{
        width: 100px;
        float: left;
        margin-right: 10px;
    }
    .textL{
        width: 235px;
        font-size: 1.25rem;
        font-weight: bold;
    }
    .textS{
        text-align: right;
    }
}
.homeNewsCard{
    background: #f5ecdd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: $brown;
    .textL{
        font-size: 1.25rem;
        font-weight: bold;
    }
    p{
        float: left;
    }
    .cardCat{
        width: 50px;
    }
    .cardTitle{
        width: 275px;
        span{
            font-size: 1rem;
            background: #7ccbbd;
            border-radius: 5px;
            display: inline-block;
            padding: 3px 10px;
            font-weight: normal;
            
        }
    }
    .cardTime{
        margin-left: 20px;
    }
}
.homeMore{
    margin: 0 20px;
}

@media screen and (min-width:768px){
    .homeHotCard{
        img{
            width: 150px;
        }
        .textL{
            width: 555px;
            font-size: 1.5rem;
            font-weight: normal;
        }
    }

    .homeNewsCard{
        .textL{
            font-size: 1.5rem;
            font-weight: normal;
        }
        .cardTitle{
            width: 400px;
        }
        .cardIcon{
            line-height: 60px;
        }
        .cardTime{
            text-align: center;
            width: 100px;
        }
    }

}
@media screen and (min-width:1024px){
    #homeBar{
        max-width: 1200px;
        margin-left:auto;
        margin-right:auto;
    }
    .homeHotCard{
        width: calc(50% - 40px);
        max-width: 560px;
        height: 200px;
        float: left;
        img{
            width: 200px;
        }
        .textL{
            width: 555px;
            font-size: 1.5rem;
            font-weight: normal;
        }
    }
    #homeBarHot::after{
        content: '';
        display: block;
        clear: both;
    }

    .homeNewsCard{
        p{
            float: left;
        }
        .cardCat{
            width: 100px;
            line-height: 60px;
        }
        .cardTitle{
            width:calc(100% - 370px);
            margin: 12px 0;
        }
    }


}

//首頁結尾語
#homeEnd{
    margin-top: 250px;
    .textEmphasis{
        padding: 10px;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    .textHiliR{
        font-size: 2rem;
        letter-spacing: 5px;
    }
    .textM{
        width: 250px;
        margin: auto;
    }
}
@media screen and (min-width:768px){
    #homeEnd .textEmphasis{
        font-size: 2rem;
        letter-spacing: 5px;
    }
    #homeEnd .textHiliR{
        letter-spacing: 10px;
    }

}

@media screen and (min-width:1200px){
    #homeEnd .textEmphasis{
        font-size: 3rem;
        letter-spacing: 10px;
    }
    #homeEnd .textHiliR{
        font-size: 3rem;
        letter-spacing: 50px;
    }

}


//竟然是footer
footer{
    text-align: center;
    margin-top: 100px;
}
footer img{
    width: 250px;
}