//reset
@import '../base/reset';
//font
@import '../base/font';
body{
	background-image: url('../image/iqtest/qabg.jpg');
	background-size: 100% 204vh;
	background-repeat: no-repeat;
}
*{
	outline: 1px solid red;
}
.lightbox{
	display: none;
}
.checkToLeave{
	bottom: 100px;
	left: 10%;
	top: 50%;
	transform: translate(-50%,50%);
}
.resultSlogan{
	position: relative;
	background-image: url('../image/iqtest/qaq.png');
	background-size: 340px 140px;
	width: 340px;
	height: 140px;
	margin: 50px auto 10px;
	line-height: 140px;
}
.resultSlogan .titlePri{
	color: $brown;
	font-size: 1.5rem;
	font-family: 王漢宗特明體繁;
	letter-spacing: 2px;
}
.titlePri{
	color: $brown;
	font-family: 王漢宗特明體繁;
	letter-spacing: 5px;
}
// col-6:1
#toPlay{
	margin: 0 auto;
	position: absolute;
	left: 50%;
	bottom: 5px;
	transform: translateX(-50%);
}
.row{
	margin: 0 auto;
	height: 1020px;
	position: relative;
}
.col-6{position: relative;}
.brain{width: 330px;padding: 0 20px;}
#abc{
	opacity: 1;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 150px;
	animation: spark 1s infinite;
}
.grade{
	text-align: center;
	font-family: $fofaTitle;
	font-size: 28px;
	padding-bottom: 20px;
}
.correctop{
	text-align: center;
	font-family: $fofaTitle;
	font-size: 28px;
	padding-bottom: 50px;
}
// radar
.titleSec{
	font-family: $fofaTitle;
	margin: 20px auto;
	font-size: 30px;
	letter-spacing: 2.5px;
}
.textM{
	font-family: Adobe Heiti Std R;
	letter-spacing: 1.5px;
	padding: 0 25px;
	text-align: left;
}
// info
.infoImg{
	width: 30px;
	cursor: pointer;
	position: absolute;
}
.infoImg:nth-child(1){
	top: 0;
	left: 220px;
}
.infoImg:nth-child(2){
	top: 75px;
	left: 38px;
}
.infoImg:nth-child(3){
	top: 76px;
	left: 315px;
}
.infoImg:nth-child(4){
	top: 155px;
	left: 220px;
}
.info{
	position: fixed;
}
.titlePriX{
	font-size: 1.7em;
}
.lightbox .leave:after{
	top: 5px;
	right: 35px;
}
.lightbox .leave:before{
	top: 5px;
	right: 35px;
}
.lightbox .paper{
	width: 300px;
}
.lightbox .axis {
  left: 46px;
  width: 350px;
  height: 20px;}
// animation
@keyframes spark{
	0%{
		display: block;
		opacity: 1;
	}
	100%{
		display: none;
		opacity: 0;
	}
}
//pc screen
@media screen and (min-width: 768px){
body{
	background-size: cover;
}
// title
.resultSlogan .titlePri{font-size: 3rem;}
.resultSlogan{
	background-size: cover;
	width: 1132px;
	height: 142px;
	line-height: 142px;
	margin: 50px auto;
	text-align: center;
}
// brain area
.row{max-width: 1200px;height: 650px;}
.col-6{
	float: left;
	height: 600px;
	width: 48%;
	padding: 0px 12px;
	margin-bottom: 10px;
}
.radar{
	position: relative;
}
.brain{
	width: 86.8055%;
	height: 400px;
	padding: 0 50px;
}
#abc{top: 15%;}
.grade{font-size: 36px;padding-bottom: 25px;}
.correctop{font-size: 36px;padding-bottom: 25px;}
// 說明area
.radar{
	// border: 2px solid red;
}
.titleSec{margin: 40px auto;font-size: 30px;}
.textM{padding: 0 20px;}
.btnpri{
	text-align: left;
	left: 50%;
	transform: translateX(-50%);
}
// info-btn
.infoImg:nth-child(1){
	top: 0;
	left: 330px;
}
.infoImg:nth-child(2){
	top: 130px;
	left: 80px;
}
.infoImg:nth-child(3){
	top: 130px;
	left: 470px;
}
.infoImg:nth-child(4){
	top: 260px;
	left: 330px;
}
.titlePriX{
	font-size: 3em;
}
.lightbox .leave:after{
	right: 7%;
    top: 40%;
}
.lightbox .leave:before{
	right: 7%;
    top: 40%;
}
.lightbox .paper{
	width: 400px;
}
.lightbox .axis {
  left: 0px;
  width: 450px;
  height: 20px;}
}