@import '../base/font';
@import '../base/reset';
@import '../layout/header';

.marWrap {
    background-image: url("../image/background/BgPage.png");
    background-repeat: repeat-y;
    font-family: $fofaText;
}

h1, h2, h3, h4 {
    text-shadow: .1px .1px 1px #000;
}

span {
    color: #534c4c;
}

.marBanner{
    width: 100%;
    height: 600px;
    text-align: center;
    margin-top: 50px;

    .mlslBox {
        width: 50%;
        overflow: hidden;
        position: absolute;
        margin-left: -10%;
    }

    .marBoard {
        position: absolute;
        opacity: .65;
        transition: .6s;
        left: 7%;
        top: 420px;
        transform: perspective(1000px) rotateY(42deg) skewY(-12deg); 
    }

    .marBoard + .marBoard{
        left: 30%;
        top: 250px;
        transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(.5); 
    }

    .marBoard + .marBoard + .marBoard{
        left: 50%;
        top: 150px;
        transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(.3);
        opacity: 0;
    }

    // .currentBoard {
    //     left: 50%;
    //     top: 150px;
    //     transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(.3);
    // }

    .mlsl { 
        width: 120%;
        transition: .6s;
    }

    h1 {
        padding-top: 50px;
    }

    .marTitBox {
        width: 200px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        position: relative;

        .titFrame {
            position: absolute;
            margin: 33px 0 0 -46px;
            display: block;
            transform: translateX(0px);
            transition: 1s;
        }

        
    }

    .marTitBox + span {
        display: block;
        margin-top: 80px;
    }

    .marTitInBox {
        position: relative;
        margin: 50px 0 0 10%;
    }



    h2 {
        padding: 10px;
        margin: 0;
        color: rgb(26, 26, 26);
    }

    .currentMar h2 {
        transform: scale(1.2);
        // font-weight: bold;
    }
}

.marMain {
    width: 80%;
    margin: auto;
    position: relative;
    .marBorDec {
        position: absolute;
        bottom: -8px;
        width: 100%;
    }
}

.shipYard {
    position: relative;
    .marTagBox{
        position: relative;
        a{

            h3{
                display: inline-block;
                padding: 10px 20px;
            }
        }

    }

    .marCont {
        position: relative;
        padding-bottom: 1vw;
        margin-top: 1vw;
        top: 0;
        box-shadow: 0px 0px 4px .1px #362e2b;
        border: 2px solid #523a31;
        border-radius: 4px;
        h2{
            margin: 30px 0 30px 3%;
        }

        .marBorDec {
            position: absolute;
            margin-bottom: -1vw;
            width: 100%;
        }
    }

    .sYProList {
        margin: 30px 0 0 1%;
        position: relative;
        width: 25%;
        float: left;
        .sYPro {
            width: 100%;
            display: block;
            position: relative;
            margin: 0 0 30px 0;
            img {
                position: absolute;
                z-index: 2;
                width: 30%;
            }
            .sYProInfo {
                width: 65%;
                margin: 0px 0 0 35%;

                h4 {
                    padding: 10px 0;
                }

                span {
                    padding: 2em;
                }
            }
            .purchaseBox {
                width: 100%;
                background-color: #2a3439;
                position: relative;
                bottom: 0;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                border-radius: 4px;
                z-index: 1;
                margin-top: 15px;
                overflow: hidden;
                box-shadow: 0px 0px 4px 0.1px #362e2b;
                .priceT{
                    line-height: 36px;
                    margin-right: 1em;
                    transform: translateX(6.7rem);
                    transition: .6s;
                }
                
                .proPrice{
                    line-height: 36px;
                    margin-right: 1em;
                    transform: translateX(6.5rem);
                    transition: .6s;
                }

                .checkPro {
                    position: absolute;
                    right: 2em;
                    line-height: 36px;
                    transition: .6s;
                    color: #fff;
                }
                span {
                    color: #ffffff;
                }
                .addCart {

                    img {
                        position: relative;
                        width: 2rem;
                        top: .2em;
                        margin-right: .2em;
                    }
                    span {
                        position: relative;
                        bottom: .5em; 
                        margin-right: 1em;
                    }
                    transform: translateY(38px);
                    transition: .6s;
                }
                .buy {
                    margin-right: 1em;
                    transform: translateY(38px);
                    transition: .6s;
                }
            }
            
        }
        .purchaseBox:hover .addCart, .purchaseBox:hover .buy {
            transform: translateY(0px);
        }

        .purchaseBox:hover .proPrice {
            transform: translateX(0px);
        }

        .purchaseBox:hover .priceT {
            transform: translateX(0px);
            opacity: 0;
        }

        .purchaseBox:hover .checkPro {
            opacity: 0;
        }
    }


    .sRShipDisplay {
        width: 70%;
        margin: 0 2%;
        float: left;
        position: relative;
        .triRingBgi {
            width: 70%;
            position: absolute;
            margin: 15vw 0 0 14%;
        }
        h3 {
            margin: 45px 0 0 0%;
        }
        .sRshipParts {
            display: block;
            position: absolute;
            width: 16%;
            img {
                width: 50%;
                transition: .6s;
            }
            h4 {
                display: inline-block;
                margin: 0;

            }
        }
        
        .sRshipParts:hover img{
            transform: scale(1.1);
        }

        .sRSH {
            margin: 15.8vw 0 0 15.5%;
        }

        .sRSB {
            margin: 33vw 0 0 45%;
        }

        .sRSS {
            margin: 21.7vw 0 0 75%;
            
        }

        .CusShip {
            width: 40%;
            margin: 4vw 0 0 30%;
        }
    }
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 1800px){
    .purchaseBox .addCart, .purchaseBox .buy {
        transform: translateY(0px);
    }   

    .purchaseBox .proPrice {
        transform: translateX(0px);
  
    }

    .purchaseBox:hover .priceT {
        transform: translateX(0px);
        opacity: 0;
    }

    .purchaseBox:hover .checkPro {
        opacity: 0;
    }

    .purchaseBox:hover .proPrice {
        opacity: 0;
    }

    .shipYard .sYProList .sYPro .purchaseBox .priceT, .shipYard .sYProList .sYPro .purchaseBox .proPrice{
        transform: translateX(0);
        position: absolute;
    }
    .shipYard .sYProList .sYPro .purchaseBox .priceT {
        left: 35%;
    }

    .shipYard .sYProList .sYPro .purchaseBox .proPrice {
        left: 50%;
    }
}

@media screen and (max-width: 1500px){
    .shipYard .sYProList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0 0 0;
        .sYPro {
            width: 30%;
            margin: 15px 1.65% 0 1.65%;
        }
    }

    .shipYard{
        .sRShipDisplay {
        width: 100%;
            .triRingBgi {
                margin: 19vw 0 0 14%;
            }
            .sRSH {
                margin: 20vw 0 0 15.5%;
            }
            .sRSB {
                margin: 45vw 0 0 45%;
            }
            .sRSS {
                margin: 28.7vw 0 0 75%;
            }
        }
        .marCont {
            padding-bottom: 10vw;
        }

        
    }
    
}

@media screen and (max-width: 1200px){
    .shipYard .sYProList .sYPro .purchaseBox .priceT {
        left: 2rem;
    }
    .shipYard .sYProList .sYPro .purchaseBox .proPrice {
        left: 5rem;
    }
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        transform: translateY(0px);
        margin-top: 2.5rem;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        transform:  translateY(0px);
        margin-top: 2.5rem;
    }
    
    .shipYard .sYProList .sYPro .purchaseBox:hover .priceT {
        transform: translateX(0px);
        opacity: 1;
    }

    .shipYard .sYProList .sYPro .purchaseBox:hover .checkPro {
        opacity: 1;
    }

    .shipYard .sYProList .sYPro .purchaseBox:hover .proPrice {
        opacity: 1;
    }

}

@media screen and (max-width: 1072px){
    .shipYard .sYProList .sYPro .purchaseBox .checkPro {
        display: none;
    }
    .shipYard .sYProList .sYPro .purchaseBox .priceT{
        left: 32%;
    }
    .shipYard .sYProList .sYPro .purchaseBox .proPrice{
        left: 50%;
    }
}

@media screen and (max-width: 1062px){
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        margin: auto;
        padding-top: 2.5rem;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin: 1rem auto;
    }
}

@media screen and (max-width: 768px){
    .marMain {
        width: 100%;
    }
    .shipYard .sRShipDisplay {
        display: none;
    }
    .shipYard .sYProList .sYPro {
        width: 45%;
    }
    .shipYard .sYProList .sYPro .purchaseBox {
        display: block;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin: 2rem 0 0 0;
        
    }
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        padding: 1.5rem 0 0 1rem;
    }
    .shipYard .sYProList .sYPro .purchaseBox .checkPro {
        display: none;
    }
    .shipYard .sYProList .sYPro .purchaseBox .priceT{
        left: 1rem;
    }
    .shipYard .sYProList .sYPro .purchaseBox .proPrice{
        left: 4rem;
    }
}

@media screen and (max-width: 750px){
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        margin-left: 4vw;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin-left: 2vw;
    }
    
}

@media screen and (max-width: 750px){
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        margin-left: 2vw;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin-left: 1vw;
    }
}

@media screen and (max-width: 670px){
    .shipYard .sYProList .sYPro .purchaseBox .addCart span {
        display: none;
    }
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        position: absolute;
        top: 0;
        right: 10px;
        padding: 0;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin-left: 15vw;
    }
}

@media screen and (max-width: 530px){
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        margin-left: 1vw;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin-left: 12vw;
    }
}

@media screen and (max-width: 510px){
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        margin-left: .5vw;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin-left: 12vw;
    }
}
@media screen and (max-width: 490px){
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        margin-left: 0;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin-left: 0;
    }
}

@media screen and (max-width: 470px){
    .shipYard .sYProList .sYPro .purchaseBox .addCart {
        position: absolute;
        top: 0;
        right: 10px;
        padding: 0;
    }
    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin-left: 10vw;
    }
}

@media screen and (max-width: 375px){

    .shipYard .sYProList .sYPro .purchaseBox .buy {
        margin-left: 8.5vw;
    }
}
//-----黑市


.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    padding-left: 10px; 
    padding-right: 10px;
    box-sizing: border-box;
    margin: 10px;
    
}
.col-1{ width: 8.333333%; }
.col-2{ width: 16.666666%; }
.col-3{ width: 25%;}
.col-4{ width: 33.333333%; }
.col-5{ width: 41.666666%; }
.col-6{ width: calc(50% - 20px); }
.col-7{ width: 58.333333%; }
.col-8{ width: 66.666666%; }
.col-9{ width: 75%; }
.col-10{ width: 83.333333%; }
.col-11{ width: 91.666666%; }
.col-12{ width: 100%; }
@media screen and (min-width:768px){
    .col-md-1{ width: 8.333333%; }
    .col-md-2{ width: 16.666666%; }
    .col-md-3{ width: calc(25% - 20px);}
    .col-md-4{ width: 33.333333%; }
    .col-md-5{ width: 41.666666%; }
    .col-md-6{ width: 50%; }
    .col-md-7{ width: 58.333333%; }
    .col-md-8{ width: 66.666666%; }
    .col-md-9{ width: 75%; }
    .col-md-10{ width: 83.333333%; }
    .col-md-11{ width: 91.666666%; }
    .col-md-12{ width: 100%; }
}


@media screen and (min-width:1200px){
    .col-xl-1{ width: 8.333333%; }
    .col-xl-2{ width: calc(16.66666% - 20px); }
    .col-xl-3{ width: 25%;}
    .col-xl-4{ width: 33.333333%; }
    .col-xl-5{ width: 41.666666%; }
    .col-xl-6{ width: 50%; }
    .col-xl-7{ width: 58.333333%; }
    .col-xl-8{ width: 66.666666%; }
    .col-xl-9{ width: 75%; }
    .col-xl-10{ width: 83.333333%; }
    .col-xl-11{ width: 91.666666%; }
    .col-xl-12{ width: 100%; }


}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


/* 黑市  */
.box{
    border: 2px solid rgb(202, 132, 26);
    background-color: rgb(248, 216, 167);
    border-radius: 5px;
    
}
.imgtre{
  opacity: 1;
    
}
.radar{
    opacity: 0;
   
}

.box:hover .imgtre{
    animation-name:fadeOut;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    
}

.box:hover .radar{
    animation-name:fadeIn;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.imgtre{
    width: 50%;
}