@import '../base/font';
@import '../base/reset';
@import '../layout/header';


body {
    background-image: url("../image/background/BgPage.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}
.marWrap {
    font-family: $fofaText;
    
}

h1, h2, h3, h4 {
    text-shadow: .1px .1px .1px #443c3a;
}

span,a {
    color: rgb(15, 15, 15);
    font-size: 1rem;
}

img {
    width: 100%;
}

.clearfix {
    clear: both;
}

.marBanner{
    width: 100%;
    // height: 600px;
    text-align: center;
    margin: 50px 0 30px 0;

    .mlslBox {
        width: 50%;
        overflow: hidden;
        position: absolute;
        margin-left: -10%;
    }

    .marBoard {
        position: absolute;
        opacity: .65;
        transition: .6s;
        left: 7%;
        top: 420px;
        transform: perspective(1000px) rotateY(42deg) skewY(-12deg); 
        display: none;
    }

    .marBoard + .marBoard{
        left: 30%;
        top: 250px;
        transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(.5); 
    }

    .marBoard + .marBoard + .marBoard{
        left: 50%;
        top: 150px;
        transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(.3);
        opacity: 0;
    }

    .mlsl { 
        width: 120%;
        transition: .6s;
    }

    h1 {
        margin: 30px auto;
    }

    .marTitBox {
        width: 200px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        position: relative;

        .titFrame {
            position: absolute;
            margin: 3px 0 0 -46px;
            display: block;
            transform: translateX(0px);
            transition: 1s;
            width: 110px;
        }

        
    }

    .marTitBox + span {
        display: block;
        margin-top: 70px;
    }

    .marTitInBox {
        position: relative;
        margin: 20px 0 0 10%;
    }



    h2 {
        padding: 10px;
        margin: 0;
        transform: scale(.9);
    }

    .currentMar h2 {
        transform: scale(1);
        // font-weight: bold;
    }
}

.marMain {
    width: 100%;
}
.shipYard {
    position: relative;
    width: 100%;
    overflow: hidden;
    .marBorDec {
        position: absolute;
        bottom: -8px;
        width: 100%;
    }
    .shipYardCont {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 0 5%;
        width: 90%;
        
        .sYMList {
            width: 100%;
            margin-top: 30px;
        }
        
        .sYMTypeBox {
            position: relative;
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-radius: 4px;
            background-color: rgb(87, 73, 52);
            box-shadow: 0px 0px 1px 1px rgb(112, 102, 92),
                        0px 0px 6px 1px rgb(0, 0, 0) inset,
                        0 0 0 4px rgb(99, 89, 80);
        }

        .sYMerch {
            width: 30vw;
            padding: 0 1vw 0 1vw;
            box-sizing: border-box;
            border-radius: 4px;
        }

        .slick-slide {
            background-color: rgb(230, 222, 211);
            border-radius: 4px;
            margin: 2vw 0 0 3vw;
            transform: translateX(-55%);
        }

        .sYMerchImg {
            display: block;
            position: relative;
            overflow: hidden;
            transition: .6s;

            img {
                transform: scale(1.25);
                position: relative;
                top: 10px;
                left: -5vw;
            }

            .sYMerchHeadImg {
                top: -26px;
                left: 8vw;
            }
            .sYMerchBodyImg {
                transform: scale(1);
                top: -16px;
                left: -1vw;
            }
        }

        .typeHead .sYMerchImg img {
            top: -26px;
            left: 8vw;
        }

        .typeBody .sYMerchImg img {
            transform: scale(1);
            top: -16px;
            left: -1vw;
        }

        .sYMerch .sYMerchImg .visibleBtn {
            position: absolute;
            bottom: 0;
            left: auto;
            right: 3%;
            top: auto;
            transform: scale(1);
            width: 20%;
            display: none;
        }

        .sYMerch .sYMerchImg .unvisibleBtn {
            position: absolute;
            bottom: 2px;
            left: auto;
            right: 3%;
            top: auto;
            transform: scale(1);
            width: 20%;
            display: none;
        }

        .sYMerchIntroBox {
            margin-top: -15vw;
        }

        .sYIntroPrice {
            color: #a34f49;
        }

        .merchPartPrice {
            color: #a34f49;
        }

        .sYMerchText {
            text-align: center;
            margin: 20px 0 10px 0;
            span {
                color: rgb(48, 48, 48);
                margin-right: 1rem;
            }
            h3 {
                margin-bottom: 10px;
            }
            .sYIntroPrice {
                color: #a34f49;
            }
    
            .merchPartPrice {
                color: #a34f49;
            }
        }

        

        .sYMerchBtn {
            text-align: center;
            .btnpri {
                span {
                    padding: 10px 8px;
                }
            }
        }

        .mSSDCont {
            position: relative;
            #drawLineCanvas {
                display: none;
            }
            .sYMerchPreviewBox {
                width: 100%;
                z-index: 1;
                position: absolute;
                margin-top: 4vw;
                text-align: center;
                left: 100vw;
                transition: .6s;

                .sYMerchPreviewshelf {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    position: relative;
                    margin-top: 12vw;
                    border-radius: 4px;
                    padding-bottom: 15px;
                    background-color: rgb(212, 197, 175);
                    box-shadow: 0px 0px 1px 1px rgb(112, 102, 92),
                                0px 0px 6px 1px rgb(0, 0, 0) inset,
                                0 0 0 4px rgb(99, 89, 80);
                }
            }
            .sYShipPreviewBox {
                width: 100%;
                margin-top: -50px;
            }
        }

        .merchPartBox {
            width: 30%;
            text-align: center;
        }
        .sYbuymerchesBtn {
            margin-top: 10px;
            transition: .6s;
        }
        .sYClosePreviewBtn {
            position: absolute;
            right: 4vw;
            top: 13vw;
            font-size: 1.5rem;
        }

        .sYToolBox {
            padding: 10px 10px 10px 10px;
            display: flex;
            justify-content: flex-end;
            margin-top: -20px;
            position: relative;
            z-index: 1;
            a {
                h4 {
                    display: inline-block;
                    padding-left: 1rem;
                    color: #006ca6;
                }
                &:first-of-type span{
                    color: #a34f49;
                }
            }
        }

        .sYShipPreviewBox {
            position: relative;
            #sYHead {
                transition: .6s;
                position: absolute;
                z-index: 0;
            }
            #sYBody {
                transition: .6s;
            }
            #sYSail {
                transition: .6s;
                position: absolute;
                z-index: 0;
                top: 0;
            }
            .sYPreviewBtn {
                position: absolute;
                z-index: 0;
                right: 0;
                bottom: 3.5rem;
                img {
                    width: 1rem;
                    margin: 0 0 0 .5rem;
                }
            }
            .sYReverseBtn {
                position: absolute;
                right: 0;
                bottom: 2rem;
                img {
                    width: 1rem;
                    margin: 0 0 0 .5rem;
                }
            }
        }

        .merchHead {
            position: relative;
            order: 2;
            img {
                margin-left: 5.5vw;
                transform: scale(1.3);
                position: relative;
                left: 2.5vw;
            }
        }

        .merchBody {
            position: relative;
            order: 3;
            img {
                position: relative;
                top: 3vw;
            }
        }

        .merchSail {
            position: relative;
            order: 1;
            img {
                transform: scale(1.3);
                position: relative;
                top: 9vw;
                left: -5vw;
            }
        }
    }

}
.typeHot, .typeHead, .typeBody, .typeSail  {
    display: flex;
    flex-wrap: wrap;
}

.sYTypeTagBox {
    border-radius: 4px;
            background-color: rgb(212, 197, 175);
            box-shadow: 
                0 0 0 4px rgb(99, 89, 80),
                // 4px 4px 4px 0 #000
                ;
    width: 220px;
    margin-bottom: 2px;
    a {
        
        h4 {
            border-radius: 0px;
            background-color: rgb(212, 197, 175);
            box-shadow: 
                0px 0px 2px 1px rgb(0, 0, 0) inset,
                0 0 0 2px rgb(99, 89, 80);
            display: inline-block;
            padding: 10px 10px;
            
        }
        
    }
    .current_type h4{
        background-color: rgb(99, 89, 80);
        box-shadow: 
            // 0px 0px 6px 1px rgb(0, 0, 0) inset,
            0 0 0 2px rgb(99, 89, 80);
        color: #fff;
    }
}
.shipYard .shipYardCont .sYMerch .sYMerchImg .unvisibleBtn {
    bottom: auto;
    top: 25vw;
}
.SYremoveMerch {
    position: absolute;
    bottom: 2.5rem;
    right: 3%;
}
.SYPriceTag {
    color: #303030;
}


.merchPartintro h3 {
    margin-bottom: 10px;
}

.buyAllIntro {
    display: none;
}

.shipYard .shipYardCont .sYMTypeBox .ownedMerch {
    order: 1;
    background-color: #7c6648;
    .sYMerchImg {
        background-color: #ad9473;
    }
}

.ownedMerch .btnpri:hover .wave {
    animation-duration: 0s;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



@media screen and (min-width: 1024px){
    .marBanner {
        margin-top: 250px;
    }
    .shipYardCont {
        width: 1200px;
        margin: auto;
    }
    #headerMeShip img {
        width: auto;
    }
    .shipYard .shipYardCont {
        flex-direction: column;
        width: 100%;
        margin: auto;
        display: block;
    }
    .shipYard .shipYardCont .sYMList {
        width: 28%;
        margin-left: 30px;
        float: left;
    }
    .shipYard .shipYardCont .mSSDCont {
        width: 69%;
        float: left;
        margin-top: 60px;
    }
    .shipYard .shipYardCont .mSSDCont .sYShipPreviewBox {
        width: 50%;
        float: left;
        margin-top: -100px;
        #sYBody {
            position: relative;
        }
        #sYHead{
            z-index: 1;
        }
        #sYHead ,#sYBody, #sYSail {
            width: 120%;
            left: -20%;
        }
    }
    .shipYard .shipYardCont .sYMerch {
        width: 90%;
        margin: 10px 5%;
        display: flex;
        background-color: rgb(219, 204, 171);
        box-shadow: 1px 1px 4px 0px #000;
    }
    .shipYard .shipYardCont .currentPreview {
        box-shadow: 1px 1px 4px 0px #000,
                    0 0 4px 4px #574934,
                    0 0 4px 8px rgb(206, 108, 108);
    }
    .shipYard .shipYardCont .sYMerchImg {
        width: 50%;
        height: 100px;
        margin: 10px 10px 10px 0;
        background-color: rgb(235, 230, 214);
        border-radius: 4px;
        box-shadow: 1px 1px 4px 0px rgba(53, 53, 53, 0.3);
    }
    .shipYard .shipYardCont .sYMerchImg img {
        left: -16%;
        top: -4px;
        transition: .6s;
    }
    
    .shipYard .shipYardCont .sYMerchImg:hover .sYMerchHeadImg {
        transform: scale(1.40);
    }

    .shipYard .shipYardCont .sYMerchImg:hover .sYMerchBodyImg {
        transform: scale(1.12);
    }

    .shipYard .shipYardCont .sYMerchImg:hover .sYMerchSailImg {
        transform: scale(1.35);
    }

    .shipYard .shipYardCont .typeHead .sYMerchImg img {
        left: 27%;
        top: -27px;
    }
    .shipYard .shipYardCont .typeBody .sYMerchImg img {
        transform: scale(1.02);
        left: -1%;
        top: -45px;
    }
    .shipYard .shipYardCont .sYMerchIntroBox {
        margin: auto;
    }
    .shipYard .shipYardCont .sYMerchText {
        text-align: left;
        margin: 0 0 10px 0;
    }
    .shipYard .shipYardCont .sYMTypeBox {
        padding-top: 10px;
        height: 430px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 12px;
            background-color: #574934;
            box-shadow: 0px 0px 3px .5px rgba(0, 0, 0,.3);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #a19476;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
    }
    .shipYard .shipYardCont .mSSDCont .sYMerchPreviewBox {
        position: relative;
        left: auto;
        width: 40%;
        float: left;
        margin-left: 10%;
        margin-top: 36px;
    }
    .shipYard .shipYardCont .sYClosePreviewBtn {
        display: none;
    }
    .shipYard .shipYardCont .mSSDCont .sYMerchPreviewBox .sYMerchPreviewshelf {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .shipYard .shipYardCont .merchPartBox {
        width: 100%;
        text-align-last: left;
        display: flex;
        .merchPartImg {
            width: 30%;
            .sYMerchCircle {
                transition: .6s;
                position: absolute;
                top: 1vw;
                left: 0;
                width: 96px;
                height: 96px;
                border-radius: 50%;
                background-color: #bdaa8f;
                box-shadow: 
                            0px 0px 1px 1px #70665c,
                            0px 0px 20px 1px rgb(0, 0, 0) inset,
                            0 0 0 4px #635950,
                            0px 0px 10px 10px #ffffff;
            }
            
        }
        
    }
    
    .shipYard .shipYardCont .mydefaultHead .merchPartImg .sYMerchCircle {
        box-shadow: 
            0px 0px 1px 1px #70665c,
            0px 0px 6px 1px rgb(0, 0, 0) inset,
            0 0 0 4px #635950;
        background-color: #d6ccbd;
    }

    .shipYard .shipYardCont .mydefaultBody .merchPartImg .sYMerchCircle {
        box-shadow: 
            0px 0px 1px 1px #70665c,
            0px 0px 6px 1px rgb(0, 0, 0) inset,
            0 0 0 4px #635950;
        background-color: #d6ccbd;
    }
    .shipYard .shipYardCont .mydefaultSail .merchPartImg .sYMerchCircle {
        box-shadow: 
            0px 0px 1px 1px #70665c,
            0px 0px 6px 1px rgb(0, 0, 0) inset,
            0 0 0 4px #635950;
        background-color: #d6ccbd;
    }

    .merchPartintro h3 {
        color: #111111;
    }

    .mydefaultHead .merchPartintro h3 {
        color: #554e4d;
    }

    .mydefaultBody .merchPartintro h3 {
        color: #554e4d;
    }

    .mydefaultSail .merchPartintro h3 {
        color: #554e4d;
    }

    .shipYard .shipYardCont .merchHead img {
        margin-left: 0;
    }
    .shipYard .shipYardCont .mSSDCont .sYMerchPreviewBox .sYMerchPreviewshelf {
        background: transparent;
        box-shadow: none;
        margin-top: 0;
    }
    .shipYard .shipYardCont .merchBody img {
        top: 4px;
        left: -3px;
    }
    .shipYard .shipYardCont .merchSail img {
        top: 25px;
        left: -19%;
    }
    .shipYard .shipYardCont .sYShipPreviewBox .sYPreviewBtn {
        display: none;
    }
    .shipYard .shipYardCont .sYMerchBtn .btnpri span {
        padding: 10px 10px;
    }
    .shipYard .shipYardCont .merchHead img {
        left: 30%;
    }
    .merchPartintro {
        margin: 0 0 0 2rem;
        padding-top: 50px;
        width: 50%;
    }
    .SYremoveMerch {
        font-size: 1.5rem;
        position: relative;
        top: -70px;
        right: -6rem;
        display: none;
    }
    .merchPartBox:hover .SYremoveMerch{
        display: block;
    }
    .shipYard .shipYardCont .sYShipPreviewBox .sYReverseBtn {
        bottom: 5rem;
        z-index: 2;
        right: 30px;
    }
    .shipYard .shipYardCont .sYToolBox {
        position: absolute;
        right: 0;
        bottom: 34px;
        right: 20px;
    }
    .marBanner .marBoard {
        display: block;
        width: auto;
    }
    .merchPartintro h3 {
        margin-bottom: 10px;
    }
    .shipYard .shipYardCont .mSSDCont #drawLineCanvas {
        display: block;
        position: absolute;
    }
    .shipYard .shipYardCont .sYMerchImg .sYMerchHeadImg {
        left: 27%;
        top: -27px;
    }
    .shipYard .shipYardCont .sYMerchImg .sYMerchBodyImg {
        transform: scale(1.02);
        left: -1%;
        top: -45px;
    }
    .shipYard .shipYardCont .sYMerchImg .sYMerchSailImg {
        left: -16%;
        top: -4px;
    }
    .previewAnimation{
        animation-name: previewHead;
        animation-duration: .6s;
        animation-timing-function: ease;
    }
    @keyframes previewHead {
        from{
            left: -100%;
        }to{
            left: -10%;
        }
    }
    @keyframes previewBody {
        from{
            left: -100%;
        }to{
            left: -10%;
        }
    }
    @keyframes previewSail {
        from{
            left: -100%;
        }to{
            left: -10%;
        }
    }

    
.shipYard .shipYardCont .mydefaultHead:hover .merchPartintro .SYremoveMerch {
    display: none;
}
.shipYard .shipYardCont .mydefaultBody:hover .merchPartintro .SYremoveMerch {
    display: none;
}
.shipYard .shipYardCont .mydefaultSail:hover .merchPartintro .SYremoveMerch {
    display: none;
}
.shipYard .shipYardCont .sYMerch .sYMerchImg .unvisibleBtn {
    top: auto;
    bottom: 2px;
}
.shipYard .shipYardCont .sYMerch .sYMerchImg .unvisibleBtn {
    transition: 0s;
}
.shipYard .shipYardCont .currentPreview .sYMerchImg {
    background-color: #e7bb69;
}

.buyAllinfo {
    display: inline-block;
    font-size: .95rem;
    position: relative;
    bottom: 12px;
    margin-left: 1rem;
    color: #3f3f3f;
    transition: .6s;
}

.sYbuymerchesBtn:hover .buyAllinfo {
    // margin-left: 1rem;
}
}

@media screen and (min-width: 1200px) {
    .shipYard .shipYardCont .mSSDCont .sYShipPreviewBox #sYHead, .shipYard .shipYardCont .mSSDCont .sYShipPreviewBox #sYBody, .shipYard .shipYardCont .mSSDCont .sYShipPreviewBox #sYSail {
        left: -10%;
    }
    .shipYard .shipYardCont .sYShipPreviewBox .sYReverseBtn {
        bottom: 5rem;
        z-index: 2;
        right: 0;
    }
    .shipYard .shipYardCont {
        width: 1200px;
    }
    .shipYard .shipYardCont .sYToolBox {
        right: -10px;
    }
    .shipYard .shipYardCont .sYMerchBtn .btnpri span {
        padding: 10px 20px;
    }
    .shipYard .shipYardCont .sYMTypeBox {
        height: 500px;
    }
}

@media screen and (min-width: 1024px){
    .marMain {

        margin-bottom: 60px;
    }
}
//-----黑市