// 字型設定
@import '../base/font';
// reset
@import '../base/reset';
body {
    background-image: url(../image/background/BgPage.png);
    background-repeat: no-repeat;
		background-size: cover;
}
*{
	// outline: 1px solid red;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
#element1{display: none;}
#element3{display: none;}
#eleImg1{display: none;}
#eleImg3{display: none;}
#game{display: none;}
// #rank{display: none;}
// #rankArea{display: none;}
// #rankPaper{display: none;}
.p5Canvas{display: none;}

// #rankArea{display: none;}
// title
#playTitle {
	margin: 100px auto 50px;
	position: relative;
}
.s1 {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 375px;
}
.s2 {
  top: 810px;
	left: 0;
	position: absolute;
	text-align: center;
	display: inline-block;
	width: 375px;
}
#playTitleSec {
	width: 375px;
}
.titleSec {
	margin: 0 10px 50px;
}
.titFrame{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
}
#playTitleSec h2{
	top: 25px;
	margin-bottom: 25px;
}
#playTitleSec p{
	line-height: 1.5;
	letter-spacing: 1.5px;
	margin-top: 100px;
}
.myVideo{
	// position: absolute;
	width: 350px;
	height: 187px;
	top: -10px;
	left: -100px;
}
#gameArea{
	display: inline-block;
	position: relative;
	width: 355px;
	height: 500px;
	margin: 0 10px;
}
.blueArea{
	background-color: #114d7c;
	position: relative;
	top: -12px;
	height: 150px;
	width: 350px;
	text-align: center;
	color: white;
}
.ele p{
	text-align: left;
	display: inline-block;
	width: 120px;
	letter-spacing: 1px;
	line-height: 1.5;
	font-family: $fofaText;
}
.ele p:first-child{
	letter-spacing: 1.5px;
	font-size: 22px;
	width: 350px;
	text-align: center;
	margin-top: 25px;
}
#eleImg2{
  position: absolute;
  z-index: 4;
  left: 10px;
  top: 150px;
}
#gpsArea{
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 375px;
	height: 500px;
}
#gpsArea::before{
	content: '';
  display: block;
  position: absolute;
  background: url(../image/gpsGame/cloudLeft.png) no-repeat top left;
  background-size: auto;
	background-size: 100%;
	width: 300px;
	height: 300px;
	top: 110px;
	left: -100px;
	z-index: 3;
	animation-name: cloudLeftMove;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}
#gpsArea::after{
	content: '';
	display: block;
	position: absolute;
	background: url(../image/gpsGame/cloudRight.png) no-repeat bottom right;
	background-size: 100%;
	width: 200px;
	height: 200px;
	bottom: 0px;
	right: 0px;
	z-index: 3;
	animation-name: cloudRightMove;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}
#myMap{
	width: 300px;
	top: 150px;
	left: 30px;
	position: absolute;
	-webkit-mask-image: url(../image/play/block.svg);
  mask-image: url(../image/play/block.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
  -webkit-mask-position: center;
  mask-position: center;
}
#rankTitle {
  position: relative;
  width: 375px;
  margin: 100px auto 20px; }
#rankTitle h2 {
  top: 25px;
  margin-bottom: 80px;
}
#rankTitle p{
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
	text-align: center;
	line-height: 1.5;
}
#rankList{
  font-family: Adobe Heiti Std R;
  display: inline-block;
  float: left;
  width: 375px;
  height: 300px;
  background-color: #a6937c;
  outline: 7px #a6937c double;
}
#rankListBox1{
  position: relative;
  width: 375px;
  height: 120px;
}
#beforeArrow{
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}
#afterArrow{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 2px;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}
#gobefore{
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}
#gonext{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 22px;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}
#rankListBox1:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 3px;
  width: 375px;
  background-color: #fff;
}
#rankListTitle{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  display: inline-block;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 1.5em;
}
#rankListColName{
  position: absolute;
  bottom: 10px;
  width: 375px;
  left: 0px;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}
#rankListColName span:nth-child(1){
  margin-left: 20px;
}
#rankListColName span:nth-child(2){
  margin-left: 20px;
}
#rankListColName span:nth-child(3){
  margin-left: 150px;
}
/*rankListBox2*/
#rankListBox2{
  color: #fff;
}
.playerList{
  cursor: pointer;
  height: 50px;
  width: 370px;
  margin: 0 auto;
  font-size: 1.25em;
  position: relative;
}
.playerList:nth-child(1){
  margin-top: 10px;
}
.playerList span{
  line-height: 50px;
  position: absolute;
}
.playerList span:nth-child(1){left: 40px;}
.playerList span:nth-child(2){left: 77px;}
.playerList span:nth-child(3){left: 280px;}
.playerList:after{
  content:"";
  position: absolute;
  width: 375px;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
}
.spark{
	background-color: #000;
	border-radius: 10px;
}
.list4,.list5,.list6,.list7,.list8,.list9,.list10{display: none;}
#rankPaper{
  position: relative;
  display: inline-block;
  width: 375px;
  height: 400px;
}
// paperFrame
#paperFrame{
	position: relative;
	width: 240px;
	height: 320px;
	margin-top: 70px;
	margin-left: 50px;
	font-family: 王漢宗特明體繁;
}
.myBoat{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-68%);
}
.myName{
	text-align: center;
	width: 200px;
	font-size: 2em;
	position: absolute;
	top: 75%;
	left: 50%;
	letter-spacing: 1.75px;
	transform: translateX(-50%);
}
.myGrade{
	text-align: center;
	width: 197px;
	font-size: 1.5em;
	position: absolute;
	top: 87%;
	left: 50%;
	letter-spacing: 1.5px;
	transform: translateX(-50%);
}
// rank1~10
.rankFrame{
	transition: all 2s;
	border: 1px solid black;
	position: absolute;
	height: 320px;
}
.rank0{
	transform: scale(0.7);
	z-index: 0;
	top: 0px;
	left: 0px;
	box-shadow: 5px 5px #fff14e,
	-5px 5px #fff14e,
	5px -5px #fff14e,
	-5px -5px #fff14e;
}
.rank1{
	transform: scale(0.7);
	z-index: -1;
	top: -15px;
	left: 20px;
	box-shadow: 5px 5px #c1c1c1,
	-5px 5px #c1c1c1,
	5px -5px #c1c1c1,
	-5px -5px #c1c1c1;
}
.rank2{
	transform: scale(0.7);
	z-index: -2;
	top: -30px;
	left: 40px;
	box-shadow: 5px 5px #a86c48,
	-5px 5px #a86c48,
	5px -5px #a86c48,
	-5px -5px #a86c48;
}
.rank3{
	z-index: -3;
	top: -45px;
	left: 60px;
}
.rank3,.rank4,.rank5,.rank6,.rank7,.rank8,.rank9{display: none;}
// subtitle
@media screen and (min-width: 768px){
.list4,.list5,.list6,.list7,.list8,.list9,.list10{display: block;}
.rank3,.rank4,.rank5,.rank6,.rank7,.rank8,.rank9{display: block;}
#playTitle{margin: 100px auto;}
// titleSec
#choose{
	height: 100vh;
}
#playTitleSec {width: 1200px;margin: 0 auto 25px;}
.titleSec {
	margin: 0 10px 50px;
}
.s1 {margin: 0 10px;width: 750px;}
.s2 {
	position: relative;
	top: 0;
	margin: 0 10px;
	display: inline-block;
	width: 400px;
}
// GameOrGps
#myMap{
	width: 450px;
    top: 0px;
    left: 0px;
	position: absolute;
	-webkit-mask-image: url(../image/play/block.svg);
    mask-image: url(../image/play/block.svg);
     -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; 
    -webkit-mask-position: center;
    mask-position: center;
}
#gameOrGps{
	margin: 0 auto;
	width: 1200px;
	height: 500px;
}
#gameArea{width: 750px;}
#gpsArea{height: 500px;margin: 0 10px;}
#gpsArea::before{width: 350px;height: 350px;top: 0px;left: -100px;}
#gpsArea::after{width: 350px;height: 350px;bottom: 0px;right: -100px;}
#blackMap{
	transition: opacity 2s;
	z-index: 2;
	position: absolute;
	background-color: #456789;
	width: 450px;
	height: 500px;
	opacity: .6;
	-webkit-mask-image: url(../image/play/block.svg);
    mask-image: url(../image/play/block.svg);
     -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; 
    -webkit-mask-position: center;
    mask-position: center;
}
.ele{
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	background-color: #16a085;
	width: 450px;
	height: 500px;
	transition: all 1s ease;
}
#element1{
	display: inline-block;
	z-index: 2;
	-webkit-clip-path: polygon(50px 0, 0 250px, 50px 500px, 400px 500px, 450px 250px, 400px 0);
	left: 50px;
}
#element2{
	display: inline-block;
	z-index: 2;
	-webkit-clip-path: polygon(300px 0, 350px 250px, 300px 500px, 400px 500px, 450px 250px, 400px 0);
	left: 155px;
}
#element3{
	display: inline-block;
	z-index: 2;
	-webkit-clip-path: polygon(300px 0, 350px 250px, 300px 500px, 400px 500px, 450px 250px, 400px 0);
	left: 260px;
}
.blueArea{
	background-color: #114d7c;
	position: absolute;
	top: 350px;
	height: 150px;
	width: 450px;
	text-align: center;
	color: white;
}
#next{
	cursor: pointer;
	z-index: 5;
	position: absolute;
	right: 590px;
	bottom: 15px;
	font-size: 1.2em;
	color: #fffcf2;
	font-family: Adobe Heiti Std R;
}
#prev{
	cursor: pointer;
	z-index: 5;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 1.2em;
    color: #fffcf2;
    font-family: Adobe Heiti Std R;
}
#boat{
	position: absolute;
	z-index: 3;
	left: 300px;
	top: 100px;
	animation: gametop 2s infinite linear;
}
#infoArea{
	z-index: 2;
	position: absolute;
	top: 350px;
	height: 150px;
	width: 450px;
	text-align: center;
	color: white;
}
#eleImg1{
	display: block;
  position: absolute;
  z-index: 4;
  left: 110px;
  top: 310px;
}
#eleImg2{
  display: none;
  left: 215px;
  top: 310px;
}
#eleImg3{
  display: none;
  position: absolute;
  z-index: 4;
  left: 320px;
  top: 310px;
}
.black{
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .6;
  width: 450px;
  height: 500px;
}
#element1 .black{
  display: none;
}
.ele p:first-child{width: 450px;}
// gameTitle
#game{
	display: block;
	position: relative;
	height: 100vh;
}
#gameTitle{
	position: relative;
	height: 75px;
	width: 1200px;
	margin: 100px auto 100px;
}
#gameTitle h2{
	top: 25px;
}
#playArea{
  background-image: url(../image/iqtest/qabg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 560px;
  border: 2px solid #a6937c;
  outline: 7px #a6937c double;
}
#playShow span{
	color: $red;
	font-size: 1.2rem;
}
#playShow{
	background-image: url(../image/play/infobg.jpg);
    background-repeat: repeat;
    background-position: center;
	width: 550px;
	height: 430px;
	position: absolute;
	right: 10px;
	top: 10px;
	outline: 5px #a6937c double;
}
#playShow div{
	float: left;
	display: inline-block;
}
#playShow p{
	display: inline-block;
	font-size: 1.1rem;
	line-height: 1.4;
	padding-left: 5px;
    letter-spacing: 1.2px;
    $brown : #362e2b;
}
#playShow .infoImgDesc{
	position: relative;
	margin: 12px 24px 12px 0;
}
.infoImg{
	position: relative;
	animation: infoMove 2s linear infinite;
}
.infoImgDesc:after{
	content: "";
	background-color: #a6937c;
	height: 3px;
	bottom: -15px;
	width: 350px;
	position: absolute;
}
.infoImgDesc:nth-child(2):after{
	right: -1px;
}
.infoImgDesc:nth-child(4):after{
	right: 1px;
}
.infoImgDesc:nth-child(6):after{
	right: 15px;
	bottom: -35px;
}
.infoImgDesc:nth-child(8):after{
	height: 0;
}
#playShow .infoImg{
	margin: 12px 24px;
	margin-left: 150px;
}
#playShow .infoImgDesc:nth-child(2){
	width: 260px;
	height: 63px;
}
#playShow .infoImgDesc:nth-child(4){
	width: 152px;
	height: 45px;
}
#playShow .infoImgDesc:nth-child(6){
	width: 290px;
	height: 45px;
	margin-bottom: 40px;
}
#playShow .infoImgDesc:nth-child(8){
	width: 200px;
	height: 141px;
}
#playShow .infoImg:nth-child(1){
	background-image: url(../image/play/game/coin.png);
	width: 63px;
	height: 63px;
}
#playShow .infoImg:nth-child(3){
	background-image: url(../image/play/game/marine.png);
	width: 174px;
	height: 45px;
}
#playShow .infoImg:nth-child(5){
	background-image: url(../image/play/game/rock1.png);
	width: 50px;
	height: 69px;
}
#playShow .infoImg:nth-child(7){
	background-image: url(../image/play/game/treaBox.png);
	width: 140px;
	height: 141px;
}
#playnotice{
	text-align: center;
	width: 550px;
	height: 100px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#playnotice p{
	letter-spacing: 1.2px;
	line-height: 100px;
	font-family: $fofaText;
	font-size: 1.25rem;
	text-align: center;
	color: $red;
}
#blueAppear{
	z-index: 1;
	opacity: 0;
	position: absolute;
	top: 1000px;
	left: -350px;
	background: #114d7c;
	width: 450px;
	height: 556px;
}
/*rankTitle*/
#rankTitle {width: 1200px;margin: 100px auto 50px; }
/*rankArea*/
#rank{height: 100vh;}
#rankListBox1:after {width: 485px;}
#rankArea{
  margin: 0 auto;
  width: 1200px;
}
#rankList{width: 486px;height: 650px;margin: 0px 3px 7px 7px;}
#rankListColName span:nth-child(1) {margin-left: 40px;}
#rankListColName span:nth-child(2) {margin-left: 15px;}
#rankListColName span:nth-child(3) {margin-left: 240px;}
#rankPaper{
  position: relative;
  display: inline-block;
  width: 700px;
  height: 400px;
  margin-right: -4px;
}
#rankListColName{width: 490px;}
#rankListBox1{width: 490px;}
.playerList{width: 470px}
.playerList:after{width: 470px;}
.playerList span:nth-child(3) {
	left: 345px;
}
.playerList span:nth-child(2) {
	left: 120px;
}
#rankListColName span:nth-child(3) {
	margin-left: 195px;
}
#rankListColName span:nth-child(2) {
	margin-left: 40px;
}
/*paperArea*/

// paperFrame
#paperFrame{
	position: relative;
	width: 240px;
	height: 320px;
	margin-top: 200px;
	margin-left: 100px;
	font-family: 王漢宗特明體繁;
}
.myBoat{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-68%);
}
.myName{
	text-align: center;
	width: 200px;
	font-size: 2em;
	position: absolute;
	top: 75%;
	left: 50%;
	letter-spacing: 1.75px;
	transform: translateX(-50%);
}
.myGrade{
	width: 197px;
	font-size: 1.5em;
	position: absolute;
	top: 87%;
	left: 50%;
	letter-spacing: 1.5px;
	transform: translateX(-50%);
}
// rank1~10
.rankFrame{
	transition: all 2s;
	border: 1px solid black;
	position: absolute;
	height: 320px;
}
.rank0{
	transform: scale(1.05);
	z-index: 0;
	top: 0px;
	left: 0px;
	box-shadow: 5px 5px #fff14e,
	-5px 5px #fff14e,
	5px -5px #fff14e,
	-5px -5px #fff14e;
}
.rank1{
	transform: scale(1.02);
	z-index: -1;
	top: -15px;
	left: 20px;
	box-shadow: 5px 5px #c1c1c1,
	-5px 5px #c1c1c1,
	5px -5px #c1c1c1,
	-5px -5px #c1c1c1;
}
.rank2{
	transform: scale(1);
	z-index: -2;
	top: -30px;
	left: 40px;
	box-shadow: 5px 5px #a86c48,
	-5px 5px #a86c48,
	5px -5px #a86c48,
	-5px -5px #a86c48;
}
.rank3{
	z-index: -3;
	top: -45px;
	left: 60px;
}
.rank4{
	z-index: -4;
	top: -60px;
	left: 80px;
}
.rank5{
	z-index: -5;
	top: -75px;
	left: 100px;
}
.rank6{
	z-index: -6;
	top: -90px;
	left: 120px;
}
.rank7{
	z-index: -7;
	top: -105px;
	left: 140px;
}
.rank8{
	z-index: -8;
	top: -120px;
	left: 160px;
}
.rank9{
	z-index: -9;
	top: -135px;
	left: 180px;
}
// btn
.button_border{
	display: inline-block;
	position: absolute;
    transition: all .5s ease 1s;
    opacity: 1;
    width: 88px;
    height: 88px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    cursor: pointer;
}
.icon_movie {
    background-image: url('../image/play/iconMovie.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 24px;
    display: block;
    transition: all .4s;
}
.button_border:hover .border_in .icon_movie{
	transform:scale(.8);
}
.button_border:hover .border_in{
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}
.button_border:hover .border_out{
	animation: borderCircle 1s linear infinite;
}
.border_in {
	transition: 0.4s;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    display: block;
}
.border_in:hover {
	background-color: #fff;
}
.border_out {
    width: 88px;
    height: 88px;
    -webkit-animation: borderCircle 3s linear infinite;
    animation: borderCircle 3s linear infinite;
}
.border{
	fill: none;
	stroke: #fff;
}
// playArea
#playSpark{
	z-index: 4;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #33A6B8;
	width: 100vw;
	height: 100vh;
	margin: auto;
	transition: all 1s ease;
	-webkit-clip-path: circle(5px);
}
// video
.myVideo{
	position: absolute;
	width: 1200px;
	height: 600px;
	top: -10px;
	left: -100px;
}
// game
#defaultCanvas0{
	z-index: 10;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}
// animation
@keyframes gametop{
	0%{
		top: 100px;
	}
	50%{
		top: 130px;
	}
	100%{
		top: 100px;
	}
}
@keyframes cloudLeftMove {
        0%   {transform: translateX(0%);}
        25%   {transform: translateX(3%);}
        50%  {transform: translateX(5%);}
        75%  {transform: translateX(3%);}
        100% {transform: translateX(0%);}
}
@keyframes cloudRightMove {
    0%   {transform: translateX(0%);}
    25%   {transform: translateX(-10%);}
    50%  {transform: translateX(3%);}
    75%  {transform: translateX(-1%);}
    100% {transform: translateX(0%);}
}
@keyframes borderCircle{
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes infoMove{
	0%   {transform: translateY(0%);}
    25%  {transform: translateY(3%);}
    50%  {transform: translateY(5%);}
    75%  {transform: translateY(3%);}
    100% {transform: translateY(0%);}
}
}

