@import '../base/font';
@import '../base/reset';
@import '../layout/header';


body {
    background-image: url("../image/background/BgPage.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}
.marWrap {
    font-family: $fofaText;
    
}

h1, h2, h3, h4 {
    text-shadow: .1px .1px .1px #443c3a;
}

span,a {
    color: rgb(15, 15, 15);
    font-size: 1rem;
}

img {
    width: 100%;
}

.clearfix {
    clear: both;
}

h1, h2, h3, h4 {
    text-shadow: .1px .1px 0px #000;
}

span {
    color: #534c4c;
}

#headerMeShip img{
    width: auto ;
}

@keyframes upNDowns {
    0%{
        transform: rotate(20deg) translateX(-4%) translateY(-10px);
    }
    50%  { 
        transform: rotate(15deg) translateX(4%) translateY(10px); 
    }
    100%{
        transform: rotate(20deg) translateX(-4%) translateY(-10px);
    }
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){
    
}



///////////////////
