$red : #a34f49;
$blue : #006ca6;
$brown : #362e2b;
$beige: #fffcf2;
$darkred: #854c46;
$blockBord: #2a3439;
$lightBrown: #b6a79a;
$boxColor1: #f5ecdd;

//網站用字
$fofaTitle : 王漢宗特明體繁;
$fofaText : Adobe Heiti Std R;

