$red : #a34f49;
$blue : #006ca6;
$brown : #362e2b;
$beige: #fffcf2;

//網站用字
$fofaTitle : 王漢宗特明體繁;
$fofaText : Adobe Heiti Std R;

#login{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../../image/ship.png);
}