$red : #a34f49;
$blue : #006ca6;
$brown : #362e2b;
$beige: #fffcf2;
$darkred: #854c46;
$blockBord: #2a3439;
$lightBrown: #b6a79a;
$boxColor1: #f5ecdd;

//網站用字
$fofaTitle : 王漢宗特明體繁;
$fofaText : Adobe Heiti Std R;

//通報海軍
.navyReport{
    position: relative;
    background: $boxColor1;
    background-image: url(../../image/bar/anchor.svg);
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
    padding: 0px;
    border: 0px;
    box-shadow: 0px 2px 2px 0px $lightBrown,
                0px 2px 3px 1px #303030;
    @media screen and (min-width: $pc){
        height: 30px;
        width: 30px;
    }
    &::after{
        content: "通報海軍";
        display: none;
        position: absolute;
        top: -3rem;
        left: calc(30px - 4.8rem);
        background-color: $blue;
        width: 6rem;
        height: 2rem;
        font-size: 1rem;
        color: $beige;
        border-radius: 5px;
        line-height: 2rem;
    }
    &::before{
        content: "";
        display: none;
        position: absolute;
        top: -2.6rem;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 2.5rem 1rem 0 1rem;
        border-color: $blue transparent transparent transparent; 
    }
    &:hover{
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px #303030;
    }
    &:hover::before, &:hover::after{
        display: block;
    }
}